div#wrapper{
	background-color:#EEEEEE;
}
.header{
	background-color:#000033;
}
.picLeft{
float:left;	
}
.navi{
	float:left;
}
ul#globalnavi li{
list-style-type:none;
float:left;
padding:5px;
padding-left:30px;	
padding-top:40px;
}
.top{
position:relative;	
}
.top p{
	position:absolute;
	color:white;
	font-size:1.5em;	
	top:50%;
	left:50%;
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:(-50%,-50%);
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;
}
.top img{
	width:100%;
}
.infoTitle{
	margin-left:700px;
	margin-top:50px;
	width:500px;
}
.infoText{
	margin-left:300px;
	margin-bottom:50px;
	width:500px;
}
.flexcontainerOne{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 100px;
}
.picOne{
	width:600px;
	margin-bottom:50px;
}
.picTwo{
	width:700px;
}
.picOne img{
	width:600px;
}
.picTwo img{
	width:700px;
	padding-left: 30px;
}
.picThree{
	width:580px;
	margin-bottom:50px;
}
.picFour{
	width:700px;
}
.picThree img{
	width:570px;
}
.picFour img{
	width:700px;
	padding-left: 30px;
}
.flexcontainerTwo{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 90px;
}
.picFive{
	width:300px;
	margin-bottom:50px;
}
.picSix{
	width:300px;
}
.picFive img{
	width:300px;
	padding-left:20px;
}
.picSix img{
	width:300px;
	padding-left: 20px;
}
.picSeven{
	width:300px;
}
.picEight{
	width:300px;
}
.picSeven img{
	width:300px;
	padding-left: 20px
}
.picEight img{
	width:300px;
	padding-left: 20px;
}
.picBottom{
	position: relative;
}	
.picBottom p{
	position:absolute;
	color:gold;
	font-size:1.5em;
	top:0;
	left:0;
	top:30%;
	left:60%;
}
.picBottom img{
	width:100%;
}
div#pearlOne--Three{
	
}
div#footer{
	
}