div#wrapper{
	background-color:#EEEEEE;
}
.header{
	background-color:#000033;
	overflow: auto;
	width:1500px;
	height:100px;
}
.picLeft{
float:left;	
}
.size{
	font-size: 11px;
}
.navi {
    position: relative;
    width: 100%;
    height:50px;
    max-width: 1000px;
    margin: 0 auto;
}
.navi > li {
    float:left;
    width: 13%;
    height: 50px;
    line-height: 50px;
    background: rgb(29, 33, 19);
    list-style-type:none;
}
.navi > li a {
    display: block;
    color: #cc9933;
}
.navi > li a:hover {
    color:#cbb994;
}
ul.navi__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
ul.navi__third-level {
    visibility: hidden;
    opacity: 0;
}
ul.navi__fourth-level {
    visibility: hidden;
    opacity: 0;
}
ul.navi__fifth-level {
    visibility: hidden;
    opacity: 0;
}
ul.navi__sixth-level {
    visibility: hidden;
    opacity: 0;
}
.navi > li:hover {
    background: #cbb994;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.navi__second-level li {
    border-top: 1px solid #111;
}
.navi__third-level li {
    border-top: 1px solid #111;
}
.navi__second-level li a:hover {
    background: #111;
}
.navi__third-level li a:hover {
    background: #2a1f1f;
}
.navi__fourth-level li a:hover {
    background: #1d0f0f;
}
.navi__fifth-level li a:hover {
    background: #1d0f0f;
}
.navi__sixth-level li a:hover {
    background: #1d0f0f;
}
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navi:before,
.navi:after {
    content: " ";
    display: table;
}

.navi:after {
    clear: both;
}
.navi {
    *zoom: 1;
}
.navi > li.navi__single {
    position: relative;
}

li.navi__single ul.navi__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.navi__single:hover ul.navi__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}
.top{
position:relative;	
}
.top p{
	position:absolute;
	color:white;
	font-size:1.5em;	
	top:300px;
	left:700px;
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:(-50%,-50%);
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;
}
.top img{
	width:1450px;
}
.infoTitle{
	margin-left:700px;
	margin-top:50px;
	width:500px;
}
.infoText{
	margin-left:300px;
	margin-bottom:50px;
	width:1350px;
	margin-left:50px;
	background-color:#FFF
}
.flexcontainerOne{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 50px;
}
.picOne{
	width:600px;
	margin-bottom:50px;
}
.picTwo{
	width:700px;
}
.picOne img{
	width:600px;
}
.picTwo img{
	width:700px;
	padding-left: 30px;
}
.picThree{
	width:580px;
	margin-bottom:50px;
}
.picFour{
	width:700px;
}
.picThree img{
	width:570px;
}
.picFour img{
	width:700px;
	padding-left: 30px;
}
.flexcontainerTwo{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 50px;
}
.picFive{
	width:300px;
	margin-bottom:50px;
}
.picSix{
	width:300px;
}
.picFive img{
	width:300px;
	padding-left:20px;
}
.picSix img{
	width:300px;
	padding-left: 20px;
}
.picSeven{
	width:300px;
}
.picEight{
	width:300px;
}
.picSeven img{
	width:300px;
	padding-left: 20px
}
.picEight img{
	width:300px;
	padding-left: 20px;
}
.flexcontainerThree{
	width:1000px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 350px;	
	margin-top:100px;
}
.picBottom{
	position: relative;
}	
.picBottom p{
	position:absolute;
	color:gold;
	font-size:1.5em;
	top:0;
	left:0;
	top:50px;
	left:900px;
}
.picBottom img{
	width:1450px;
}
div#pearlOne--Three{
	
}
div#footer{
	background-color:#000033;
	overflow: auto;
	width:1450px;
}