div#wrapper{
	background-color:#EEEEEE;
}
.header{
	background-color:#000033;
	overflow: auto;
	width:1500px;
	height:100px;
}
.picLeft{
float:left;	
}
.size{
	font-size: 11px;
}
.navi {
  width: 450px;
  height: 40px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}
.navi li {
  position: static;←変えない
  list-style: none;
}
.navi li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #000033;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
 
}
.navi > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.navi > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
        position: relative;←変えない
}
.navi li ul {
  top: 40px;
  left: -40px;
  position: absolute;←変えない
  z-index:1;←変えない
}
.navi li ul li {
  overflow: hidden;
  height: 0;
  position: relative;
}
.navi li ul li a {
  border-top: 1px solid #eee;
}
.navi li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
  .navi li ul li ul {
    top: 0;
    left: 110px;
  }
.top{
position:static;←変えない
     
}
.top p{
    position:absolute;
    color:white;
    font-size:1.5em;    
    top:300px;
    left:700px;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:(-50%,-50%);
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    font-family:serif;
     
}
.top img{
    width:1450px;
    position: relative;←変えない
    z-index: 0;←変えない
 
}
.top p{
	position:absolute;
	color:white;
	font-size:1.5em;	
	top:300px;
	left:700px;
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:(-50%,-50%);
	transform:translate(-50%,-50%);
	margin:0;
	padding:0;
	font-family:serif;
}
.top img{
	width:1450px;
}
.infoTitle{
	margin-left:700px;
	margin-top:50px;
	width:500px;
}
.infoText{
	margin-left:300px;
	margin-bottom:50px;
	width:1350px;
	margin-left:50px;
	background-color:#FFF
}
dt{
	float:left;      
	padding-top : 10px;    
	padding-bottom : 10px;
	padding-left : 10px;
    width : 150px;
    clear:both;
    border-bottom:1px dotted #000;
}
dd{
  padding-top : 10px;
  padding-left : 10px;
  padding-right : 10px;
  padding-bottom : 10px;
  width : 1160px;
  margin-left : 160px;
  border-bottom:1px dotted #000;
}
.flexcontainerOne{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 50px;
	text-align:center;
	color:#000033
}
.picOne{
	width:600px;
	margin-bottom:50px;
	font-weight:bold; 
}
.picTwo{
	width:700px;
	font-weight:bold; 
}
.picOne img{
	width:600px;
}
.picTwo img{
	width:700px;
	padding-left: 30px;
}
.picThree{
	width:580px;
	margin-bottom:50px;
	font-weight:bold; 
}
.picFour{
	width:700px;
	font-weight:bold; 
}
.picThree img{
	width:570px;
}
.picFour img{
	width:700px;
	padding-left: 30px;
}
.flexcontainerTwo{
	width:1320px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding-left: 50px;
	text-align:center;
	color:#000033
}
.picFive{
	width:300px;
	margin-bottom:50px;
	font-weight:bold; 
}
.picSix{
	width:300px;
	font-weight:bold; 
}
.picFive img{
	width:300px;
	padding-left:20px;
}
.picSix img{
	width:300px;
	padding-left: 20px;
}
.picSeven{
	width:300px;
	font-weight:bold; 
}
.picEight{
	width:300px;
	font-weight:bold; 
}
.picSeven img{
	width:300px;
	padding-left: 20px
}
.picEight img{
	width:300px;
	padding-left: 20px;
}
.picBottom{
	background-image:url("../common/img/banner_09.jpg");
	width:1400px;
	height:400px;
}	
.picBottom p{
	color:gold;
	font-size:1.5em;
	top:0;
	left:0;
	top:50px;
	left:900px;
	padding-left:1000px;
	padding-top:100px;
}
.picBottom form{
	padding-left:1000px;
}
.flexcontainerThree{
	width:1000px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;	
	margin-top:100px;
	margin-bottom:100px;
	padding-left: 80px;
	margin-left:150px;
}
.pearl{
	font-weight:bold;
	color:#000033
}
.footer{
	background-color:#000033;
	overflow: auto;
	width:1450px;
	padding-top:50px;
	padding-bottom:50px;
}
.letter{
	color:#FFFFFF;
	padding-bottom:50px;
}