	body{
	
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','ＭＳ 明朝', 'MS Mincho', sans-serif;
	height:100%;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:100%;
}
div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}
div#glovalnav{
	list-style:none;
	padding-left:10%;
	padding-bottom:2%;
}
ul li{
	float:left;
	display: inline-block;
	width:180px;
}
div#maincolor{
	width:100%;
	background-color:#f2f2f2;
	overflow:hidden;
}
div#main{
	
	padding-top:3%;
	padding-left:11%;
	width:50%;
	float:left;

}
div#cover{
	background-color:#ffffff;
	margin-top:1%;
	margin-left:11%;
	width:48%;
	height:auto;
	float:left;
}




div#title1{
	padding-top:2%;
	margin-left:-1%;
}
div#text{
	width:95%;
}
div#text1{
	margin-left:5%;
}
div#title2{
	padding-top:2%;
	margin-left:-1%;
}
div#text2{
	margin-left:-1%;
}
div#title3{
	float:left;
	padding-top:1%;
	margin-left:-3%;
}
div#text3{
	margin-left:-1%;
	clear:both;
}
div#title4{
	float:left;
	padding-top:1%;
	margin-left:-3%;
}
div#text4{
	margin-left:-1%;
	clear:both;
}

div#title6{
	float:left;
	padding-top:1%;
	margin-left:-3%;
}
div#text6{
	margin-left:-1%;
	clear:both;
}



div#right{
	float:right;
	width:300px;
	padding-right:13%;
	padding-top:1.8%;
}
div#infobar {
	height:430px;
	background-color:#000033;
}
div#infobar p{
	color:#c5a05a;
	text-align: center;
}
div#facebook{
	
}
div#banner2{
	padding-top:5%;
}





div#title4img {
	margin-top:2%;
	margin-left:5%;
	float:left;
	width:40%;
}

div#title5img {
	margin-top:0%;
	margin-right:0%;
	float:right;
	width:40%;
}

div#title{
	padding-top:2%;
	margin-left:1%;
}
div#curriculum{
	clear:both;
	padding-top:2%;
	margin-left:3%;
	line-height: 1.4em;
}
div#curriculum p { 
	line-height: 1.4em;
	margin-right:2%;
}
div#curriculum img{
	float:left;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:3%;
}
.box1 {
    border: solid 2px #000000;
    height:auto;
    padding-bottom:1.5%;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
div#banner{
	clear:both;
	margin-left:3%;
	margin-top:3%;
}
