	body{
	
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','ＭＳ 明朝', 'MS Mincho', sans-serif;
	height:100%;
	line-height:1.5;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:100%;
}

div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}


div#glovalnav{
	padding-top:1%;
	padding-left:3%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	float:left;
	width:18%;
	font-size:16px;
	text-align: center;
}
div#glovalnav li+li{
	border-left: 1px solid #c5a05a;
}
.m1:hover{
	background:#f8f4e6;
}
.m1 {
	padding:0;
	height:5%;
}

div#maincolor{
	width:100%;
	background-color:#f2f2f2;
	overflow:hidden;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	width:50%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:28px;
	letter-spacing: 0.2em;
}

div#right{
	float:right;
	width:300px;
	padding-right:13%;
	padding-top:3%;
}
div#infobar {
	height:550px;
	background-color:#000033;
	padding-top:1%;
	padding-bottom:1%;
}
div#infobar p{
	color:#c5a05a;
	padding-top:3%;
	padding-left:8%;
	line-height: 1.5;
}
.m2:hover{
	background:#26264d;
}
.m2 {
	height:45px;
}
div#facebook{
	margin-top:10%;	
	margin-bottom:10%;	
}
div#facebook p{
	border-bottom: 1px solid black;
}
div#banner2{
width: 95%;
display: block;
margin:30px 0;
padding:2%;
background-color:#000033;
overflow: auto;	
}
div#banner2 p{
	color:#c5a05a;
	float:right;
	clear: both;

}
div#banner2 img{
text-align:left;
float:left;
margin: 0 5px 0 0;
}

div#cover{
	background-color:#ffffff;
	padding-top:1%;
	margin-left:11%;
	width:48%;
	height:auto;
	float:left;
}

div#title{
	padding-top:2%;
	margin-left:1%;
}

div#title1{
	padding-top:1%;
	margin-left:-1%;
}
div#text{
	width:95%;
	padding-left:2%;
}
div#text1{
	margin-left:5%;
}
div#title2{
	padding-top:2%;
	margin-left:-1%;
}
div#text2{
	margin-left:-1%;
}
div#title3{
	float:left;
	padding-top:1%;
	margin-left:-3%;
}
div#text3{
	margin-left:-1%;
	clear:both;
}
div#title4{
	float:left;
	padding-top:1%;
	margin-left:-3%;
}
div#title4img {
	margin-top:2%;
	margin-left:5%;
	float:left;
	width:40%;
}
div#text4{
	margin-left:-1%;
	clear:both;
}


div#title5 {
	padding-top:3%;
	padding-left:5%;
}

div#title5img {
	margin-top:0%;
	margin-right:0%;
	float:right;
	width:40%;
}
table{
	width:50%;
	line-height:1.2;
	text-indent:-1em;
}
table td{
	padding-top:0;
	padding-right:10%;
	padding-bottom:5%;
}
table ul{
	padding-left:0;
}	
table ul li{
	letter-spacing:1em;

}
table img{
	padding-top:0;
}


div#curriculum{
	clear:both;
	width:95.5%;
	padding-top:2%;
	margin-left:3%;
	line-height: 1.4em;
	overflow:auto;
}
div#curriculum p { 
	line-height: 1.4em;
	margin-right:2%;
}
div#curriculum img{
	float:left;
	
	padding-left:5%;
	padding-right:5%;
	padding-bottom:3%;
}
.box1 {
    border: solid 2px #000000;
    height:auto;
    padding-bottom:1.5%;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
div#banner{
	padding-top:1%;
}

div#banner{
	clear:both;
	margin-left:3%;
	margin-top:3%;
}
div #banner img:hover {
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
}


div#info{
	width:95%;

	margin-left:3%;
	margin-top:3%;
	background-color:#d2b48c;
}
div#info p{
	font-size:20px;
	letter-spacing: 0.1em;
	color:#ffffff;
	text-align: center;
	padding-top:2%;
	padding-bottom:2%;
}
div#info p:hover{
	color:#a9a9a9;
	line-height:1%;
}
div#info:hover{
	background-color:#ffffff;
	border:2px #a9a9a9 solid;
	line-height:1%;
}


div#infotext{
	width:95%;
	margin-left:3%;
	font-size:14px;
}

@media only screen and (max-width:1340px) {
div#title5 {
	padding-left:15%;
	width:40%;
	text-align:center;
}
}


@media only screen and (max-width:800px) {
div#main{
	padding-top:3%;
	padding-left:11%;
	width:50%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}
div#glovalnav ul li{
	list-style:none;
	width:36%;
	font-size:14px;
	text-align: center;
}


@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
	div#wrapper{
	width:100%;
	height:auto;
	}
	div#header{
	position:relative;
	width:100%;
	height:10%;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
	width:50%;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	width:50%;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}

div#glovalnav{
	padding-top:1%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	margin-top:2%;
	padding-left:8%;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	width:100%;
	font-size:16px;
	text-align: center;
	border: 1px solid #c5a05a;
}
div#main{
	padding-top:3%;
	padding-left:2%;
	width:90%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}


div#text{
	width:90%;
	padding-left:3%;
}
div#text1{
	padding-left:6%;
	width:85%;
}
div#title5 {
	padding-left:15%;
	width:40%;
}
div#curriculum{
	padding-top:2%;
	margin-left:3%;
	line-height: 1.4em;
	width:100%;
}
div#curriculum ul{ 
	padding-left:3%;
}
div#curriculum img{
	width:60%;
	padding-left:15%;
	padding-bottom:3%;
}
div#curriculum p{
	clear:both;
	padding-left:4%;
	width:98%;
}
div#info{
	width:95%;
	margin-left:5%;
	margin-top:3%;
	background-color:#d2b48c;
}
div#info p{
	font-size:20px;
	letter-spacing: 0.1em;
	color:#ffffff;
	text-align: center;
	padding-top:2%;
	padding-bottom:2%;
}
div#infotext{
	width:95%;
	margin-left:5%;
	font-size:14px;
}
div#right{
	width:300px;
	padding-right:10%;
	padding-top:3%;
}
div#cover{
	float:right;
	background-color:#ffffff;
	padding-top:1%;
	margin-left:9%;
	width:80%;
	height:auto;
	float:left;
}


div#title1{
	padding-top:1%;
	margin-left:1%;
}
div#text{
	width:95%;
	padding-left:0%;
}
}

