* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}
body{
	background-color: #d3d3d3;
}
a{
	text-decoration: none;
}
div#wrapper{
	width: 100%;
	margin: 0 auto;
}
div#header{
	width: 100%;
	height: 150px;
	background-color: #000033;
	border-bottom: 5px solid #c5a05a;
}
img#logo{
	width: 32%;
	padding-top: 2%;
	padding-left: 7%;
	margin-bottom: ;
	float: left;
}
ul#glovalnav{
	width: 100%;
	height: 60px;
	padding-left: 7%;
	background-color: #FFFFFF;
}
ul#glovalnav li{
	float: left;
	width: 12%;
	height: 40px;
	text-align: center;
	list-style-type: none;
	border-right: 1.5px solid gray;
	color: #000033;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul#glovalnav li a{
	font-weight: bold;
	color: #000000;
}
ul#glovalnav li#question{
	border-right: none;
}
div#container{
	width: 100%;
	margin-top: 5%;
}
div#left{
	width: 55%;
	float: left;
	padding-left: 15%;
}
div#title{
	width: 100%;
}
img#title{
	width: 100%;
}
h2{
	width: 50%;
	height: 60px;
	text-align: center;
	float: right;
}
div#contents{
	height: 1200px;
	background-color: #FFFFFF;
	margin-top: 3%;
	margin-bottom: 10%;
	margin-left: 2%;
	margin-right: 2%;
}
table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding-top: 8%;
	padding-left: 4%;
	padding-right: 4%;
}
th{
	width: 100%;
	font-size: 15px;
	text-align: left;
	vertical-align: baseline;
	border-bottom: 1.5px solid #c5a05a;
}
td{
	font-size: 15px;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 4%;
}
table, tbody, tr, th, td {
	display: block;
}
h4{
	text-align: center;
}
div#card{
	width: 30%;
	float: left;
	text-align: center;
	margin-left: 20%;
}
img#card{
	width: 60%;
}
div#card p{
	font-size: 8px;
}
div#badge{
	width: 30%;
	float: right;
	text-align: center;
	margin-right: 20%;
}
img#badge{
	width: 30%;
	padding-top: 6%;
	float: left;
}
div#badge p{
	font-size: 8px;
}
h3{
	width: 100%;
	float: left;
	text-align: center;
}
div#right{
	width: 40%;
	float: right;
	padding-right: 20%;
}
div#side_menu{
	width: 100%;
	background-color: #000033;
}
div#side_menu ul{
	height: 500px;
}
div#side_menu li{
	height: 60px;
	background: url(./common/img/pearl.png) no-repeat left;
	list-style-type: none;
	text-indent: 40px;
}
div#side_menu li a{
	background-color: #000033;
	color: #c5a05a;
	text-indent: 40px;
	padding-top: 10px;
}
div#icon{
	background-color: #000033;
}
div#icon a{
	color: #c5a05a;
}
div#footer{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #000033;
	color: #FFFFFF;
}
ul#footer_menu{
	width: 100%;
	margin: 0 auto;
	float: right;
}
ul#footer_menu li{
	float: left;
	list-style-type: none;
}
div#footer_info{
	width: 100%;
}
