	body{
	font-family:Yu Gothic UI,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:100%;
}
div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}

div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}


div#glovalnav{
	padding-top:1%;
	padding-left:3%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	float:left;
	width:18%;
	font-size:16px;
	text-align: center;
}
div#glovalnav li+li{
	border-left: 1px solid #c5a05a;
}
.m1:hover{
	background:#f8f4e6;
}
.m1 {
	padding:0;
	height:5%;
}

div#maincolor{
	width:100%;
	background-color:#f2f2f2;
	overflow:hidden;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	padding-bottom:1%;
	width:50%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:28px;
	letter-spacing: 0.2em;
}
div#right{
	float:right;
	width:300px;
	padding-right:13%;
	padding-top:3%;
}
div#infobar {
	height:550px;
	background-color:#000033;
	padding-top:1%;
	padding-bottom:1%;
}
div#infobar p{
	color:#c5a05a;
	padding-top:3%;
	padding-left:8%;
	line-height: 1.5;
}
.m2:hover{
	background:#26264d;
}
.m2 {
	height:45px;
}
div#facebook{
	margin-top:10%;	
	margin-bottom:10%;	
}
div#facebook p{
	border-bottom: 1px solid black;
}
div#banner2{
width: 95%;
display: block;
margin:30px 0px;
padding:2%;
background-color:#000033;
overflow: auto;	
}
div#banner2 p{
	color:#c5a05a;
	float:right;
	clear: both;
	padding-right:10%;
}	
div#banner2 img{
text-align:left;
float:left;
margin: 0 5px 0 0;
}
div#cover{
	background-color:#ffffff;
	padding-top:2%;
	margin-left:11%;
	width:48%;
	height:auto;
	float:left;
}
div#title{
	margin-top:1%;
	margin-left:1%;
}
div#title ul{
	margin-top:-2%;
}
div#purpose{
	margin-top:5%;
	margin-left:1%;
}
div#purpose img{
	margin-top:3%;

}

div#flow{
	margin-left:8%;
	margin-top:8%;
}
div#ja{
	display: inline-block;
	padding-top:-15%;
}
div#ja p{
	margin-left:25%;
	text-align: center;
	padding:1%;
    color: #ffffff;
    background: #a9a9a9;
}
div#ja ul{
	border-right:2px solid #000;
	margin-right:-20%;
}
div#ja ul li{
	list-style-type:none;
	text-align: center;
	padding-top:15%;
	padding-bottom:15%;

}
div#ja img{
	padding-left:35%;
}
div#sa{
	display: inline-block;
}
div#sa p{
	margin-left:35%;
	text-align: center;
	padding:1%;
    color: #ffffff;
    background: #a9a9a9;
}
div#sa ul{
	border-right:2px solid #000;
	margin-right:-10%;
}
div#sa ul li{
	list-style-type:none;
	text-align: center;
	padding-top:5%;
	padding-bottom:5%;
}
div#sa img{
	padding-left:35%;
}
div#sp{
	display: inline-block;
	list-style-type: none;
}
div#sp p{
	margin-left:35%;
	text-align: center;
	padding:1%;
    color: #ffffff;
    background: #a9a9a9;
}
div#sp ul li{
	list-style-type:none;
	text-align: center;
	padding-top:10%;
	padding-bottom:10%;
}
div#sp img{
	padding-left:35%;
}

div#footer{
	padding-top:2%;
	padding-bottom:3%;
    background-color:#000033;	
}
div#imageja{
	display: inline-block;
	padding-left:5%;
	position:relative;
}

div#imageja img{
	margin-top:10%;
}
div#imageja p{
	position: absolute;
	color: #ffffff;
	top:2%;
	left:43%;
	font-size: 24px;
}
div#imagesa{
	padding-left:6%;
	display: inline-block;
	padding-left:1%;
	position:relative;
}
div#imagesa img{
	margin-top:10%;
}
div#imagesa p{
	position: absolute;
	color: #ffffff;
	top:2%;
	left:35%;
	font-size: 24px;
}
div#imagesp{
	display: inline-block;
	padding-left:1%;
	position:relative;
}
div#imagesp img{
	margin-top:10%;
}
div#imagesp p{
	position: absolute;
	color: #ffffff;
	top:2%;
	left:35%;
	font-size: 24px;
}


