	body{
	font-family:'ＭＳ Ｐゴシック','MS PGothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:100%;
}
div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}

div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}


div#glovalnav{
	padding-top:1%;
	padding-left:3%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	float:left;
	width:18%;
	font-size:16px;
	text-align: center;
}
div#glovalnav li+li{
	border-left: 1px solid #c5a05a;
}
.m1:hover{
	background:#f8f4e6;
}
.m1 {
	padding:0;
	height:5%;
}

div#maincolor{
	width:100%;
	background-color:#f2f2f2;
	overflow:hidden;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	width:50%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:28px;
	letter-spacing: 0.2em;
}
div#right{
	float:right;
	width:300px;
	padding-right:13%;
	padding-top:3%;
}
div#infobar {
	height:550px;
	background-color:#000033;
	padding-top:1%;
	padding-bottom:1%;
}
div#infobar p{
	color:#c5a05a;
	padding-top:3%;
	padding-left:8%;
	line-height: 1.5;
}
.m2:hover{
	background:#26264d;
}
.m2 {
	height:45px;
}
div#facebook{
	margin-top:10%;	
	margin-bottom:10%;	
}
div#facebook p{
	border-bottom: 1px solid black;
}
div#banner2{
width: 95%;
display: block;
margin:30px 0;
padding:2%;
background-color:#000033;
overflow: auto;	
}
div#banner2 p{
	color:#c5a05a;
	float:right;
	clear: both;

}
div#banner2 img{
text-align:left;
float:left;
margin: 0 5px 0 0;
}
div#cover{
	background-color:#ffffff;
	padding-top:1%;
	margin-left:11%;
	width:48%;
	height:auto;
	float:left;
}

div#title{
	padding-top:2%;
	margin-left:1%;
}

div#flow{
	padding-left:5%;
}
div#ja{
	display: inline-block;
	list-style-type: none;
}
div#sa{
	display: inline-block;
	padding-left:5%;
	list-style-type: none;
}
div#sp{
	display: inline-block;
	list-style-type: none;
}