	body{
	font-family:Yu Gothic UI,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:100%;
}
div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}

div#header{
	position:relative;
	width:100%;
	height:20%;
	background-color:#000033;
	border-bottom:5px solid #c5a05a;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
}


div#glovalnav{
	padding-top:1%;
	padding-left:3%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	float:left;
	width:18%;
	font-size:16px;
	text-align: center;
}
div#glovalnav li+li{
	border-left: 1px solid #c5a05a;
}
.m1:hover{
	background:#f8f4e6;
}
.m1 {
	padding:0;
	height:5%;
}

div#maincolor{
	width:100%;
	background-color:#f2f2f2;
	overflow:hidden;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	padding-bottom:1%;
	width:50%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:28px;
	letter-spacing: 0.2em;
}
div#right{
	float:right;
	width:300px;
	padding-right:13%;
	padding-top:3%;
}
div#infobar {
	height:550px;
	background-color:#000033;
	padding-top:1%;
	padding-bottom:1%;
}
div#infobar p{
	color:#c5a05a;
	padding-top:2%;
	padding-left:8%;
	line-height: 1.5;
	line-height: 0.5em;
}
div#infobar p br{
	text-indent:-1em;
}
.m2:hover{
	background:#26264d;
}
.m2 {
	height:45px;
}
div#infobar img{
	margin-top:-3%;
}
div#facebook{
	margin-top:10%;	
	margin-bottom:10%;	
}
div#facebook p{
	border-bottom: 1px solid black;
}
div#banner2{
width: 95%;
display: block;
margin:30px 0px;
padding:2%;
background-color:#000033;
overflow: auto;	
}
div#banner2 p{
	color:#c5a05a;
	float:right;
	clear: both;
	padding-right:10%;
}	
div#banner2 img{
text-align:left;
float:left;
margin: 0 5px 0 0;
}
div#cover{
	background-color:#ffffff;
	padding-top:2%;
	margin-left:11%;
	width:48%;
	height:auto;
	float:left;
}
div#title{
	margin-top:1%;
	margin-left:1%;
}
div#title ul{
	margin-top:-2%;
}
div#purpose{
	margin-top:5%;
	margin-left:1%;
}
div#purpose img{
	margin-top:3%;

}

div#flow{
	margin-left:2%;
	margin-right:2%;
	padding-left:6%
	margin-top:8%;
	margin-bottom:5%;
	padding-bottom:5%;
}
div#ja{
	float:left;
    list-style-type: none;
    text-align: center;
    width:25%;
	padding-right:8%;
}
div#ja p{
	text-align: center;
	padding:1% 5%;
    padding-left:1%;
    margin-left:25%;
    width:90%;
    margin-top:5%;
}
div#ja ul{
	margin-top:1.5%;
    margin-right:2%;
    padding-left:0;
    padding-bottom: 45%;
text-align: center;
}
div#ja ul li{
	list-style-type:none;
    padding-top:10%;
    padding-bottom:10%;
margin-top:35%;
margin-bottom:15%;
}
div#ja img{
	margin-left:6%;
	padding-top:2%;
}
div#sa{
	float:left;
    list-style-type: none;
    text-align: center;
    width:40%;
border-right:1px solid #000;
border-left:1px solid #000;
padding-right:5%;
margin-top:-1.5%;
}
div#sa p{
	text-align: center;
	padding:1% 5%;
	padding-left:16%;
	padding-top:0.5%;
}
div#sa ul{
	 border-right:2px solid #000;
    margin-left:2%;
    padding-left:0;
	padding-top:3%;
}
div#sa ul li{
	list-style-type:none;
	text-align: center;
	padding-top:6%;
	padding-bottom:12%;
}
div#sa img{
	margin-top:-2%;
	margin-left:45%;
}
div#sp{
	 float:left;
    list-style-type: none;
    text-align: center;
    width:25%;
}
div#sp p{
	text-align: center;
	padding:1% 1%;
	padding-left:16%;
}
div#sp ul{
    margin-left:2%;
    padding-left:0;
}
div#sp ul li{
	list-style-type:none;
	text-align: center;
	padding-top:3%;
	padding-bottom:3%;
}
div#sp img{
	padding-left:14%;
}


div#footer{
	padding-top:2%;
	padding-bottom:3%;
    background-color:#000033;
    clear:both;	
    height:20%;
}
div#imageja{
	display: inline-block;
	padding-left:6%;
	position:relative;
	float:left;
	width:30%;
}

div#imageja img{
	margin-top:10%;
}
div#imageja p{
	position: absolute;
	color: #000033;
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif; 
	top:2%;
	left:38%;
	font-size: 24px;
}
img:hover {
	cursor:pointer;
    filter: alpha(opacity=60);        
    -ms-filter: "alpha(opacity=60)";
    opacity:0.6;
    zoom:1;
}
div#imagesa{
	padding-left:6%;
	padding-left:0.5%;
	position:relative;
	width:30%;
	float:left;
}
div#imagesa img{
	margin-top:10%;
}
div#imagesa p{
	position: absolute;
	color: #000033;
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif; 
	top:2%;
	left:30%;
	font-size: 24px;
}
img:hover {
	cursor:pointer;
    filter: alpha(opacity=60);        
    -ms-filter: "alpha(opacity=60)";
    opacity:0.6;
    zoom:1;
}
div#imagesp{
	padding-right:2%;
	position:relative;
	float:right;
	overflow: hidden;
	width:30%;
}
div#imagesp img{
	margin-top:10%;
}
div#imagesp p{
	position: absolute;
	color: #000033;
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif; 
	top:2%;
	left:26%;
	font-size: 24px;
}
img:hover {
	cursor:pointer;
    filter: alpha(opacity=60);        
    -ms-filter: "alpha(opacity=60)";
    opacity:0.6;
    zoom:1;
}


@media only screen and (max-width:1340px) {
	div#right{
    padding-right:10%;
}

div#imageja{
	padding-left:5%;
}
div#imagesa{
	padding-left:1%;
	margin-left:1%;
}

div#imagesp{
	float:right;
	padding-right:1%;
	margin-top:0%;
}


@media only screen and (max-width:1050px) {
div#header{
	width:100%;
	height:10%;
}	
div#glovalnav {
	padding-left:2%;
	width:100%;
}

div#main{
	padding-left:8%;
}
div#main p{
	font-size:18px;
}


div#right{
    padding-right:2%;
}
div#cover{
    margin-left:8%;
    padding-left:2%;
    width:46%;
}
div#flow{
	margin-left:2%;
	margin-right:2%;
	padding-left:6%
	margin-top:8%;
	margin-bottom:5%;
	padding-bottom:5%;
	width:55%;
}
div#flow p{
	margin-left:10%;
}
div#ja{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:25%;
	width:100%;
}
div#ja p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#ja ul{
	margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#ja ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
margin-top:15%;
margin-bottom:2%;
}
div#ja img{
	margin-left:2%;
	padding-top:2%;
}
div#sa{
	border:none;
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:0%;
	width:160%;
}
div#sa p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#sa ul{
	margin-top:-5%;
	margin-left:-2%;
    padding-left:-2%;
    padding-bottom: 1%;
	text-align: center;
}
div#sa ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:0%;

	margin-bottom:1%;
}
div#sa img{
	margin-left:-2%;
	padding-top:-2%;
}
div#sp{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:25%;
	width:100%;
}
div#sp p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#sp ul{
   margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#sp ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:15%;
	margin-bottom:2%;
}
div#sp img{
	padding-top:2%;
}
div#footer{
	padding-top:2%;
	padding-bottom:3%;
    clear:both;	
    height:60%;

}

div#imageja img{
	padding-top:5%;
	padding-left:15%;
}
div#imageja p{
	margin-left:16%;
}
div#imagesa img{
	padding-left:20%;
	margin-top:5%;
}
div#imagesa p{
	margin-top:1%;
	margin-left:25%;
}
div#imagesp img{
	margin-left:-21%;
	padding-top:35%;
}
div#imagesp p{
	margin-top:28%;
	margin-left:-5%;
}



@media only screen and (max-width:800px) {
div#right{
    padding-left:2%;
}


div#main{
	padding-top:3%;
	margin-left:2%;
	padding-left:3%;
	width:47%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}
div#cover{
    margin-left:5%;
	padding-left:5%;
    width:40%;
}

div#glovalnav {
	padding-left:2%;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	font-size:12px;
	text-align: center;
}

div#flow{
	margin-left:2%;
	margin-right:2%;
	padding-left:6%
	margin-top:8%;
	margin-bottom:5%;
	padding-bottom:5%;
	width:55%;
}
div#flow p{
	margin-left:10%;
}
div#ja{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:10%;
	width:100%;
}
div#ja p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#ja ul{
	margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#ja ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
margin-top:15%;
margin-bottom:2%;
}
div#ja img{
	margin-left:2%;
	padding-top:2%;
}
div#sa{
	border:none;
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:0%;
	width:160%;
}
div#sa p{
	text-align: center;
	padding:1% 5%;
	margin-left:-14%;
    margin-top:3%;
}
div#sa ul{
	margin-top:-5%;
	margin-left:-20%;
    padding-left:-10%;
    padding-bottom: 1%;
	text-align: center;
}
div#sa ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:0%;

	margin-bottom:1%;
}
div#sa img{
	margin-left:-2%;
	padding-top:-2%;
}
div#sp{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:10%;
	width:100%;
}
div#sp p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#sp ul{
   margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#sp ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:15%;
	margin-bottom:2%;
}
div#sp img{
	margin-left:-13%;
	padding-top:2%;
}
div#footer{
	background-color:#000033;
	width:112%;
	margin-left:-12%;
	padding-bottom:3%;
}
div#imageja{
	padding-left:20%;
}
div#imageja img{
	width:150%;
}
div#imageja p{
	margin-top:6%;
	padding-left:18%;
	width:100%;
}
div#imagesa{
	clear:both;
	padding-left:17%;
}
div#imagesa p{
	padding-left:18%;
	width:100%;
}
div#imagesa img{
	width:150%;
}


div#imagesp{
	padding-left:50%;
	margin-left:10%;
	margin-top:-12%;
	overflow: hidden;
}
div#imagesp p{
	top:-20%;
	left:25%;
}
div#imagesp img{
	width:150%;
	margin-left:-150%;
}


@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
	div#wrapper{
	width:100%;
	height:auto;
	}
	div#header{
	position:relative;
	width:100%;
	height:10%;
}
div#header img{
	position:absolute;
	top:20%;
	left:10%;
	width:50%;
}
div#main{
	padding-top:3%;
	padding-left:11%;
	width:50%;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}

div#glovalnav{
	padding-top:1%;
	padding-bottom:3%;
	width:80%;
}
div#glovalnav ul{
	font-size:0;
	margin-top:2%;
	padding-left:8%;
	width:100%;
}
div#glovalnav ul li{
	list-style:none;
	width:100%;
	font-size:16px;
	text-align: center;
	border: 1px solid #c5a05a;
}
div#main{
	padding-top:3%;
	padding-left:3%;
	width:90%;
	float:left;
}
div#main p{
	margin-top:-8.5%;
	padding-left:35%;
	font-size:18px;
	letter-spacing: 0.2em;
}
div#maincolor{
    display: flex;
    flex-direction: column;
}
div#maincolor div#main{
    order:1;
}
div#maincolor div#right{
    order:3;
}
div#maincolor div#cover{
    order:2;
}


div#right{
	width:300px;
	padding-left:15%;
	padding-top:3%;
}


div#cover{
	float:right;
	background-color:#ffffff;
	padding-top:1%;
	margin-left:7%;
	width:80%;
	height:auto;
	float:left;
}
div#title{
	margin-left:-7%;
	margin-top:5%;
}

div#porpose ul{
	margin-left:-10%;
}

div#flow{
	margin-left:2%;
	margin-right:2%;
	padding-left:6%
	margin-top:8%;
	margin-bottom:5%;
	padding-bottom:5%;
	width:55%;
}
div#flow p{
	margin-left:10%;
}
div#ja{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:25%;
	width:100%;
}
div#ja p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#ja ul{
	margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#ja ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
margin-top:15%;
margin-bottom:2%;
}
div#ja img{
	margin-left:2%;
	padding-top:2%;
}
div#sa{
	border:none;
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:0%;
	width:160%;
}
div#sa p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#sa ul{
	margin-top:-5%;
	margin-left:-2%;
    padding-left:-2%;
    padding-bottom: 1%;
	text-align: center;
}
div#sa ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:0%;

	margin-bottom:1%;
}
div#sa img{
	margin-left:-2%;
	padding-top:-2%;
}
div#sp{
	float:left;
    list-style-type: none;
    text-align: center;
	padding-left:25%;
	width:100%;
}
div#sp p{
	text-align: center;
	padding:1% 5%;
    padding-left:-5%;
    margin-top:3%;
}
div#sp ul{
   margin-top:-5%;
    margin-left:10%;
    padding-left:10%;
    padding-bottom: 3%;
	text-align: center;
}
div#sp ul li{
	list-style-type:none;
    padding-top:3%;
    padding-bottom:10%;
	margin-top:15%;
	margin-bottom:2%;
}
div#sp img{
	margin-left:-13%;
	padding-top:2%;
}
div#footer{
	background: none;
	padding-top:2%;
	padding-left:5%;
	padding-bottom:5%;
    clear:both;	
    width:110%;
}
div#imageja{
	padding-left:22%;
}
div#imageja p{
	top:8%;
	left:40%;
}
div#imagesa{
	padding-left:19.5%;
}
div#imagesa p{
	top:8%;
	left:35%;
}
div#imagesp{
	padding-left:50%;
	margin-left:10%;
	margin-top:-12%;
	overflow: hidden;
}
div#imagesp p{
	top:-20%;
	left:30%;
}
div#imagesp img{
	margin-left:-140%;
}
