body{
	background-color:#f2f2f2;
	font-family: MS　ゴシック;
	}
div#wrapper{
	width:100%;
	background-color:#f2f2f2;
	height:350%;
	overflow: hidden;
	}
div#header1{
	width:100%;
	background-color:#000033;
	padding-top:5px;
}
div#header1 img{
	padding-top:2%;
	padding-left:5%;
}
div#header1 ul{
	padding:0px;
	margin:0px;
	text-align:right;
	table-layout: fixed;
}
div#header1 ul li{
	display:inline-block;
	vertical-align:right;
	background-color:#000033;
	font-size:11px;
	margin-right:20px;
	margin-bottom:20px;
}

div#header2 {
	width:80%;
	margin-top:40px;
	padding-left:9%;
}
div#header2 img{
	width:100%;
	background-color:#ffffff;

}
ul {
	font-size:16px;	
	color:#ffffff;

	background-color:#000033;
	margin-bottom:0px;
}
hr{	
	margin-top:0px;
	margin-bottom:0px;
}

div#center {
	width:80%;
	margin-left:9%;	
	background-color:#ffffff;
	height:53%;
}
div#left_katachi {
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:7%;
	padding-bottom:3%;
}
div#left_katachi img{
	margin-left:50%;
	margin-top:-25%;
}
div#right_katachi {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-7%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#katachi{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:85px;
}
div#left_kizu {
	clear:both;
	padding-top:1%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:3%;
	padding-bottom:3%;
}
div#left_kizu img{
	margin-left:50%;
	margin-top:-18%;
	}
div#right_kizu {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-7%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#kizu{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:100px;
	}
div#left_iro {
	clear:both;
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:3%;
	padding-bottom:3%;
}
div#left_iro img{
	margin-left:50%;
	margin-top:-18%;
	}
div#right_iro {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-7%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#iro{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:40px;
}

div#left_maki {
	clear:both;
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:1%;
	padding-bottom:3%;
}
div#left_maki img{
	margin-left:50%;
	margin-top:-14%;
	}
div#right_maki {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-7%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#maki{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:110px;
}

div#left_teri {
	clear:both;
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:2%;
	padding-bottom:3%;
}
div#left_teri img{
	margin-left:50%;
	margin-top:-14%;
	}
div#right_teri {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-7%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#teri{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom:120px;
}

div#left_size {
	clear:both;
	padding-top:2%;
	padding-bottom:1%;
	margin-left:3%;
	width:170px;
	padding-top:3%;
	padding-bottom:3%;
}
div#left_size img{
	margin-left:50%;
	margin-top:-14%;
	}
div#right_size {
	margin-top:-7%;
	margin-left:-170px;
	margin-right:3%;
	padding-top:-6%;
	padding-bottom:3%;
	float:right;
	width:65%;
}
div#footer {
	width:auto;
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:120px;
	background-color:#000033;
	margin-left:-90px;
	margin-top:100px;
	height:100%;
}
div#footer img{
	width:auto;
	height:1.5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}

@media only screen and (max-width:479px) {
	body{
		margin:0;
	}
div#wrapper {
		margin-left:5px;
		margin-right:5px;
		width:auto;
		height:580%;
		overflow: hidden;
	}
div#wrapper img {
	width:100%;
	height:auto;
    }
 div#header1 {
 	width:100%;
    }
 div#header1 img{
 	width:80%;
 	height:auto;
 }
 div#header1 ul li{
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#000033;
	font-size:14px;
	margin-top:2%;
	padding-bottom:1%;
	width:40%;
}
div#top{
	margin-top:-5.5%;
}
 div#header2 {
 	width:100%;
 	margin-top:10px;
 	margin-left:-9%;
 }
ul {
	background-size: 100% auto;
	height: auto;
	padding-top: 15px;
	padding-bottom: 20px;
	word-break:keep-all;
	font-size: 1rem;
}
div#center{
	width:100%;
	margin-top:-15%;
	margin-left:-1%;
	height:76%;
}

div#left_katachi {
 	margin-top:15%;
 	height:4%;
 	margin-left:10%;
 	}
div#left_katachi img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
 div#right_katachi {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:7%;
 }
 div#katachi{
 	border-bottom: 1px solid #f2f2f2;
	padding-bottom:85%;
 }
 dd p{
  	width:125%;
	margin-left:9%;
}
div#left_kizu {
 	padding-top:1%;
 	height:4%;
 	margin-left:10%;
 	}
 div#left_kizu img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
 div#right_kizu {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:8%;
 }
div#kizu{
 	border-bottom: 1px solid #f2f2f2;
	padding-bottom:110%;
 }
div#left_iro{
 	padding-top:3%;
 	height:3%;
 	margin-left:10%;
 	}
div#left_iro img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
 div#right_iro {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:5%;
 }
div#iro{
 	border-bottom: 1px solid #f2f2f2;
	padding-bottom:70%;
 }
 div#left_maki {
 	padding-top:3%;
 	height:4%;
 	margin-left:10%;
 	}
 div#left_maki img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
div#right_maki {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:5%;
 }
div#maki{
 	border-bottom: 1px solid #f2f2f2;
	padding-bottom:118%;
 }
div#left_teri {
 	padding-top:3%;
 	height:4%;
 	margin-left:10%;
 	}
 div#left_teri img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
 div#right_teri {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:7%;
 }
div#teri{
 	border-bottom: 1px solid #f2f2f2;
	padding-bottom:100%;
 }
 div#left_size{
 	padding-top:3%;
 	height:4%;
 	margin-left:10%;
 }
  div#left_size img{
	padding-top:30%;
	margin-left:20%;
	width:150%;
}
 div#right_size {
 	margin-top:1%;
 	width:70%;
 	height:4%;
 	padding-right:25%;
	margin-left:-10%;
	margin-bottom:5%;
	height:6%;
 }

 div#footer {
	width:100%;
	clear:both;
	padding-top:-20px;
	padding-bottom:5px;
	padding-left:-50px;
	background-color:#000033;
	height:80%;
}
div#footer img{
	width:10%;
	height:auto;
}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}
}
