body{
	background-color:#f2f2f2;
	font-family: Meiryo;
	}
div#wrapper{
	width:100%;
	background-color:#f2f2f2;
	height:300%;
	overflow: hidden;
	}
div#header1{
	width:100%;
	background-color:#000033;
	padding-top:5px;
}

div#header1 ul 
{
font-size:0;}
li{
	display:inline-block;
	width:14%;
	background-color:#000033;
	font-size:12px;
	margin-top:20px;
	margin-bottom:10px;
}

div#header2 {
	width:80%;
	margin-top:40px;
	padding-left:9%;
}
div#header2 img{
	width:100%;
	background-color:#ffffff;
}
ul {
	font-size:16px;	
	color:#ffffff;

	background-color:#000033;
	margin-bottom:0px;
}
hr{	
	margin-top:0px;
	margin-bottom:0px;
}

div#center {
	width:80%;
	margin-left:9%;	
	background-color:#ffffff;
	height:45%;
}

div#left_katachi {
	padding-top:2%;
	padding-bottom:1%;
	margin-left:1%;
	height:4%;

}
div#right_katachi {
	margin-top:-5%;
	margin-bottom:3%;
	margin-left:1%;
	height:4%;
	padding-bottom:6%;
	border-bottom: 1px solid #f2f2f2;
}

div#left_kizu {
	margin-top:1%;
	margin-left:1%;
	height:4%;
}
div#right_kizu {
	margin-top:-5%;
	margin-left:1%;
	padding-bottom:6%;
	border-bottom: 1px solid #f2f2f2;
	height:4%;
}
div#left_iro {
	margin-top:1%;
	margin-left:1%;
	height:3%;
}
div#right_iro {
	margin-top:-3%;
	margin-left:1%;
	padding-bottom:6%;
	border-bottom: 1px solid #f2f2f2;
	height:3%;
}

div#left_maki {
	margin-top:1%;
	margin-left:1%;
	height:4%;
}
div#right_maki {
	margin-top:-5%;
	margin-left:1%;
	padding-bottom:6%;
	border-bottom: 1px solid #f2f2f2;
	height:4%;
}

div#left_teri {
	margin-top:1%;
	margin-left:1%;
	height:4%;
}
div#right_teri {
	margin-top:-3%;
	margin-left:1%;
	padding-bottom:6%;
	padding-bottom:7%;
	border-bottom: 1px solid #f2f2f2;
	height:4%;
}

div#left_size {
	margin-top:1%;
	margin-left:1%;
	height:4%;
}
div#right_size {
	margin-top:-3%;
	margin-left:1%;
	height:4%;
}
div#footer {
	width:auto;
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:120px;
	background-color:#000033;
	margin-left:-90px;
	margin-top:100px;
	height:100%;
}
div#footer img{
	width:auto;
	height:1.5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}

@media only screen and (max-width:479px) {
	body{
		margin:0;
	}
div#wrapper {
		margin-left:5px;
		margin-right:5px;
		width:auto;
		height:500%;
		overflow: hidden;
	}
div#wrapper img {
	width:100%;
	height:auto;
    }
 div#header1 {
 	width:100%;
    }
 div#header1 img{
 	width:100%;
 	height:auto;
 }
 div#header1 ul 
{
font-size:0;}
li{
	display:inline-block;
	width:40%;
	background-color:#000033;
	font-size:11px;
	margin-top:20px;
	margin-bottom:10px;
}
 div#header2 {
 	width:100%;
 	margin-top:10px;
 	margin-left:-9%;
 }
ul {
	background-size: 100% auto;
	height: auto;
	padding-top: 15px;
	padding-bottom: 20px;
	word-break:keep-all;
	font-size: 1rem;
}
div#center{
	width:100%;
	margin-top:-10%;
	margin-left:-1%;
	height:70%;
}

div#left_katachi {
 	margin-top:10%;
 	height:4%;
 	}
 	hr{
	display:none;
}

 div#right_katachi {
 	margin-top:-20%;
 	width:70%;
 	height:4%;
 }
 div#right_katachi dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
	height:4%;
 }
 dd p{
  	width:125%;
	margin-left:5%;
	text-indent:1em;
	font-size: -1rem;
}
div#left_kizu {
 	margin-top:60%;
 	height:4%;
 	}

 div#right_kizu {
 	width:70%;
 	margin-top:-20%;
 	height:4%;
 }
 div#right_kizu dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
 }
div#left_iro {
 	margin-top:70%;
 	height:5%;
 	}

 div#right_iro {
 	width:70%;
 	margin-top:-20%;
 	height:5%;
 }
 div#right_iro dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
}
 div#left_maki {
 	margin-top:30%;
 	height:4%;
 	}
div#right_maki {
 	width:70%;
 	margin-top:-15%;
 	height:4%;
 }
 div#right_maki dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
}
div#left_teri {
 	margin-top:70%;
 	height:4%;
 	}
 div#right_teri {
 	width:70%;
 	margin-top:-15%;
 	height:4%;
 }
div#right_teri dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
}
 div#left_size{
 	margin-top:70%;
 	height:4%;
 }
 div#right_size {
 	width:70%;
 	margin-top:-15%;
 	height:4%;
 }
 div#right_size dd{
	padding-right: 1%;
	margin-left:-6%;
	margin-bottom:5%;
}

 div#footer {
	width:100%;
	clear:both;
	padding-top:-20px;
	padding-bottom:5px;
	padding-left:-50px;
	background-color:#000033;
	height:80%;
}
div#footer img{
	width:10%;
	height:auto;
}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}
}
