body{
	background-color:#f2f2f2;
	font-family: Meiryo;
	}
div#wrapper{
	max-width:900px;
	width:100%;
	margin:0 auto;
	background-color:#ffffff;
	height:200%;
	overflow: hidden;
	}
div#header1{
	background-color:#000033;
	padding-left:10px;
	padding-top:5px;
}

div#header1 ul 
{
font-size:0;}
li{
	display:inline-block;
	width:14%;
	background-color:#000033;
	font-size:11px;
	margin-top:20px;
	margin-bottom:10px;
}

div#header2 {
	width:100%;
	margin-top:40px;
}
div#header2 img{
	width:80%;
}
ul {
	font-size:16px;	
	color:#ffffff;
	background-color:#000033;
	margin-bottom:0px;
}
hr{	
	margin-top:0px;
	margin-bottom:0px;
}

div#center {
	width:80%;
	margin:0 auto;
	height:180%;
	
}
div#left_katachi {
	margin-top:60px;
	margin-left:10px;
}

div#left_katachi hr{	
	margin-top:60px;
	margin-bottom:10px;
}

div#right_katachi {
	margin-top:-100px;
	margin-left:10px;
}
div#right_katachi dd{
	margin-top:10px;
}


div#left_kizu {
	margin-top:40px;
	margin-left:10px;
}
div#left_kizu hr
{
	margin-top:70px;
	margin-bottom:10px;
}
div#right_kizu {
	margin-top:-100px;
	margin-left:10px;
}

div#left_iro {
	margin-top:40px;
	margin-left:10px;
}
div#left_iro hr{
	margin-top:40px;
	margin-bottom:10px;
}
div#right_iro {
	margin-top:-80px;
	margin-left:10px;
}

div#left_maki {
	margin-top:50px;
	margin-left:10px;
}
div#left_maki hr
{
	margin-top:80px;
	margin-bottom:10px;
}
div#right_maki {
	margin-top:-120px;
	margin-left:10px;
}

div#left_teri {
	margin-top:50px;
	margin-left:10px;
}
div#left_teri hr {
	margin-top:80px;
	margin-bottom:10px;
}
div#right_teri {
	margin-top:-110px;
	margin-left:10px;
}

div#left_size {
	margin-top:50px;
	margin-left:10px;
}
div#right_size {
	margin-top:-20px;
	margin-left:10px;
}
div#footer {
	width:122.3%;
	clear:both;
	height: 120%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	background-color:#000033;
	margin-left:-90px;
	margin-top:100px;
}
div#footer img{
	width:auto;
	height:1.5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}

@media only screen and (max-width:479px) {
	body{
		margin:0;
	}
div#wrapper {
		margin-left:5px;
		margin-right:5px;
		width:auto;
		height:360%;
		overflow: hidden;
	}
div#wrapper img {
	width:100%;
	height:auto;
    }
 div#header1 {
 	width:100%;
    }
 div#header1 img{
 	width:90%;
 	height:auto;
 }
 div#header1 ul 
{
font-size:0;}
li{
	display:inline-block;
	width:40%;
	background-color:#000033;
	font-size:11px;
	margin-top:20px;
	margin-bottom:10px;
}
 div#header2 {
 	width:100%;
 	margin-top:10px;
 }
ul {
	background-size: 100% auto;
	height: auto;
	padding-top: 15px;
	padding-bottom: 20px;
	word-break:keep-all;
	font-size: 1rem;
}
div#center{
	margin-top:-10%;
	height:200%;
}
 div#right_katachi {
 	width:80%;
 	margin-top:-15%;
 	
 }
 div#right_katachi dd{
	padding-right: 1%;
	margin-left:5%;
	margin-bottom:5%;
 }
 dd p{
  	width:125%;
	margin-left:5%;
	text-indent:1em;
	font-size: -1rem;
}
hr{
	display:none;
}

 div#right_kizu {
 	width:80%;
 	margin-top:-15%;
 }
 div#right_kizu dd{
	background-size: 100% auto;
	height: auto;
	margin-bottom:0%;
	padding-right: 10px;
	margin-left:10%;
 }

 div#right_iro {
 	width:80%;
 	margin-top:-15%;
 }
 div#right_iro dd{
	background-size: 100% auto;
	height: auto;
	margin-bottom: -5%;
	padding-right: 10px;
 }
div#right_maki {
 	width:80%;
 	margin-top:-15%;
 }
 div#right_maki dd{
	background-size: 100% auto;
	height: auto;
	margin-bottom: -10%;
	padding-right: 10px;
 }
 div#right_teri {
 	width:80%;
 	margin-top:-15%;
 }
 div#right_teri dd{
	background-size: 100% auto;
	height: auto;
	padding-bottom:-10%;
	padding-right: 10px;
 }
 div#left_size{
 	margin-top:10%;
 }
 div#right_size {
 	width:80%;
 	margin-top:-15%;
 }
 div#right_size dd{
	background-size: 100% auto;
	height: auto;
	padding-bottom: -20px;
	padding-right: 10px;
 }
 div#footer {
	width:150%;
	clear:both;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:90px;
	background-color:#000033;
	height:180%;
	overflow: hidden;
}
div#footer img{
	width:10%;
	height:auto;
}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}
}
