body{
	background-color:#f2f2f2;
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
	}
div#wrapper{
	max-width:1900px;
	width:100%;
	background-color:#f2f2f2;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:15px;
		left:40px;
	}
	div#list {
		position:absolute;
		top:60px;
		right:15px;
	}
	ul li{
		float:left;
		list-style-type: none;
		width:88px;
		font-family:'Segoe UI Symbol',  sans-serif;
	}
	div#main{
	width:95%;
	}
	div#mainArea{
		width:90%;
		margin-top:8%;
		padding-left:8%;
	}
	div#mainArea ul {
	font-size:20px;	
	color:#ffffff;
	padding-top:1%;
	padding-bottom:1%;
	background-color:#000033;
	margin-bottom:0px;
}
div#cover {
	width:90%;
	margin-left:8%;
	margin-top:-2%;
	background-color:#ffffff;
	height:auto;
}
div#text{
	width:73%;
	margin-left:10%;
}
div#title ul{
	padding-top:5%;
	padding-bottom:3%;
	padding-left:25%;
}
div#title p{
	text-align:right;
}
div#title1 ul{
	padding-left:0;
}
div#text1{
	font-size:15px;
	line-height:1.5em;
}
div#title2 ul{
	padding-left:0;
}
div#text2{
	font-size:15px;
	line-height:1.5em;
}
div#title3 ul{
	padding-left:0;
}
div#text3{
	font-size:15px;
	line-height:1.5em;
}
div#title4 ul{
	padding-left:0;
}
div#text4{
	font-size:15px;
	line-height:1.5em;
}
div#title5 ul{
	padding-left:0;
}
div#text5{
	font-size:15px;
	line-height:1.5em;
}
div#title6 ul{
	padding-left:0;
}
div#text6 ul{
	padding-left:0;
}
div#text6{
	font-size:15px;
	line-height:1.5em;
}
div#title7 ul{
	padding-left:0;
}
div#text7 ul{
	padding-left:0;
}
div#text7 {
	border-bottom: 1px solid gray;
	padding-bottom:3%;
	font-size:15px;
	line-height:1.5em;
}
div#title8 ul{
	padding-left:40%;
}
div#text8 p{
	text-align: right;
}
div#title9 ul{
	padding-left:0;
}
div#title10 ul{
	padding-left:0;
}
div#title11 ul{
	padding-left:0;
}

div#picture{
	width:100%;
	display: table;
	table-layout:fixed;
}
div#akoya{
	display: table-cell;
	padding-right:5%;
	
}
div#akoya p{
	font-size:15px;
	padding-right:5%;	
}
div#g7 {
	display: table-cell;
	padding-right:5%;
	
}
div#g7 p{
	font-size:15px;
}
div#card {
	display: table-cell;
	margin-top:-30%;
	vertical-align: middle;
}
div#card p{
	font-size:15px;
}
div#right{
	float:right;
	font-size:15px;
}
div#footer {
	width:100%;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	background-color:#000033;

}
div#footer img{
	width:auto;
	height:5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}
