
body{
	background-color:#f2f2f2;
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック','MS Gothic', sans-serif;
	height:auto;
	margin:0;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	background-color:#f2f2f2;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:15px;
		left:40px;
	}
	div#list {
		position:absolute;
		top:60px;
		right:15px;
	}
	ul li{
		float:left;
		list-style-type: none;
		width:88px;
		font-family:'Segoe UI Symbol',  sans-serif;
	}
	div#main{
	width:95%;
	}
	div#mainArea{
		width:90%;
		margin-top:8%;
		padding-left:8%;
		height:auto;
	}
	div#mainArea ul {
	font-size:20px;	
	color:#ffffff;
	padding-top:1%;
	padding-bottom:1%;
	background-color:#000033;
}
div#cover {
	width:90%;
	margin-left:8%;
	margin-top:-2%;
	background-color:#ffffff;
	height:auto; 
}
div#text{
	width:76%;
	margin-left:12%;
}
div#title ul{
	padding-top:5%;
	padding-bottom:3%;
	padding-left:20%;
}
div#title p{
	text-align:right;
}
div#title1 ul{
	padding-left:0;
}
div#text1{
	font-size:15px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title2 ul{
	padding-left:0;
}
div#text2{
	font-size:14px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title3 ul{
	padding-left:0;
}
div#text3{
	font-size:15px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title4 ul{
	padding-left:0;
}
div#text4{
	font-size:14px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title5 ul{
	padding-left:0;
}
div#text5{
	font-size:14px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title6 ul{
	padding-left:0;
}
div#text6 ul{
	padding-left:0;
}
div#text6 ul li{
	padding-top:-1%;
}
div#text6{
	font-size:14px;
	line-height:1.5em;
	margin-top:-1%;
	padding-bottom:0.5%;
}
div#title7 ul{
	padding-left:0;
}
div#text7 ul{
	padding-left:0;
}
div#text7 {
	border-bottom: 1px solid gray;
	padding-bottom:3%;
	font-size:14px;
	line-height:1.5em;
	margin-top:-1%;
}
div#title8 ul{
	padding-left:40%;
}
div#text8 p{
	text-align: right;
}
div#title9 ul{
	padding-left:0;
}
div#text9 p{
	font-size:14px;
	line-height:1.5em;
	letter-spacing:-0.05em
}
div#title10 ul{
	padding-left:0;
}
div#text10 p{
	font-size:14px;
	line-height:1.5em;
	letter-spacing:-0.05em
}
div#title11 ul{
	padding-left:0;
}
div#text11 p{
	font-size:14px;
	line-height:1.5em;
	letter-spacing:-0.05em
}


div#akoya{
	padding-right:5%;
	width:30%;
	height:auto;
	float:left;
	
}
div#akoyatext p {
	font-size:14px;
	padding-right:5%;	
}
div#g7 {
	width:30%;
	height:auto;
	float:left;
	
}
div#g7 p{
	font-size:14px;
}
div#card {
	width:30%;
	height:auto;
	
	float:right;
}
div#card p{
	font-size:14px;
}
div#right{
	float:right;
	font-size:15px;
	clear:both;
}
div#right p{
	text-align:right;
}
div#footer {
	width:100%;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	background-color:#000033;

}
div#footer img{
	width:auto;
	height:5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}

@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
	div#wrapper{
	width:100%;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:3%;
		left:4%;
	}
	div#text1{
		width:100%;
		position:static;
	}
	div#text1 ul{
		width:100%;
		padding-left:0;
	}
	div#text1 ul li{
		display:block;
		list-style-type: none;
		text-align: center;
		font-family:'Segoe UI Symbol',  sans-serif;
		width:100%;
		background-color:#000033;
		font-size:12px;
		color:#ffffff;
		padding-top:7%;
		padding-bottom:1%;
		border-top:1px solid #FFFFFF;
		margin-left:0;
		float:none;
	}