body{
	background-color:#f2f2f2;
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
	}
div#wrapper{
	max-width:1900px;
	width:100%;
	background-color:#f2f2f2;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:15px;
		left:40px;
	}
	div#text1 {
		position:absolute;
		top:60px;
		right:15px;
	}
	ul li{
		float:left;
		list-style-type: none;
		width:88px;
		font-family:'Segoe UI Symbol',  sans-serif;
	}