* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background-color: #F6F6F6;
}
div#wrapper{
	width: 100%;
	margin: 0 auto;
}
div#header{
    width: 100%;
    height: 140px;
	background-color: #1B2051;
}
img#logo{
	width: 42%;
	padding-top: 1.5%;
	padding-left: 12%;
	margin-bottom: 0;
	clear:both;
}
div#glovalnav{
	width: 110%;
	margin-top: 0;
    margin-bottom: 0;
	overflow: hidden;
}
div#glovalnav ul{
	float: right;
	width: 60%;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: %;
	padding-right: 0;
}
div#glovalnav li{
	background-color: #1B2051;
	float: left;
	width: 10%;
	text-align: center;
	list-style-type: none;
}
div#glovalnav li a{
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bolder;
	text-decoration: none;
}
li.poricy{
	width: 16% !important;
}
li span{
	font-size: 1px;
}
img#head-img{
	width: 100%;
	height: auto;
}
div#container{
	width: 100%;
}
div#contents{
	background-color: #FFFFFF;
	width: 80%;
	margin: 0 auto;
	margin-top: 7%;
	margin-bottom: 5%;
}
h2{
	background-color: #1B2051;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 2%;
	margin-bottom: 0;
}
h2 span{
	font-size: 13px;
}
h3{
	background-image: url("img/neckless.jpg");
	background-repeat: no-repeat;
	background-size: auto 102%;
	background-position: 0px 0px;
	display: block;
	font-size: 30px;
	font-weight: normal;
	text-align: right;
	margin: 0;
	margin-bottom: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 25%;
}
hr{
	margin: 0;
	border-top: 2px solid;
}
table{
	width: 80%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 8%;
	clear:both;
}
th{
	width: 10%;
	font-size: 14px;
	text-align: left;
	vertical-align: baseline;
	border-bottom: 1px solid #000000;
	padding-top: 2%;
	padding-bottom: 15%;
	padding-left: 1%;
}
td{
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #000000;
	padding-top: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}
th.robu{
	border-bottom: none;
}
td.pic-robu{
	border-bottom: none;
}
td.text-robu{
	border-bottom: none;
}
td.pic{
	width: 20%;
}
td img{
	width: 100%;
}
td.text{
	width: 60%;
}
div#footer{
	width: 100%;
	background-color: #1B2051;
}
div#address{
	padding-top: 3%;
	padding-left: 7%;
}
div#footer p{
	color: #FFFFFF;
	font-size: 10px;
}
div#icon{
	padding-top: 1.5%;
	padding-left: 7%;
	padding-bottom: 5%;
}
img#fb{
	width: 2%;
	margin-right: 0.5%;
}
img#twitter{
	width: 2%;
	margin-right: 0.5%;
}
img#okage{
	width: 8%;
}


@media only screen and (max-width:900px) {
div#header{
	height: 120px;
}
img#logo{
	width: 50%;
	height: auto;
	padding-top: 1.5%;
	padding-left: 3%;
}
div#glovalnav ul{
	width: 100%;
	padding-left: 20%;
}
div#glovalnav li{
	width: 10%;
}
div#glovalnav li a{
	font-size: 10px;
}
h3{
	font-size: 20px;
	padding-right: 20%;
}
td{
	font-size: 12px;
}
}


@media only screen and (max-width: 479px) {
body{
	margin: 0;
}
div#wrapper{
	margin-left: 8px;
	margin-right: 8px;
	width:  auto;
}
div#header{
	height: 240px;
}
img#logo{
	width: 90%;
	height: auto;
	padding-left: 5%;
}
div#glovalnav{
	width: 100%;
	clear: both;
}
div#glovalnav ul{
	width: 100%;
	float: left;
	padding-left: 0;
}
div#glovalnav li{
	width: 100%;
	border-top: 0.5px solid #4B5081;
}
li.poricy {
    width: 100% !important;
}
div#contents{
	width: 95%;
	margin-bottom: 15%;
}
h2{
	width: 100%;
	height: auto;
	font-size: 16px;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 3%;
}
h2 span{
	font-size: 14px;
}
h3{
	height: auto;
	font-size: 15px;
	padding-right: 10%;
}
table{
	width: 80%;
	display: block;
	margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
tbody{
	width: 100%;
}
tr{
	display: block;
}
th{
	width: 100%;
	display: block;
	border-bottom: none;
	padding: 5% 1%;
}
td{
	display: block;
	border-bottom: none;
	padding: 5% 1%;
}
td.pic{
	width: 100%;
}
td img{
	width: 100%;
}
td.text{
	width: 100%;
}
.text{
	border-bottom: 1px solid #000000;
}
div#address{
	width: 100%;
	padding-top: 5%;
	padding-left: 7%;
}
div#footer p{
	width: 100%;
	font-size: 8px;
}
div#icon{
	width: 100%;
	padding-top: 3%;
	padding-bottom: 10%;
	padding-left: 7%;
}
img#fb{
	width: 8%;
}
img#twitter{
	width: 8%;
}
img#okage{
	width: 30%;
}