body{
	background-color:#f2f2f2;
	font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
	}
div#wrapper{
	max-width:1900px;
	width:100%;
	background-color:#f2f2f2;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:15px;
		left:40px;
	}
	div#text1 {
		position:absolute;
		top:60px;
		right:15px;
	}
	ul li{
		float:left;
		list-style-type: none;
		width:88px;
		font-family:'Segoe UI Symbol',  sans-serif;
	}
	
	
	div#main{
	width:95%;
	}
	div#mainArea{
	width:90%;
	margin-top:8%;
	padding-left:8%;
	}
	div#mainArea ul {
	font-size:20px;	
	color:#ffffff;
	padding-top:1%;
	padding-bottom:1%;
	background-color:#000033;
	margin-bottom:0px;
}
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
div#text2 {
		margin-left:35%;
		margin-top:-20%;
		letter-spacing:0.3em;
		width:50%;
		height:28%;
		font-size:42px;
		color:#ffffff;
	}
 div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-10%;
	background-color:#ffffff;
	height:100%;
 	}
 	div#downloadtext1 ul{
 		margin-left:-2%;
 	}
 	div#download1 {
 	padding-top:5%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download2 li{
 		margin-left:37%;
 	}
 	div#download2 {
 	padding-top:1%;
 	padding-bottom:1%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download3 li{
 		margin-left:37%;
 	}
 	div#download3 {
 	padding-top:1%;
 	padding-bottom:1%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download4 li{
 		margin-left:37%;
 	}
 	div#download4 {
 	padding-top:1%;
 	padding-bottom:1%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download5 li{
 		margin-left:37%;
 	}
 	div#download5 {
 	padding-top:1%;
 	padding-bottom:1%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
	div#footer {
	width:auto;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	background-color:#000033;

}
div#footer img{
	width:auto;
	height:5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}
@media only screen and (max-width:1200px) {
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
div#text2 {
		margin-left:35%;
		margin-top:-15%;
		letter-spacing:0.3em;
		width:auto;
		height:25%;
		font-size:28px;
		color:#ffffff;
	}
		div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-12%;
	background-color:#ffffff;
	height:100%;
 	}
	}
@media only screen and (max-width:1050px) {
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
	div#text2 {
		margin-left:34%;
		margin-top:-20%;
		letter-spacing:0.3em;
		width:50%;
		height:25%;
		font-size:24px;
		color:#ffffff;
	}
	div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-13%;
	background-color:#ffffff;
	height:100%;
 	}
 }
	@media only screen and (max-width:800px) {
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
div#text2 {
		margin-left:32%;
		margin-top:-20%;
		letter-spacing:0.3em;
		width:50%;
		height:25%;
		font-size:20px;
		color:#ffffff;
	}
	div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-15%;
	background-color:#ffffff;
	height:100%;
 	}
	}
	@media only screen and (max-width:600px) {
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
	div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-25%;
	background-color:#ffffff;
	height:100%;
 	}
div#text2 {
		margin-left:30%;
		margin-top:-20%;
		letter-spacing:0.3em;
		width:50%;
		height:25%;
		font-size:18px;
		color:#ffffff;
	}


@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
	div#wrapper{
	width:100%;
	height:auto;
	}
	div#header {
		position:relative;
	}
	div#image1{
		position:absolute;
		top:3%;
		left:4%;
	}
	div#text1{
		width:100%;
		position:static;
	}
	div#text1 ul{
		width:100%;
		padding-left:0;
	}
	div#text1 ul li{
		display:block;
		list-style-type: none;
		text-align: center;
		font-family:'Segoe UI Symbol',  sans-serif;
		width:100%;
		background-color:#000033;
		font-size:12px;
		color:#ffffff;
		padding-top:7%;
		padding-bottom:1%;
		border-top:1px solid #FFFFFF;
		margin-left:0;
		float:none;
	}
	div#main{
	width:95%;
	}
	div#mainArea{
	width:90%;
	margin-top:10%;
	padding-left:8%;
	}
	div#mainArea ul {
	font-size:20px;	
	color:#ffffff;
	padding-top:1%;
	padding-bottom:1%;
	background-color:#000033;
	margin-bottom:0px;
}
	div#image2{
		width:92%;
		padding-left:8%;
	}
	div#image2 p {
		display:block;
		padding-bottom:45%;
		background-image: url("image/banner_25.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-top:0;
		margin-bottom:0;
		margin-right:2.2%;
	}
div#text2 {
		margin-left:20%;
		margin-top:-25%;
		letter-spacing:0.3em;
		width:60%;
		height:auto;
		font-size:16px;
		color:#ffffff;
	}
 div#contents{
 	width:90%;
	margin-left:8%;	
	margin-top:-3%;
	background-color:#ffffff;
	height:60%;
 	}
 	div#downloadtext1 ul{
 		margin-left:-3.5%;
 	}
 	div#download1 {
 	padding-top:5%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download2 li{
 		margin-left:8%;
 	}
 	div#download2 {
 	padding-top:2%;
 	padding-bottom:2%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}

 	div#download3 li{
 		margin-left:8%;
 	}
 	div#download3 {
 	padding-top:2%;
 	padding-bottom:2%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download4 li{
 		margin-left:8%;
 	}
 	div#download4 {
 	padding-top:2%;
 	padding-bottom:2%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
 	div#download5 li{
 		margin-left:8%;
 	}
 	div#download5 {
 	padding-top:2%;
 	padding-bottom:2%;
 	border-bottom: 1px solid gray;
	margin-left:4%;
	margin-right:4%;
	overflow:hidden;
 	}
	div#footer {
	width:100%;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:4%;
	background-color:#000033;

}
div#footer img{
	width:auto;
	height:5%;

}
div#address{
	line-height: 1em;
	font-size:10px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;

}