	body{
	font-family:Yu Gothic UI,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
	width:100%;
	height:auto;
}
div#header{
	width:100%;
	height:auto;
	color:#ffffff;
	background-color:#000033;
	padding-top:5px;
}
div#header img{
	padding-top:2%;
	padding-left:5%;
}
div#header ul{
	padding:0px;
	margin:0px;
	text-align:right;
	table-layout: fixed;
}
div#header ul li{
	display:inline-block;
	vertical-align:right;
	background-color:#000033;
	font-size:11px;
	margin-right:20px;
	margin-bottom:20px;
}
div#top {
	padding:0px;
	margin:0px;
}
div#top p{
	text-shadow: -3px -2px 5px #808080; 
	padding-top:-100%;
	margin-top:-26%;
	text-align:center;
	table-layout: fixed;
	font-size:24px;
	font-family:'ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN';
	color:#ffffff;
}
div#main{
	background-color:#f2f2f2;
	margin-top:21%;
}
div#info1{
	width:70%;
	background-color:#f2f2f2;
	margin-left:15%;
	text-align:center;
}
div#info1 p{
	font-size:18px;
	text-align:center;
	padding-top:2%;
}
div#info2{
	width:80%;
	background-color:#ffffff;
	margin-left:10%;
}
div#info2 ul{
	list-style-type: none;
	padding-top:1%;
}
div#info2 ul li{
	border-bottom: 1px solid gray;
	width:95%;
	padding-top:0.5%;
}
div#info2 p{
	text-align: right;
	margin-right:3%;
	padding-bottom:1%;
	}
div#gazou{
width:80%;
margin-left:10%;
margin-top:3%;
background-color:#f2f2f2;
padding-bottom:10%;
}
div#image1{
float:left;
width:47%;
height:25%;
background-image:url("../common/img/banner_10.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
}
div#image1 p{
margin-top:42%;
margin-left:30%;
}
div#image2{
float:left;
width:47%;
height:25%;
background-image:url("../common/img/banner_02.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
margin-left:6%;
}
div#image2 p{
margin-top:42%;
margin-left:30%;
}
div#image3{
clear:both;
float:left;
width:47%;
height:25%;
background-image:url("../common/img/banner_11.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
margin-top:5%;
}
div#image3 p{
margin-top:42%;
margin-left:30%;
}
div#image4{
float:left;
width:47%;
height:25%;
background-image:url("../common/img/banner_04.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
margin-top:5%;
margin-left:6%;
}
div#image4 p{
margin-top:42%;
margin-left:30%;
}
div#image5{
clear:both;
display: inline-block;
width:24%;
height:25%;
background-image:url("../common/img/sinkoukai_image1.png");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
margin-top:5%;
}
div#image5 p{
margin-top:78%;
margin-left:33%;
}
div#image6{
display: inline-block;
width:24%;
height:25%;
background-image:url("../common/img/banner_06.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
}
div#image6 p{
margin-top:78%;
margin-left:33%;
}
div#image7{
display: inline-block;
width:24%;
height:25%;
background-image:url("../common/img/banner_07.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
padding-right:1%;
}
div#image7 p{
margin-top:78%;
margin-left:33%;
}
div#image8{
display: inline-block;
width:24%;
height:25%;
background-image:url("../common/img/banner_08.jpg");
background-repeat: no-repeat;
background-size: 100% auto;
margin-bottom: 4%;
padding-right:1%;
}
div#image8 p{
margin-top:78%;
margin-left:33%;
}
div#archive{
	clear:both;
	padding:0px;
	margin:0px;
	margin-top:-5%;
}
div#archivetext1 p{
	table-layout: fixed;
	color:#c5a05a;
	margin-left:68%;
	margin-top:-17%;
	font-size:30px;
}
div#archivetext2 p{
	table-layout: fixed;
	color:#c5a05a;
	margin-left:68%;
	margin-top:-2%;
	font-size:10px;
}

div#search {
	width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-right:10%;
}
div#searchtext {
	margin-left:68%;
	margin-top:-3%;
	color:#ffffff;
	font-size:11px;
}
div#b1 {
	float:left;
	padding-top:13%;
	padding-left:25%;
	margin-bottom:3%;
}
div#b1 p{
	margin-left:0%;
}
div#b1 img{
	width:30%;
	height:auto;
	margin-left:25%;
}
div#b2{
	float:left;
	margin-top:13%;
	padding-left:13%;
}
div#b2 img{
	margin-left:25%;
	width:42%;
}
div#b3{
	float:right;
	margin-top:13%;
	padding-right:23%;
}
div#b3 img{
	margin-left:30%;
	width:30%;
}
div#footer {
	width:100%;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	background-color:#000033;
	overflow:hidden;
}
div#footer img{
	width:auto;
	height:5%;
}
div#address{
	line-height: 1em;
	font-size:12px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;
}
@media only screen and (max-width:1340px) {
div#main{
	margin-top:20%;
}
div#gazou{
 	overflow:auto;
}
div#image1{
	float:left;
	width:51%;
	height:25%;
}
div#image1 p{
margin-top:40%;
margin-left:25%;
}
div#image2{
	float:left;
	width:47%;
	height:25%;
	margin-left:2%;
}
div#image2 p{
margin-top:43%;
margin-left:25%;
}
div#image3{
	float:left;
	width:51%;
	height:25%;
	margin-top:5%;
}
div#image3 p{
margin-top:40%;
margin-left:18%;
}
div#image4{
	float:left;
	width:45%;
	height:30%;
	margin-left:2%;
	margin-top:5%;
}
div#image4 p{
margin-top:46%;
margin-left:25%;
}
div#image5{
display: inline-block;
clear:both;
width:20%;
height:50%;
margin-bottom: 4%;
float:left;
margin-top:5%;
}
div#image5 p{
margin-top:70%;
margin-left:20%;
}
div#image6{
display: inline-block;
width:20%;
height:auto;
margin-bottom: 4%;
float:left;
margin-left:7%;
margin-top:5%;
}
div#image6 p{
margin-top:70%;
margin-left:30%;
}
div#image7{
	display: inline-block;
width:20%;
height:auto;
margin-bottom: 4%;
float:left;
margin-left:7%;
margin-top:5%;
}
div#image7 p{
margin-top:70%;
margin-left:30%;
}
div#image8{
display: inline-block;
width:20%;
height:auto;
margin-bottom: 4%;
float:right;
margin-right:0%;
margin-top:5%;
}
div#image8 p{
margin-top:70%;
margin-left:30%;
}
div#archive{
	clear:both;
	margin-top:0%;
}
div#archivetext1 p{
	margin-left:60%;
	margin-top:-15%;
}
div#archivetext2 p{
	margin-left:60%;
	margin-top:-1%;
}
div#search {
  margin-top:0%;

}
div#searchtext {
	margin-top:-4%;
	margin-left:60%;
}
div#b1 {
	margin-left:-3%;
}
div#b2 {
	margin-left:-3%;
}
div#b3 {
	margin-left:1%;
}
}
@media only screen and (max-width:1000px) {
div#gazou{
	overflow:auto;
}
div#archive{
	clear:both;
	margin-top:20%;
}

div#archivetext1 p{
	margin-left:50%;
	margin-top:-15%;
}
div#archivetext2 p{
	margin-left:50%;
	margin-top:-2%;
}
div#search {
  margin-top:-1%;
  margin-left:55%;
}
div#searchtext {
	margin-top:-5%;
	margin-left:50%;
}
div#b1 {
	margin-left:-7%;
}
div#b2 {
	margin-left:-6%;
}
div#b3 {
	margin-left:0%;
}
}
@media only screen and (max-width:800px) {
div#main{
	margin-top:17%;
}
div#gazou{
	overflow:auto;
}
div#archive {
	clear:both;
	margin-top:0%;
}
div#archivetext1 p{
	margin-left:50%;
	margin-top:-15%;
}
div#archivetext2 p{
	margin-left:50%;
	margin-top:-4%;
}
div#search {
  margin-top:-3%;
  margin-left:55%;
}
div#searchtext {
	margin-top:-6%;
	margin-left:50%;
}
div#b1 {
	margin-left:-10%;
}
div#b2 {
	margin-left:-10%;
}
div#b3 {
	margin-left:-1%;
}
}
@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
div#wrapper {
		width:auto;
		height:auto;
	}
div#wrapper img {
	width:100%;
    }
 div#header{
 	width:100%;
 	height:65%;
    }
 div#header img{
 	width:90%;
 }
 div#header ul li{
	display:block;
	text-align: center;
	width:100%;
	margin-left:0%;
	height:4%;
	background-color:#000033;
	font-size:12px;
	margin-top:4%;
	padding-top:2%;
	padding-bottom:1%;
	border-top:1px solid #FFFFFF;
}
div#top p{
	margin-top:-30%;
	font-size:14px;
}
div#main{
	background-color:#f2f2f2;
	margin-top:18%;
}

div#info1{
	width:70%;
	background-color:#f2f2f2;
	margin-left:15%;
	text-align:center;
}
div#info2{
	width:90%;
	margin-left:5%;
}
div#info2 ul{
	list-style-type: none;
	padding-top:1%;
	margin-left:-4%;
}

div#info2 ul li{
	border-bottom: 1px solid gray;
	width:95%;
	padding-top:0.5%;
}
div#info2 p{
	text-align: right;
	margin-right:3%;
	padding-bottom:1%;
	}

div#image1{
	float:left;
	width:100%;
}
div#image1 p{
margin-top:40%;
margin-left:2%;
}
div#image2{
	float:left;
	width:100%;
	margin-top:2%;
	margin-left:-1%;
}
div#image2 p{
margin-top:45%;
margin-left:2%;
}
div#image3{
	float:left;
	width:100%;
	margin-top:2%;
}
div#image3 p{
margin-top:40%;
margin-left:2%;
}
div#image4{
	float:left;
	width:100%;
	margin-top:-30%;
	margin-top:2%;
}
div#image4 p{
margin-top:44%;
margin-left:2%;
}
div#image5{
width:46%;
height:auto;
margin-bottom: 4%;
margin-top:0%;
}
div#image5 p{
margin-top:70%;
margin-left:2%;
}
div#image6{
width:48%;
height:auto;
margin-bottom: 4%;
margin-top:0%;
margin-left:4%;
}
div#image6 p{
margin-top:69%;
margin-left:2%;
}
div#image7{
width:46%;
height:auto;
margin-bottom: 4%;
margin-top:2%;
margin-left:0%;
}
div#image7 p{
margin-top:70%;
margin-left:2%;
}
div#image8{
width:46%;
height:auto;
margin-bottom: 4%;
margin-top:2%;
margin-left:0%;
}
div#image8 p{
margin-top:70%;
margin-left:2%;
}

div#archivesearch{
	display: flex;
    flex-direction: column;
}
div#archivesearch div#search1{
	 order:1;
	margin-left:-40%;
}
div#archivesearch div#archive{
	 order:2;
}




div#archive img{
	margin-top:17%;
	margin-bottom:5%;
	width:100%;
}
div#archivetext1 p{
	table-layout: fixed;
	color:#c5a05a;
	margin-left:43%;
	margin-top:-18%;
	font-size:18px;
}
div#archivetext2 p{
	table-layout: fixed;
	color:#c5a05a;
	margin-left:43%;
	margin-top:-5%;
	font-size:8px;
}
div#search{
	margin-top:3%;
	margin-left:-130%;
	width:200%;
}
div#searchtext {
	margin-top:-10%;
	margin-left:-160%;
}
div#searchtext p{
	margin-top:-11%;
	margin-left:2%;
	color:#000000;
	font-size:11px;
}

div#b1{
	float:left;
	margin-top:-5%;
	padding-left:40%;
	margin-bottom:0%;
}
div#b1 img{
	width:40%;
	height:auto;
	margin-left:28%;
}
div#b2{
	float:left;
	margin-top:-2%;
	padding-left:44%;
	margin-bottom:0%;
}
div#b2 img{
	width:58%;
	height:auto;
	margin-left:25%;
}
div#b3{
	float:left;
	margin-top:-2%;
	padding-left:32%;
	margin-bottom:0%;
}
div#b3 img{
	width:40%;
	height:auto;
	margin-left:25%;
}

 div#footer {
	width:100%;div#b1 img{
	width:30%;
	height:auto;
	margin-left:25%;
}
	clear:both;
	padding-top:-1%;
	padding-bottom:10%;
	padding-left:1%;
	background-color:#000033;
	
}
div#footer img{
	width:10%;
	height:auto;
}
div#address{
	line-height: 1em;
	font-size:0.5em;
	color:#ffffff;
	padding-top:1%;
	background-color:#000033;

}
}
