	body{
	font-family:Yu Gothic UI,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
}

div#header{
	width:100%;
	color:#ffffff;
	background-color:#000033;
	padding-top:5px;
}
div#header img{
	padding-top:2%;
	padding-left:5%;
}
div#header ul{
	padding:0px;
	margin:0px;
	text-align:right;
	table-layout: fixed;
}
div#header ul li{
	display:inline-block;
	vertical-align:right;
	background-color:#000033;
	font-size:11px;
	margin-right:20px;
	margin-bottom:20px;
}
div#main{
	background-color:#f2f2f2;
	margin-top:-1%;
}

div#info1{
	width:70%;
	background-color:#f2f2f2;
	margin-left:10%;
	text-align:center;
}
div#info1 p{
	font-size:18px;
	text-align:center;
	padding-top:2%;
}
div#info2{
	width:80%;
	background-color:#ffffff;
	margin-left:10%;
}
div#info2 ul{
	list-style-type: none;
}
div#info2 ul li{
	border-bottom: 1px solid gray;
	width:95%;
}
div#info2 p{
	text-align: right;
	margin-right:3%;
	}

div#gazou{
	width:80%;
	margin-left:10%;
}
div#image1{
	float:left;
	width:48%;
}
div#image2{
	padding-left:53%;
	width:48%;
}
div#image3{
	clear:both;
	float:left;
	width:48%;
}
div#image4{
	padding-left:53%;
	width:48%;
}
div#image5{
	clear:both;
	float:left;
	width:24%;
}
div#image6{
	padding-left:112%;
	margin-top:-84%;
	width:24%;
}
div#image7{
	padding-left:220%;
	margin-top:-84%;
	width:24%;
}
div#image8{
	
	margin-top:-84%;
	padding-left:320%;
	width:24%;
}
div#archive{
	clear:both;
}




div#footer {
	width:120%;
	clear:both;
	margin-top:10%;
	padding-top:2%;
	padding-bottom:3%;
	padding-left:5%;
	background-color:#000033;

}
div#footer img{
	width:auto;
	height:5%;
}
div#address{
	line-height: 1em;
	font-size:12px;
	color:#ffffff;
	padding-top:10px;
	background-color:#000033;
}


@media only screen and (max-width:500px) {
	body{
		margin:0;
	}
div#wrapper {
		width:auto;
		height:auto;
	}
div#wrapper img {
	width:100%;
    }
 div#header{
 	width:100%;
 	height:65%;
    }
 div#header img{
 	width:90%;
 }
 div#header ul li{
	display:block;
	text-align: center;
	width:100%;
	margin-left:0%;
	height:4%;
	background-color:#000033;
	font-size:12px;
	margin-top:4%;
	padding-top:2%;
	padding-bottom:1%;
	border-top:1px solid #FFFFFF;
}


 div#footer {
	width:100%;
	clear:both;
	padding-top:-1%;
	padding-bottom:10%;
	padding-left:1%;
	background-color:#000033;
	
}
div#footer img{
	width:10%;
	height:auto;
}
div#address{
	line-height: 1em;
	font-size:0.5em;
	color:#ffffff;
	padding-top:1%;
	background-color:#000033;

}
