	body{
	font-family:Yu Gothic UI,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	height:100%;
	line-height:1.5;
	margin:0;
	padding:0;
	overflow-x: hidden;
}
div#wrapper{
	max-width:1900px;
}

div#header{
	width:100%;
	color:#ffffff;
	background-color:#000033;
	padding-top:5px;
}
div#header img{
	padding-top:2%;
	padding-left:5%;
}
div#header ul{
	padding:0px;
	margin:0px;
	text-align:right;
	table-layout: fixed;
}
div#header ul li{
	display:inline-block;
	vertical-align:right;
	background-color:#000033;
	font-size:11px;
	margin-right:20px;
	margin-bottom:20px;
}
div#main{
	background-color:#f2f2f2;
}

div#info1{
	width:70%;
	background-color:#f2f2f2;
	margin-left:10%;
	text-align:center;
}
div#info1 p{
	text-align:center;
}
div#info2{
	width:80%;
	background-color:#ffffff;
	margin-left:10%;
}
div#info2 ul{
	list-style-type: none;
}
div#info2 ul li{
	border-bottom: 1px solid gray;
	width:95%;
}
div#info2 p{
	text-align: right;
	margin-right:3%;
	}

div#gazou{
	width:80%;
	margin-left:10%;
}
div#image1{
	float:left;
	width:45%;
}
div#image2{
	padding-left:54%;
	width:45%;
}
div#image3{
	clear:both;
	float:left;
	width:45%;
}
div#image4{
	padding-left:54%;
	width:45%;
}
