html {
	font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
	font-size: 62.5%;
	letter-spacing: 1px;
	color: #1a1a19;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #404040;
}

a:hover {
	cursor: pointer;
	cursor: hand;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.wrapper-top {
	max-width: 1280px;
	width: 100%;
	margin: 2% auto;
}

.header-upper {
	overflow: hidden;
	margin: 0;
}

.header-upper-left {
	/*float: left;
	width: 45%;*/
	flex-basis: 15%;
}

img.logo {
	width: 100%;
	vertical-align: bottom;
}

.header-upper-center {
	flex-basis: 22%;
	box-sizing: border-box;
	margin-left: auto;
}

/*.number {
	text-align: left;
}*/

.number img {
	width: 36px;
}

/*.telephone {
	display: inline-block;
	width: 53%;
	margin-top: 1%;
}*/

/*.telephone img {
	width: 15%;
}*/

.free-dial {
	display: inline-block;
	font-size: 2.85rem;
	letter-spacing: 1.7px;
	line-height: 1.2;
	font-weight: bold;
}

.business-hour {
	font-size: 1.2rem;
	font-family: sans-serif;
	line-height: 1.1;
}

.header-upper-right {
	/*float: right;
	width: 55%;*/
	flex-basis: 22.5%;
}

.header-upper-right img {
	width: 100%;
	vertical-align: bottom;
}

/*.yoyaku {
	display: inline-block;
	width: 47%;
}*/

nav {
	clear: both;
	width: 100%;
	border-top: 4px solid #8e748c;
	position: relative;
}

nav:after {
	content: "";
	border-top: 1px solid #c6b9c5;
	position: absolute;
	top: 2px;
	width: 100%
}

.nav-common {
	font-size: 0;
	text-align: center;
	padding: 18px 0;
	margin: 0 auto;
}

.nav-common li {
	display: inline-block;
}

.nav-common li + li {
	margin-left: 30px;
}

.nav-common li a {
	font-size: 1.4rem;
	font-family: sans-serif;
}

.nav-common li a:hover {
	color: #a9a9a9;
}

.main-visual {
	width: 100%;
	position: relative;
}

.main-visual img {
	vertical-align: bottom;
}

.main-visual-message {
	width: 22%;
	position: absolute;
	left: 21%;
	top: 8%;
}

.button-fixed {
	width: 35%;
	position: absolute;
	right: 150px;
	bottom: 0;
}

.button-fixed p {
	display: inline-block;
	width: 49.5%;
}

.button-fixed p + p {
	margin-left: 1%;
}

.button-fixed p img {
	width: 100%;
}



.banner-all {
	margin: 5% 1%;
}

.banner {
	display: inline-block;
	width: 49%;
	padding: 0 2%;
	box-sizing: border-box;
	position: relative;
}

.banner img {
	width: 100%;
	position: relative;
	right: 0;
	bottom: 0;
}

.explanatory-text-top {
	text-align: center;
	margin: 5% 10% 5%;
}

.title-common {
	font-size: 2.5rem;
	margin: 2% 0;
	display: flex;
	align-items: center;
}

.title-common:before, .title-common:after {
	content: "";
	flex-grow: 1;
	height: 2px;
	background: #b9aab8;
	margin: 0 1em;
}

.caption {
	font-size: 1.6rem;
	line-height: 1.8;
}

#plan-top {
	margin-bottom: 10%;
}

.visual-top {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.visual-top-collection {
	display: flex;
	width: 50%;
	box-sizing: border-box
}

.visual-top-collection img {
	width: 43%;
	align-self: flex-start;
}

.visual-top-collection-text {
	display: inline-block;
	width: 57%;
	padding: 8% 3%;
	box-sizing: border-box;
	color: #fff;
	position: relative;
}

.background-image-one {
	background-image: url("../images/top_collection_back1.png");
}

.background-image-two {
	background-image: url("../images/top_collection_back2.png");
}

.background-image-three {
	background-image: url("../images/top_collection_back3.png");
}

.background-image-four {
	background-image: url("../images/top_collection_back4.png");
}

.collection-number {
	font-size: 2.4rem;
	border-bottom: 1px solid #fff;
	text-align: center;
	line-height: 1.8;
}

.fullset {
	font-family: sans-serif;
	font-size: 1.5rem;
	padding: 7% 0 0 7%;
}

.price {
	font-size: 2.5rem;
	letter-spacing: 2px;
	padding-left: 7%;
}

.tax {
	font-size: 1.5rem;
}

.details-button {
	border: 1px solid #fff;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	margin-top: 7%;
	padding: 2% 0;
}

.details-button:hover {
	color: #ccc;
}

.see-more {
	text-align: center;
	font-size: 1.5rem;
	border: 1px solid #8e748c;
	padding: 1.5% 0;
	margin: 5% 34% 10%;
	background-color: #fff;
}

.see-more:hover, .plan-details-here:hover {
	opacity: 0.6;
}

.visual-plan-link {
	width: 23.5%;
}

.visual-top-four-boxes {
	display: flex;
	flex-basis: 23.5%;
	flex-direction: column;
	border: 1px solid #b9aab8;
}

.four-boxes-image {
	width: 100%;
	/*align-self: flex-start;*/
}

/*.four-boxes-text-wrap {
	display: flex;
	flex-direction: column;
	padding: 2% 7%;
}*/

.four-boxes-title {
	font-size: 2.0rem;
	text-align: center;
	padding: 3% 0;
	line-height: 1.3;
	vertical-align: bottom;
}

.purchase-plan {
	padding: 8.7% 0;
}

.four-boxes-description {
	color: #626262;
	padding: 3% 7% 8%;
	font-size: 1.4rem;
}

.align-bottom {
	margin-top: auto;
}

.plan-fullset-price {
	font-family: sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0;
	padding-left: 7%;
}

.plan-price {
	font-size: 2.6rem;
	padding-left: 7%;
}

.yen {
	font-size: 1.5rem;
}

.tax-not-included {
	text-align: right;
	font-size: 1.3rem;
	font-family: sans-serif;
	margin-bottom: 5%;
	padding-right: 7%;
}

.plan-details-here {
	border-top: 1px solid #b2b2b2;
	margin: 0 7%;
	padding: 7% 0;
	font-size: 1.4rem;
	font-family: sans-serif;
	position: relative;
}

.plan-details-here img{
	position: absolute;
	width: 15%;
	right: 0;
	bottom: 24%;
	/*transform: translate(0, -25%);*/
}

.visual-top-gallery {
	width: calc(100%/3);
}

.visual-top-gallery img {
	vertical-align: bottom;
}

.voice-top {
	width: 100%;
	margin-bottom: 3%;
}

.voice-top-title {
	display: inline-block;
	width: 74%;
	font-size: 1.7rem;
	background-image: url("../images/top_voice_title_back.png");
	padding: 1% 0 1% 3%;
	box-sizing: border-box;
}

.voice-top-name {
	display: inline-block;
	width: 26%;
	font-size: 1.7rem;
	color: #fff;
	text-align: center;
	background-color: #ca8398;
	padding: 1% 0;
	box-sizing: border-box;
}

.voice-top-body {
	width: 100%;
	background-image: url("../images/top_voice_back.png");
	position: relative;
}

.voice-top-body-image {
	display: inline-block;
	width: 30%;
	padding: 3%;
	box-sizing: border-box;
}

.voice-top-body-image img {
	width: 100%;
}

.customer-comments {
	display: inline-block;
	width: 67%;
	font-size: 1.35rem;
	font-family: sans-serif;
	vertical-align: top;
	padding-top: 3%;
	padding-left: 2%;
}

.voice-top-body-background {
	position: absolute;
	width: 45%;
	right: 0;
	bottom: 0;
	opacity: 0.4;
}

#flow-top {
	width: 100%;
	background-image: url("../images/top_nagare_back.png");
	padding: 1% 0;
}

.flow-top-five-boxes {
	flex-basis: 18.4%;
	display: flex;
	align-items: center;
}

.flow-top-arrow {
	flex-basis: 2%;
	padding: 0 0.5%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.flow-top-arrow img {
	vertical-align: middle;
}

.flow-top-text {
	flex-basis: 18.4%;
	font-family: sans-serif;
	margin-top: 15px;
	font-size: 1.35rem;
}

.news-body {
	width: 100%;
	padding-bottom: 5%;
	border-bottom: 1px dotted #b9aab8;
}

.news-image {
	display: inline-block;
	width: 16%;
	margin-right: 2%;
}

.news-image img {
	width: 100%;
}

.news-text {
	display: inline-block;
	vertical-align: top;
	width: 78%;
	margin-left: 3%;
}

dl {
	margin: 0;
}

dt.date {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

dd.news-title {
	display: inline-block;
	font-size: 1.8rem;
	border-bottom: 1px solid #ccc;
	margin: 2% 0;
}

dd.news-description {
	font-size: 1.35rem;
	font-family: sans-serif;
	margin-left: 0;
}

.news-body + .news-body {
	margin-top: 5%
}

#sns-top {
	background-image: url("../images/ig_fb_back.png");
	width: 100%;
	padding: 2% 0;
	margin-bottom: 7%;
}

.flexbox-top {
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	align-items: center;
}

.sns-top-instagram {
	/*flex-basis: 58%;*/
}

.sns-top-facebook {
	/*flex-basis: 38%;*/
}

.sns-top-box + .sns-top-box {
	margin-left: 3%;
}

.sns-title {
	margin: 0 30%;
	padding-bottom: 4px;
	font-size: 2.5rem;
	text-align: center;
	border-bottom: 1px solid #8e748c;
}

.facebook-title-border {
	margin: 0 20%;
}

.sns-top-image {
	width: 100%;
}

.sns-top-image img {
	width: 100%;
	margin-top: 30px;
	vertical-align: bottom;
}

footer {
	padding-bottom: 2%;
}

.contact-info {
	flex-basis: 46%;
	position: relative;
}

.footer-info {
	margin-bottom: 2%;
}
.footer-map {
	flex-basis: 50%;
}

.footer-logo {
	flex-basis: 33%;
}

.footer-logo img {
	width: 100%;
	vertical-align: bottom;
}

.shop-info {
	/*flex-basis: 62%;*/
	font-size: 1.35rem;
	font-family: sans-serif;
}

.buttons {
	display: inline-block;
}

.buttons {
	margin-top: 2%;
}

.buttons img {
	width: 48%;
}

.buttons img + img {
	margin-left: 2%;
}

.copyright {
	position: absolute;
	bottom: 0;
	font-size: 1.4rem;
	font-family: sans-serif;
}
