
body{
	margin: 10% 5%;
	background-color: #f5f5f5;
}
div#wrapper{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
h1{
	background-color: #000033;
	color: #ffffff;
	padding: 0px 25px;
	height: 40px;
	margin: 0;
}
h1 div{
	display: inline-block;
	overflow: hidden;
	line-height: 40px;
}
div.main_title{
	font-size: 18px;
}
div.sub_title{
	font-size: 13px;
}
div#img_title{
	border-bottom: solid 1.5px #000033;
	overflow: hidden;
	position: relative;
	height: 120px;
}
div#img_title img{
	width: 40%;
	height: 99.5%;
	position: absolute;
	object-fit: cover;
}
div#img_title h2{
	float: right;
	width: 60%;
	text-align: center;
	font-size: 30px;
	line-height: 4;
	margin: 0px;
	overflow: hidden;
}
div#content{
	padding: 40px 20px;
}
div#content section{
	display: inline-block;
	border-bottom: solid 1px #d3d3d3;
	padding: 15px 0px;
}
div#content h3{
	float: left;
	width: 9%;
	text-align: left;
	overflow: hidden;
	margin: 0px;
	padding-right: 2%;
}
div#content div.visual{
	float: left;
	width: 20%;
	padding-right: 4%;
	overflow: hidden;
}
div#content img{
	width: 100%;
}
div#content p{
	font-size: 13px;
	float: left;
	width: 65%;
	overflow: hidden;
	margin: 0px;
}
@media (max-width: 600px){
	h1{
		height: auto;
		padding: 5px 25px;
	}
	h1 div{
		display: block;
		line-height: unset;
	}
	div#img_title h2{
		font-size: 20px;
		line-height: 6;
	}
	div#content h3{
		float: none;
		width: 100%;
		padding: 0px;
	}
	div#content div.visual{
		float: none;
		width: 100%;
		padding: 10px 0px;
	}
	div#content p{
		float: none;
		width: 100%;
	}
}