body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #696969;
	font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

div#wrapper-all {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

div#header {
	width: 100%;
	height: auto;
	background-color: #000033;
	border-bottom: thin solid #c5a05a;
	overflow: hidden;
}

div#header img {
	width: 28%;
	height: auto;
	margin: 3% auto 3% 8%;
}

nav.globalMenuSp {
	display: none;
}

.navi-top {
	width: 100%;
	height: auto;
	font-weight: 500;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.navi-top ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding-left: 7%;
	font-size: 0;
}

.navi-top ul li {
	width: 100%;
	display: inline;
	padding: 0.5em 0;
	font-size: 10.5px;
	color: #000000;
	white-space: nowrap;
}

.navi-top ul li a {
	display: inline-block;
	padding: 1.3em 1.8%;
}

.navi-top ul li a:hover {
	background-color: #f8f4e6;
}

.navi-top ul li:not(:first-child) {
	border-left: thin solid #d3d3d3;
}

nav#nav_sp {
	display: none;
}

.mainvisual {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

.mainvisual img {
	width: 100%;
	vertical-align: bottom;
}

.mainvisual > p {
	position: absolute;
	color: #000033;
	font-size: 35px;
	line-height: 1;
	letter-spacing: 5px;
	white-space: nowrap;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	text-shadow:2px 2px 15px #fff,
	    		-2px 2px 15px #fff,
    			2px -2px 15px #fff,
    			-2px -2px 15px #fff;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0 0 0 3%;
}

div#wrapper-content {
	width: 100%;
	margin: 0 auto;
	padding: 4% 0;
	background-color: #f5f5f5;
}

div#three-boxes {
	width: 70%;
	margin: 0 15%;
}

.images {
	width: 30%;
	height: auto;
	float: left;
	padding: 0 1.5%;
	position: relative;
	margin: 0 auto;
}

.images img {
	width: 100%;

}

a:hover img{
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

.images > .gold {
	position: absolute;
	color: #cc9933;
	font-size: 10px;
	line-height: 1;
	white-space: nowrap;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	top: 80%;
	left: 50%;
	-ms-transform: translate(-50%,-80%);
	-webkit-transform: translate(-50%,-80%);
	transform: translate(-50%,-80%);
	margin: 0;
	padding: 0;
}

.images > p {
	position: absolute;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	top: 91%;
	left: 50%;
	-ms-transform: translate(-50%,-91%);
	-webkit-transform: translate(-50%,-91%);
	transform: translate(-50%,-91%);
	margin: 0;
	padding: 0;
}

div#message {
	clear: both;
	width: 80%;
	margin: 0 auto;
	padding: 2% 0;
	text-align: center;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
}

div#message > h2 {
	font-size: 20px;
	letter-spacing: 1px;
	color: #696969;
}

.sentences {
	font-size: 11px;
	color: #696969;
	line-height: 1.9;
	font-weight: 100;
	margin: 3% 0;
}

div#others {
	width: 80%;
	margin: 3% auto 3%;
	overflow: hidden;
}

div#others .box {
	float: left;
	width: 47%;
	padding: 0 1.5%;
}

.title{
	border-bottom: 1px solid #d3d3d3;
	font-size: 15px;
	color: #696969;
	margin: 0;
	padding-bottom: 2%;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
}

.photos {
	float: left;
	width: 35%;
	padding: 4% 5% 0 0;
}

.photos img{
	width: 100%;
}

.description {
	float: left;
	width: 60%;
}

.description > p {
	font-size: 11.5px;
	line-height: 1.4;
	margin: 0;
	padding: 6% 0 4%;
}

.continue {
	color: #ffffff;
	background-color: #b8860b;
	font-size: 10px;
	padding: 1% 10%;
}

footer {
	clear: both;
	background-color: #000033;
	width: 100%;
	color: #a9a9a9;
	text-align: center;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	padding: 2.5% 0 1%;
	font-weight: lighter;
}

.links ul{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.links ul li {
	display: inline-block;
	padding: 1em 1%;
	list-style-type: none;
	font-size: 10px;
}

.links ul li:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

div#contacts {
	margin: 1.5% 0 1.8%;
}

.name {
	font-size: 11px;
	margin: 0;
}

.address {
	font-size: 10px;
	margin: 0;
}

.copyright > p {
	font-size: 10px;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
}

.copyright > .sp {
	display: none;
}


/* タブレット用css　*/

@media only screen and (max-width:800px) and (min-width:481px){
body {
	margin: 0;
	min-width: 480px;
}

div#header img {
	width: 40%;
	height: auto;
	margin: 3% auto 3% 8%;
}

.navi-top {
	display: none;
}

.nav.globalMenuSp {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background: #c5a05a;
	
	text-align: center;
	transform: translateY(-100%);
	transition: all 0.6s;
	width: 100%;
}

nav.globalMenuSp ul {
	background: #c5a05a;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav.globalMenuSp ul li {
	font-size: 1.1em;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	border-bottom: 1px dotted #333;
}

nav.globalMenuSp ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

nav.globalMenuSp ul li a {
	display: block;
	color: #000;
	padding: 1em 0;
}

nav.globalMenuSp.active {
	transform: translateY(0%);
}

.navToggle {
	display: block;
	position: fixed;
	right: 35px;
	top: 35px;
	width: 42px;
	height: 50px;
	cursor: pointer;
	z-index: 3;
	text-align: center;
}

.navToggle span {
	display: block;
	position: absolute;
	width: 30px;
	border-bottom: solid 3px #eee;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	left: 6px;
}

.navToggle span:nth-child(1) {
	top: 9px;
}

.navToggle span:nth-child(2) {
	top:19px;
}

.navToggle span:nth-child(3) {
	top:29px;
}

.navToggle.active span:nth-child(1) {
	top: 18px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mainvisual > p {
	font-size: 28px;
}

div#three-boxes {
	width: 85%;
	margin: 2% 7.5%;
}

.images > p {
	position: absolute;
	font-size: 16px;
	line-height: 1;
	white-space: nowrap;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	top: 92%;
	left: 50%;
	-ms-transform: translate(-50%,-92%);
	-webkit-transform: translate(-50%,-92%);
	transform: translate(-50%,-92%);
	margin: 0;
	padding: 0;
}

div#message {
	clear: both;
	width: 82%;
	margin: 0 auto;
	padding: 2% 0;
	text-align: center;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
}

.copyright > .sp {
	display: none;
}
}

/* スマホ用css*/

@media only screen and (max-width:480px) {
body{
	margin: 0;
	max-width: 480px;
}

div#header img {
	width: 40%;
	height: auto;
	margin: 3% auto 3% 8%;
}

.navi-top {
	display: none;
}

.nav.globalMenuSp {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background: #c5a05a;
	
	text-align: center;
	transform: translateY(-100%);
	transition: all 0.6s;
	width: 100%;
}

nav.globalMenuSp ul {
	background: #c5a05a;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav.globalMenuSp ul li {
	font-size: 1.1em;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	border-bottom: 1px dotted #333;
}

nav.globalMenuSp ul li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

nav.globalMenuSp ul li a {
	display: block;
	color: #000;
	padding: 1em 0;
}

nav.globalMenuSp.active {
	transform: translateY(0%);
}

.navToggle {
	display: block;
	position: fixed;
	right: 20px;
	top: 12px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 3;
	text-align: center;
}

.navToggle span {
	display: block;
	position: absolute;
	width: 23px;
	border-bottom: solid 2px #eee;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	transition: 0.35s ease-in-out;
	left: 6px;
}

.navToggle span:nth-child(1) {
	top: 9px;
}

.navToggle span:nth-child(2) {
	top:17px;
}

.navToggle span:nth-child(3) {
	top:25px;
}

.navToggle.active span:nth-child(1) {
	top: 18px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mainvisual > p {
	font-size: 18px;
	font-weight: bold;
	padding-left: 5%;
}

div#three-boxes {
	width: 85%;
	margin: 2% auto;
}

.images {
	width: 60%;
	height: auto;
	float: none;
	margin: 5% auto;
}

.images > p {
	position: absolute;
	font-size: 14px;
}

div#message {
	width: 75%;
}

div#message > h2 {
	font-size: 15px;
	color: #696969;
}

.sentences {
	font-size: 10px;
	color: #696969;
	line-height: 1.5;
	margin: 3% 0;
}

div#others {
	width: 75%;
}

div#others .box {
	width: 100%;
	height: auto;
	padding: 0;
	margin-bottom: 10%;
}

.title{
	font-size: 12px;
}

.description > p {
	font-size: 10px;
}

footer {
	clear: both;
	background-color: #000033;
	width: 100%;
	color: #a9a9a9;
	text-align: left;
	font-family: 'ヒラギノ角ゴ ProN W3', 'Noto Sans JP',serif;
	padding: 4% 0 1%;
	font-weight: lighter;
}

.links {
	width: 100%;
}

.links ul{
	width: 100%;
	list-style-type: square;
	margin: 0 auto;
	padding-left: 10%;
}

.links ul li {
	display: block;
	padding: 0.5em 1%;
	list-style-type: square;
	font-size: 10px;
	width: 80%;
}

.links ul li + li {
	border-top: thin dashed #808080;
}

.links ul li:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

div#contacts {
	padding: 5% 10% 2%;
	margin: 0;
}

.name {
	font-size: 11px;
	margin: 0;
}

.address {
	font-size: 10px;
	margin: 0;
}

.copyright {
	margin-bottom: 4%;
}
.copyright > p {
	display: none;
}

.copyright > .sp {
	display: block;
}

.copyright > .sp {
	font-size: 10px;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	margin: 0;
}
}
