#navToggle {
    display:none; /*通常時は非表示にしておきます*/
    position:absolute; /*bodyに対しての絶対位置指定です*/
    right:13px;
    top:13px;
    width:30px;
    height:25px;
    cursor:pointer}
#navToggle div {position:relative} /*spanの絶対位置指定の親にします*/
#navToggle span {
    display:block;
    position:absolute; /*#navToggle div に対して*/
    width:100%;
    border-bottom:solid 3px #999;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out}
#navToggle span:nth-child(1) {top:0}
#navToggle span:nth-child(2) {top:11px}
#navToggle span:nth-child(3) {top:22px}



/*header footer*/
header, footer {
    width:100%;
    z-index:2;
    position:fixed;
    background:rgba(255,255,255,.7)}
footer {/*略/}
/*header menu*/
header {
    display:table;
    font-size:0; /*ul,liが親のfont-sizeを継承して隙間が空くのをリセット*/
    line-height:0}
header h1, nav {
    display:table-cell}
nav {
    text-align:right;
    vertical-align:bottom}
header h1 a img {
    height:40px;
    margin:10px}
header ul {
    font-size:13px;
    line-height:1;
    margin:0 10px 10px 0}
header ul li {
    margin-left:3px;
    display:inline-block}
header ul li::after {content:' |'}
header ul li:last-child::after {content:''}
header ul li a {color:inherit}








body{
	background-color:#f5f5f5;
	max-width:100%;
	min-width:768px;
	font-size:12px;
	line-height: 20px;
	color: #000000
	font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

a {
	text-decoration: none ;
}
p{
	margin: 0;
	padding: 0;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

h1{
	margin: 0;
	padding:18px 0 10px 20px;
}

div#header-wrapper{
	width:100%;
	margin:0 auto;
}	
div#header{
	margin:0 ;
	padding: 0;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color: #000033;
}

div#left-header{
   float : left;
   width: 35%;
   margin: 0;
}
div#left-header img{
	max-width:350px;
	width: 100%;
}
div#right-header{
	margin: 0;
	float:right;
    width: 60%;
    padding-top: 65px;
    padding-right: 20px;
    white-space: nowrap;
}
.nav {
font-size: 11px;
font-weight: bold;
}

.nav ul {
text-align:right;
position: relative;
margin: 0;
padding: 0;
list-style-type:none;
}
.nav ul::after {
display: block;
clear: both;
content: '';
}
.nav ul li {
position: relative;
display:inline;
padding-right: 1%;
padding-left: 1%;
}
.nav ul li:not(:first-child) {
border-left: none;
}
.nav ul li a:hover {
color: #cc9933;
}
.nav ul li a {
display: inline-block;
color: #ffffff;
line-height: 1;
text-align: center;
text-decoration: none;
white-space: nowrap;
}
.nav ul ul {
text-align:left;
position: absolute;
top: 0%;
left: 50%;
padding: 5px;
transform: translate(-50%, 20px);
background-color:#cbb994;
}
.nav ul ul li {
float: none;
display:block;
margin: 0;
padding-right: 0;
}
.nav ul ul li a {
float: none;
margin: 0;
padding: 0 10px;
color: #000033;
font-weight: normal;

}
.nav ul ul li:not(:first-child) {
border: 0px 
border-top: none;
}
.nav ul ul ul {
position: absolute;
top: -2px;
left: 100%;
}
.nav ul ul {
display: none;
}
.nav ul li:hover > ul {
display: block;
}

.icon-nav{
font-size:10px
-webkit-transform:scale(0.4);
-moz-transform:scale(0.4);
-ms-transform:scale(0.4);
-o-transform:scale(0.4);
transform:scale(0.4);
position: relative;
display: inline-block;
margin-left: 4px;
}

.mainbanner {
	margin: 0;
	padding: 0;
}
.mainbanner img{
	width: 100%;
	max-height: 325px;
	object-fit: cover;
	vertical-align:bottom;
}

div#wrapper{
	width:100%;
	margin:60px auto;
}	

div#content{
	max-width:862px;
	width: 100%;
	margin:0 auto;
	padding-bottom:60px; 
	background-color:#ffffff;
}

h2{
	background-color: #000033; 
	max-width:862px;
	height:28px;
	font-size: 16px;
	padding-top:12px;
	padding-left:24px;
	margin:0px; 
	color:#ffffff;
	font-weight: bold;
	clear:both;
}
.h2-thumbnail{
	font-size: 13px;
	font-weight: bold;
}

h3{
	max-width:862px;
	background-size:100%;
	height:110px;
	padding-top:5%;
	padding-left:36%;
	margin:0px; 
	color:#000033;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 32px;
	clear:both;
}
.h3-type{
	background-color: #ffffff; 
	background-image:url("../../image/sa.png");
	background-repeat:no-repeat;
}

table{
	max-width:800px;
	width: 100%;

}
.table-type{
	margin: 0 auto;
}
.table-type th{
	width: 20%;
	text-align:left;
	vertical-align:top;
	font-size: 16px;
	font-weight: bold;
}
.table-type td{
	width: 80%;
	padding: 0 0 0 28%;
	position: relative;
}
.table-type　p{
	margin: 0;
	overflow:auto; zoom:1;
	text-align:left;
	vertical-align:top;
}
.table-type td img{
	float:left;
	max-width:200px;
	width: 100%;
	text-align:left;
	vertical-align:top;
	position: absolute;
	left: 10px;
}
hr{
	border: none;
	height: 1px;
	background-color: #bbb;
	max-width:800px;
	text-align: center;
	margin:25px auto;

}

div#footer-wrapper{
	width:100%;
	margin:0 auto;
	background-color: #000033;
}
div#footer{
	margin:0 auto;
	max-width:1000px;
	width:100%;
	overflow:hidden;
	padding-top:38px; 
	padding-left:24px;
	padding-bottom:50px;

}
div#footer p{
	font-size:10px;
	color: #ffffff;
}
div#footer a:hover {
	opacity: 0.85 ;
}
div#footer img{
	padding-top:20px; 
	padding-right:1.8%; 
}
.footer-icon img{
	max-width:37px;
	width:100%;
}
.footer-banner img{
	max-width:120px;
	width:100%;
}

.pagetop
    {
    position: fixed;
    bottom: 16px;
    right: 16px;
    }
 
.pagetop a
    {
    display: block;
    text-decoration: none;
    }
 
.pagetop:hover
{
    opacity: 0.85 ;
}


@media only screen and (max-width:768px){
body{
	margin:0;
	min-width:630px;
}
div#left-header{
   float : left;
   width: 50%;
}
div#left-header img{
	max-width:350px;
	width: 100%;
	padding:18px 0 10px 20px;
}
div#right-header{
	float:right;
    width: 45%;
    white-space: nowrap;
}
div#wrapper{
	width: 90%;
	margin-top:60px;
	margin-bottom:60px;
}	

h3{
	height:80px;
	padding-top:4.5%;
	padding-left:36%;
	margin:0px; 
	color:#000033;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 26px;
	clear:both;
}


table{
	max-width:none;
	width: 93%;
}
table-type th{
	width: 15%;
	text-align:left;
	vertical-align:top;
	font-size: 16px;
	font-weight: bold;
}
.table-type td{
	width: 85%;
	padding: 0 0 0 25%;
	position: relative;
}
.table-type td img{
	float:right;
	max-width:150px;
	width: 100%;
	text-align:left;
	vertical-align:top;
	position: absolute;
	left: 0px;
}





@media screen and (max-width: 640px) {
 
/*header menu*/
　/*nav要素は絶対位置指定にして、ビューの外側に置いて見えなくします。
　　nav の中の ul li は横並びを解除して縦組みにレイアウトし直します。*/
header nav {
    position: absolute; /*bodyに対しての絶対位置*/
    right:0;
    top: -300px; /*通常時はビュー外*/
    background:rgba(255,255,255,.7);
    width:50%;
    padding:0 10px;
    -webkit-transition:.5s ease-in-out; /*transitionで動きを*/
    -moz-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    text-align:left}
header ul {margin:0}
header ul li {
    display:block;
    margin:0;
    border-bottom:dotted 1px #fff;
    line-height:3}
header ul li a {display:block}
header ul li::after {content:''}
header ul li:last-child {border-bottom:none}
 
/* Toggle(Button) */
/*display:noneだったボタンを display:blockにして表示します*/
#navToggle {display:block}
 
/* Click Toggle(Button) */
　/*ここから jQueryで header要素に付けた「.openNav」を利用します*/
　/*.openNavが付いた要素内のボタン（#navToggle）内のspanへの指定*/
　/*最初のspanをマイナス45度に*/
.openNav #navToggle span:nth-child(1) {
    top: 11px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg)}
　/*2番目と3番目のspanを45度に*/
.openNav #navToggle span:nth-child(2),
.openNav #navToggle span:nth-child(3) {
    top: 11px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg)}
 
/*header menu*/
　/*.openNavが付いた要素の中のnavを 縦方向に351px移動（=表示される）*/
.openNav nav {
    -moz-transform: translateY(351px);
    -webkit-transform: translateY(351px);
    transform: translateY(351px)}
}
