body{
	background-color:#f5f5f5;
	max-width:100%;
	font-size:12px;
	line-height: 20px;
	color: #000000
	font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

a {
	text-decoration: none ;
}
p{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type:none;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

h1{
	margin: 0;
	padding:18px 0 10px 20px;
}

div#header-wrapper{
	width:100%;
	margin:0 auto;
}	
div#header{
	margin:0 ;
	padding: 0;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color: #000033;
}

div#left-header{
   float : left;
   width: 35%;
   margin: 0;
}
div#left-header img{
	max-width:350px;
	width: 100%;
}
div#right-header{
	margin: 0;
	float:right;
    width: 60%;
    padding-top: 50px;
    padding-right: 20px;
    white-space: nowrap;
}
.nav {
font-size: 11px;
font-weight: 600;
}

.nav ul {
text-align:right;
position: relative;
margin: 0;
padding: 0;
list-style-type:none;
}
.nav ul::after {
display: block;
clear: both;
content: '';
}
.nav ul li {
position: relative;
display:inline;
padding-right: 1%;
padding-left: 1%;
}
.nav ul li:not(:first-child) {
border-left: none;
}
.nav ul li a:hover {
color: #cc9933;
}
.nav ul li a {
display:inline-block;
color: #ffffff;
line-height: 4;
text-align: center;
text-decoration: none;
white-space: nowrap;
}
.nav ul ul {
text-align:left;
position: absolute;
top: 0%;
left: 50%;
padding: 5px;
transform: translate(-50%, 28px);
background-color:#cbb994;
}
.nav ul ul li {
float: none;
display:block;
margin: 0;
padding-right: 0;
}
.nav ul ul li a {
float: none;
margin: 0;
padding: 0 10px;
color: #000033;
font-weight: normal;
line-height: 1;

}
.nav ul ul li:not(:first-child) {
border: 0px 
border-top: none;
}
.nav ul ul ul {
position: absolute;
top: -2px;
left: 100%;
}
.nav ul ul {
display: none;
}
.nav ul li:hover > ul {
display: block;
}

.icon-nav{
font-size:10px
-webkit-transform:scale(0.4);
-moz-transform:scale(0.4);
-ms-transform:scale(0.4);
-o-transform:scale(0.4);
transform:scale(0.4);
position: relative;
display: inline-block;
margin-left: 3px;
}

.mainbanner {
	margin: 0;
	padding: 0;
}
.mainbanner img{
	width: 100%;
	max-height: 325px;
	object-fit: cover;
	vertical-align:bottom;
}

div#wrapper{
	width:100%;
	margin:60px auto;
}	

div#content{
	max-width:862px;
	width: 100%;
	margin:0 auto;
	padding-bottom:60px; 
	background-color:#ffffff;
}

h2{
	background-color: #000033; 
	max-width:862px;
	height:auto;
	font-size: 16px;
	padding-top:8px;
	padding-left:24px;
	padding-bottom: 4px;
	margin:0px; 
	color:#ffffff;
	font-weight: 600;
	clear:both;
}
.h2-thumbnail{
	font-size: 13px;
	font-weight: normal;
	padding-left:10px;
}

h3{
	max-width:862px;
	background-size:100%;
	height:110px;
	padding-top:5%;
	padding-left:36%;
	margin:0px; 
	color:#000033;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 32px;
	clear:both;
}
.h3-type{
	background-color: #ffffff; 
	background-image:url("../../image/sa.png");
	background-repeat:no-repeat;
}

table{
	max-width:800px;
	width: 100%;

}
.table-type{
	margin: 0 auto;
	padding: 0;
	display: table;

}
.table-type tr{
	text-align:left;
	vertical-align:top;
}

.table-type th{
	width: 20%;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
}
.table-type td.block{
    width: 15%;
 
}
.table-type td.prap{
    width: 65%;
}
.table-type td img{
	max-width:200px;
	padding-right: 3%;
}

hr{
	border: none;
	height: 1px;
	background-color: #bbb;
	text-align: center;
	margin:25px 4%;

}

div#footer-wrapper{
	width:100%;
	margin:0 auto;
	background-color: #000033;
}
div#footer{
	margin:0 auto;
	width:96%;
	overflow:hidden;
	padding-top:38px; 
	padding-left:4%;
	padding-right: 0;
	padding-bottom:50px;

}
div#footer p{
	font-size:10px;
	color: #ffffff;
}
div#footer a:hover {
	opacity: 0.85 ;
}
div#footer img{
	padding-top:20px; 
	padding-right:1.8%; 
}
.footer-icon img{
	max-width:37px;
	width:100%;
}
.footer-banner img{
	max-width:120px;
	width:100%;
}

.pagetop
    {
    position: fixed;
    bottom: 16px;
    right: 16px;
    }
 
.pagetop a
    {
    display: block;
    text-decoration: none;
    }
 
.pagetop:hover
{
    opacity: 0.85 ;
}



/* タブレット用css　*/


@media only screen and (max-width:800px) and (min-width:481px){
body{
	margin:0;
	min-width:480px;
}
h1{
	margin: 0;
	padding:10px 0 10px 0px;
}
div#header{
	margin:0 ;
	padding: 0;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color: #000033;
}
div#left-header{
   float : left;
   width: 80%;
   height: 75px;
}
div#left-header img{
	max-width:300px;
	width: 100%;
	padding:0px 0 0px 20px;
}
div#right-header{
	margin: 0;
	float:right;
    width: 20%;
    padding-top: 0;
    padding-right: 0;
    white-space: none;
}

.nav{
	display: none;
}

div#wrapper{
	width: 90%;
	margin-top:40px;
	margin-bottom:40px;
}	
div#content{
	width: 100%;
	margin:0 auto;
	padding-bottom:40px; 
	background-color:#ffffff;
}

h3{
	height:80px;
	padding-top:4.5%;
	padding-left:36%;
	margin:0px; 
	color:#000033;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 26px;
	clear:both;
}


table{
	max-width:none;
	width: 93%;
}
table-type th{
	width: 15%;
	text-align:left;
	vertical-align:top;
	font-size: 16px;
	font-weight: bold;
}
.table-type td{
	width: 85%;

}
.table-type td img{
	float:left;
	width:150px;
	text-align:left;

}

 a#menu{
  	display: inline-block;
  	position: relative;
  	width: 50px;
  	height: 50px;
  	margin: 10px;
	}
p#menuWrap{
	margin-left: 90%;
}
#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 1px;
  	margin: -1px 0 0 -7px;
  	background: #cc9933;
  	transition: .2s;
	}

#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 1px;
  	background: #cc9933;
  	transition: .3s;
	}

#menuBtn:before{
  	margin-top: -7px;
	}

#menuBtn:after{
  	margin-top: 5px;
	}

a#menu .close{
  	background: transparent;
	}

a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -13px;
		z-index: 100;
	}

.panel ul{
	padding-left: 0;
	}

#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

#mainnav ul{
		background: #cbb994;
		text-align: left;
	}

#mainnav li a{
		position: relative;
		display:block;
		padding:10px 40px;
		border-top: 1px solid #cc9933;
		color: #000033;
		font-weight: 600;
	}
#mainnav li a:hover {
color: #cc9933;
background: #eddab3;
	}

#mainnav ul ul{
		font-size: 11px;
		text-align: left;
	}

#mainnav ul ul li a{
		position: relative;
		display:block;
		padding:5px 60px;
		color: #000033;
		font-weight: 300;
		border-top: 0;
	}
#mainnav ul ul li a:hover {
color: #cc9933;
background: #eddab3;
	}
#mainnav ul ul li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 45px;
		width: 3px;
		height: 3px;
		margin: -4px 0 0 0;
		border-top: solid 2px #cc9933;
		border-right: solid 2px #cc9933;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

/* スマホ用css*/

@media only screen and (max-width:480px) {
body{
	margin:0;
	max-width:480px;
}
h1{
	margin: 0;
	padding:0;
}
div#header{
	margin:0 ;
	padding: 0;
	width:100%;
	height:auto;
	overflow:hidden;
	background-color: #000033;
}
div#left-header{
   float : left;
   width: 70%;
   height: 60px;
}
div#left-header img{
	width:250px;
	padding:8px 0 0px 20px;
}
div#right-header{
	margin: 0;
	float:right;
    width: 30%;
    padding-top: 0;
    padding-right: 0;
    white-space: none;
}

.nav{
	display: none;
}

.mainbanner img{
	width: 100%;
	min-height: 200px;
	object-fit: cover;
	vertical-align:bottom;
}


div#wrapper{
	margin:20px 8px;
	width:auto;
}	

div#content{
	width: 100%;
	margin:0;
	padding-bottom:40px; 
	background-color:#ffffff;
}

h2{
	background-color: #000033; 
	max-width:464px;
	height:auto;
	font-size: 14px;
	padding-top:8px;
	padding-left:20px;
	padding-bottom: 4px;
	margin:0px; 
	color:#ffffff;
	font-weight: 600;
	clear:both;
}
.h2-thumbnail{
	font-size: 11px;
	font-weight: normal;
	padding-left:0px;
	display: block;
}

h3{
	max-height:60px;
	padding-top:3%;
	padding-left:36%;
	margin:0px; 
	color:#000033;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
	clear:both;
}
.h3-type{
	background-color: #ffffff; 
	background-image:url("../../image/sa.png");
	background-repeat:no-repeat;
}

tr, th, td {
display: block;
}

table{
	max-width:none;
	width: 90%;
}
.table-type tr{
	vertical-align:top;
}
.table-type th{
	width: 100%;
	vertical-align:top;
	padding-bottom: 10px: 
}

.table-type td.block{
    width: 100%;
    text-align:center;
    padding-bottom: 10px: 

}
.table-type td.prap{
	text-align:left;
    width: 100%;
}
.table-type td img{
	max-width:250px;
	padding-right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

div#footer{
	margin:0 auto;
	width:95%;
	overflow:hidden;
	padding-top:25px; 
	padding-left:5%;
	padding-bottom:30px;

}
div#footer p{
	font-size:10px;
	color: #ffffff;
}
div#footer a:hover {
	opacity: 0.85 ;
}
div#footer img{
	padding-top:20px; 
	padding-right:1.8%; 
}
.footer-icon img{
	max-width:37px;
	width:100%;
}
.footer-banner img{
	max-width:120px;
	width:100%;
}


 a#menu{
  	display: inline-block;
  	position: relative;
  	width: 50px;
  	height: 50px;
  	margin: 10px;
	}
p#menuWrap{
	margin-left: 80%;
	height: 60px;
}

#menuBtn{
  	display: block;
  	position: absolute;
  	top: 42%;
  	left: 50%;
  	width: 18px;
  	height: 1px;
  	margin: -1px 0 0 -7px;
  	background: #cc9933;
  	transition: .2s;
	}

#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 1px;
  	background: #cc9933;
  	transition: .3s;
	}

#menuBtn:before{
  	margin-top: -7px;
	}

#menuBtn:after{
  	margin-top: 5px;
	}

a#menu .close{
  	background: transparent;
	}

a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -11px;
		z-index: 100;
	}

.panel ul{
	padding-left: 0;
	}

#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

#mainnav ul{
		background: #cbb994;
		text-align: left;
	}

#mainnav li a{
		position: relative;
		display:block;
		padding:5px 40px;
		border-top: 1px solid #cc9933;
		color: #000033;
		font-weight: 600;
	}
#mainnav li a:hover {
color: #cc9933;
background: #eddab3;
	}

#mainnav ul ul{
		font-size: 11px;
		text-align: left;
	}

#mainnav ul ul li a{
		position: relative;
		display:block;
		padding:5px 60px;
		color: #000033;
		font-weight: 300;
		border-top: 0;
	}
#mainnav ul ul li a:hover {
color: #cc9933;
background: #eddab3;
	}
#mainnav ul ul li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 45px;
		width: 3px;
		height: 3px;
		margin: -4px 0 0 0;
		border-top: solid 2px #cc9933;
		border-right: solid 2px #cc9933;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}