/* 共通CSS */
body{
	margin:0;
	font-size: 16px;
}
/* 共通CSS ここまで */

/* トップページのためのCSS */
#home-wrapper a{
	text-decoration: none;
	color: inherit;
}
#home-header{
	width: 100%;
	height: 15vw;
	background: #000033;
}
#home-logo img{
	width: 35%;
	margin-top: 3.2vw;
	margin-left: 10%;
}
#home-globalnav{
	float: right;
	margin: 0 5% 0 0;
	padding-left: 0;
	background: #000033;
	width: 90%;
}
#home-globalnav li{
	list-style-type: none;
	margin: 0 0 1em 1em;
	font-size: 1em;
	color: #ffffff;
	width: 125px;
	display: inline-block;
	position: relative;
}
ul#home-globalnav li a:hover{
	color: #cc9933;
}

/* サブメニュー設定 */
ul#home-globalnav ul{
	display: none;
	z-index: 99;
	margin: 0px;
	padding: 0px;
	position: absolute;
	background: #cbb994;
}
ul#home-globalnav ul a li{
	display: block;
	background: #cbb994;
	color: #000033;
	margin: 0;
}
ul#home-globalnav ul a li:hover{
	background: #cc9933;
	color: #000033;
}

ul#home-globalnav li:hover ul{
	display: block;
}

.dropdown-icon{
	font-size: 0.5em;
	vertical-align: middle;
	padding-left: 0.75em;
}

#home-mainvisual{
	width: 100%;
	height: 45vw;
	background-image: url(../image/1108top.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 5;
}
#home-mainvisual p{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 80%;
	height: 3em;
	text-align: center;
	font-size: 1.5em;
	color: #ffffff;
	text-shadow: 0px 0px 15px #000000,0px 0px 15px #000000;
}
#home-contents{
	background: #f4f3f4;
}
#home-contents h1{
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}
div#notice{
	width: 81%;
	background: #ffffff;
	overflow: hidden;
	margin: 0 9.5%;
}
#notice-list{
	margin: 0 5%;
	width: 90%;
	padding: 1em 0em;
	background: #ffffff;
	list-style-type: none;
}
#notice-list li{
	border-bottom: dotted 1px #000000;
	padding: 0.5em 0;
}
#notice-more{
	width: 90%;
	background: #ffffff;
	text-align: end;
	margin: 1em 5%;
}
div#two-column{
	width: 81%;
	overflow: hidden;
	margin: 0 9.5%;
}
div#two-column img{
	width: 100%;
}
div#two-column p{
	text-align: center;
	margin: 0;
}
.two-column-left{
	clear: both;
	width: 48%;
	margin: 1em 2% 1em 0;
	float: left;
}
.two-column-right{
	width: 48%;
	margin: 1em 0 1em 2%;
	float: left;
}

div#four-column{
	width: 81%;
	overflow: hidden;
	margin: 0 9.5%;
}
div#four-column img{
	width: 100%;
}
div#four-column p{
	text-align: center;
	margin: 0;
}
.four-column-left{
	clear: both;
	width: 22%;
	margin: 1em 2% 1em 0;
	float: left;
}
.four-column-middle{
	width: 22%;
	margin: 1em 2% 1em 2%;
	float: left;
}
.four-column-right{
	width: 22%;
	margin: 1em 0 1em 2%;
	float: left;
}

#search-archive{
	width: 100%;
	height: 180px;
	background-image: url(../image/banner_09.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

}
#search-archive-text{
	width: 45%;
	margin-left: 55%;
	padding: 2.5vw 0;
	overflow: hidden;
	vertical-align: middle;
}
#search-archive-text h2{
	color: #c58e2d;
	margin: 0;
	font-size: 1.75em;
	font-weight: 600;
}
#search-archive-text h3{
	color: #c58e2d;
	margin: 0.25em 0 1em 0;
	font-size: 1em;
	font-weight: 600;
}
#search-archive-text h4{
	color: #ffffff;
	margin: 0 1em 0 0;
	font-size: 1em;
	font-weight: 600;
	float: left;
}
#google-custom-search{
	float: left;
}

div#three-column{
	width: 81%;
	overflow: hidden;
	margin: 0 9.5%;
}
div#three-column img{
	width: 20%;
	margin: 0 40%;
}
div#three-column p{
	text-align: center;
	margin: 0;
	color: #000033;
}
.three-column-left{
	clear: both;
	width: 30%;
	margin: 1em 2.5% 1em 0;
	float: left;
}
.three-column-middle{
	width: 30%;
	margin: 1em 2.5% 1em 2.5%;
	float: left;
}
.three-column-right{
	width: 30%;
	margin: 1em 0 1em 2.5%;
	float: left;
}

#home-footer{
	margin: 0;
	width: 100%;
	background: #000033;
	padding-left: 5%;
}
#home-footer p{
	margin: 0;
	padding: 2em 0;
	color: #ffffff;
}
#home-footer img{
	margin-right: 1em;
}
.snsicon{
	height: 2.75em;
}
#okagemairi{
	height: 3.75em;
}



/* トップページのためのCSS ここまで */



/* 下層ページのためのCSS */
#lower-wrapper a{
	text-decoration: none;
	color: inherit;
}
#lower-header{
	width: 100%;
	height: 30vw;
	background-image: url(../image/top1b.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
#lower-logo img{
	width: 40%;
	margin-top: 3.2vw;
	margin-left: 5%;
}
#lower-globalnav{
	float: right;
	margin: 0 5% 0 0;
	padding-left: 0;
}
#lower-globalnav li{
	list-style-type: none;
	margin: 0 0 0 1em;
	float: left;
	font-size: 1em;
}
#lower-globalnav a{
	float: left;
}
#lower-contents #content01{
	width: 86%;
	margin: 4em auto;
	background-color: #ffffff;
	overflow: hidden;
	padding-bottom: 15em;
}
#lower-contents #content01 h1{
	background-color: #000033;
	color: #ffffff;
	padding:8px 3%;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 0;
	font-size: 1.5em;
}
span#h1description{ /* 幅720px以下のとき非表示 */
	font-size: 0.625em;
	color: #ffffff;
	padding-left: 0.25em;
}
div#h1description-mini{ /* 幅720px以下のとき表示 */
	display: none;
}
div#h1description-mini p{
	font-size: 1em;
	color: #ffffff;
	padding-left: 1.5em;
	padding-bottom: 10px;
	margin: 0 0 0.5em 0;
	background-color: #000033;
	width: 100%;
	line-height: 1em;
	font-weight: 600;
}
#lower-contents #content01 #text01{
	width: 94%;
	margin: 1em auto;
}
#lower-contents #content01 #text01 p{
	width: 100%;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 600;
	color: #000033;
}
#lower-contents #content01 .left-menu{
	clear: both;
	width: 34%;
	margin: 1em 1% 1em 15%;
	float: left;
}
#lower-contents #content01 .right-menu{
	width: 34%;
	margin: 1em 15% 1em 1%;
	float: left;
}
#lower-contents #content01 img{
	width: 100%;
}
#lower-contents #content01 h2{
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
}

@media only screen and (min-width: 1000px){
	#lower-wrapper{
		font-size: 18px;
	}
}

@media only screen and (min-width: 1400px){
	#lower-wrapper{
		font-size: 20px;
	}
}

@media only screen and (min-width: 769px){
	#home-nav-drawer{
		display: none;
	}
	#lower-nav-drawer{
		display: none;
	}
}

@media only screen and (max-width: 768px){
	#home-wrapper{
		font-size: 14px;
	}
	#home-logo{
		float: left;
	}
	#home-logo img{
		width: 60%;
		margin-top: 3.2vw;
		margin-left: 40px;
	}
	#home-globalnav{
		display: none;
	}
	/* トップページ ハンバーガーメニュー ここから*/
	#home-nav-drawer{
		position: relative;
	}
	/* チェックボックス非表示 */
	#home-nav-drawer .nav-unshown{
		display: none;
	}
	/* ハンバーガーアイコン用スペース */
	#home-nav-drawer #nav-open{
		display: inline-block;
		position: absolute;
		width: 40px;
		height: 22px;
		vertical-align: middle;
		padding: 0;
		right: 30px;
		top: 7vw;
	}
	/* ハンバーガーアイコン */
	#home-nav-drawer #nav-open span,
	#home-nav-drawer #nav-open span:before,
	#home-nav-drawer #nav-open span:after{
		position: absolute;
		height: 4px; /* アイコンの線の太さ */
		width: 30px; /* アイコンの線の長さ */
		border-radius: 3px;
		background: #ffffff;
		display: block;
		content: '';
		cursor: pointer;
	}
	/* アイコンの線の間隔 */
	#home-nav-drawer #nav-open span:before{
		bottom: -10px;
	}
	#home-nav-drawer #nav-open span:after{
		bottom: -20px;
	}
	/* メニュー外領域の黒マスク */
	#home-nav-drawer #nav-close{
		display: none;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0;
		transition: 0s ease-in-out;
	}
	/* メニュー内部 */
	#home-nav-drawer #home-nav-content{
		overflow: scroll;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 20;
		width: 70%;
		max-width: 100%;
		height: 100%;
		background: #cbb994;
		transition: 0s;
		-webkit-transform: translateX(125%);
		transform: translateX(125%);
	}
	#home-nav-drawer #home-nav-content ul{
		padding: 0;
		margin: 0;
	}
	#home-nav-drawer #home-nav-content li{
		list-style-type: none;
		font-size: 1em;
		background: #cbb994;
		color: #000033;
		border: 1px solid #ffffff;
		padding: 0.5em 1em;
	}
	#home-nav-drawer #home-nav-content .category-li{
		background: #000033;
		color: #ffffff;
		font-weight: 600;
		padding-left: 0.5em;
	}
	/* チェック時の表示設定 */
	/* 黒マスク表示 */
	#home-nav-drawer #nav-input:checked ~ #nav-close{
		display: block;
		opacity: 0.7;
	}
	/* メニュー表示 */
	#home-nav-drawer #nav-input:checked ~ #home-nav-content{
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
/* トップページ ハンバーガーメニュー ここまで */
#search-archive-text{
	padding: 1vw 0;
}

	#lower-logo{
		float: left;
	}
	#lower-logo img{
		width: 70%;
		margin-top: 3.2vw;
		margin-left: 20px;
	}
	#lower-globalnav{
		display: none;
	}
	/* 下層ページ ハンバーガーメニュー ここから*/
		#lower-nav-drawer{
			position: relative;
		}
		/* チェックボックス非表示 */
		#lower-nav-drawer .nav-unshown{
			display: none;
		}
		/* ハンバーガーアイコン用スペース */
		#lower-nav-drawer #nav-open{
			display: inline-block;
			position: absolute;
			width: 30px;
			height: 22px;
			vertical-align: middle;
			padding: 0;
			right: 20px;
			top: 5vw;
		}
		/* ハンバーガーアイコン */
		#lower-nav-drawer #nav-open span,
		#lower-nav-drawer #nav-open span:before,
		#lower-nav-drawer #nav-open span:after{
			position: absolute;
			height: 4px; /* アイコンの線の太さ */
			width: 30px; /* アイコンの線の長さ */
			border-radius: 3px;
			background: #000000;
			display: block;
			content: '';
			cursor: pointer;
		}
		/* アイコンの線の間隔 */
		#lower-nav-drawer #nav-open span:before{
			bottom: -10px;
		}
		#lower-nav-drawer #nav-open span:after{
			bottom: -20px;
		}
		/* メニュー外領域の黒マスク */
		#lower-nav-drawer #nav-close{
			display: none;
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: black;
			opacity: 0;
			transition: 0s ease-in-out;
		}
		/* メニュー内部 */
		#lower-nav-drawer #lower-nav-content{
			overflow: hidden;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 20;
			width: 80%;
			max-width: 100%;
			height: auto;
			background: #ffffff;
			transition: 0s;
			-webkit-transform: translateX(125%);
			transform: translateX(125%);
		}
		#lower-nav-drawer #lower-nav-content ul{
			padding: 0;
			margin: 0;
		}
		#lower-nav-drawer #lower-nav-content li{
			list-style-type: none;
			font-size: 1.25em;
			background: #d5eaff;
			border: 1px solid #ffffff;
			text-align: center;
			padding: 0.5em 0;
		}

		/* チェック時の表示設定 */
		/* 黒マスク表示 */
		#lower-nav-drawer #nav-input:checked ~ #nav-close{
			display: block;
			opacity: 0.7;
		}
		/* メニュー表示 */
		#lower-nav-drawer #nav-input:checked ~ #lower-nav-content{
			-webkit-transform: translateX(0%);
			transform: translateX(0%);
		}
	/* 下層ページ ハンバーガーメニュー ここまで */

	span#h1description{
		display: none;
	}
	div#h1description-mini{
		display: block;
	}
}

@media only screen and (max-width: 610px){
	div#h1description-mini p {
		text-align: center;
		padding-left: 0;
	}
	#lower-contents #content01 .left-menu{
		width: 80%;
		margin: 1em auto;
		float: none;
	}
	#lower-contents #content01 .right-menu{
		width: 80%;
		margin: 1em auto;
		float: none;
	}
}

@media only screen and (max-width: 400px){
	#lower-wrapper{
		font-size: 14px;
	}
}

/* 下層ページのためのCSS ここまで */






