body{
	margin: 0px;
	background-image: url("img/gamen.gif");
	background-repeat: repeat;
	font-family: "HG明朝E",Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho",serif;
}
div#wrapper{
	max-width: 2000px;
	min-width: 320px;
	width: 100%;
	margin:0px;
}
div#header{
	width: 100%;
	height: 216px;
	background-color: #f4f2e5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
div#logo{
	margin-top: 50px;
	display: inline-block;
	margin-top: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
}
div#otoiawase{
	float: right;
	margin-top: 50px;
	margin-right: 8%;
	margin-left: 6%;
	
}
div#letter-buttom{
	background-color: #000000;
	width: 210px;
	height: 40px;
	display: table;
	float: right;
	margin-bottom: 20px;
}
.letter-img{
	display: table-cell;
	padding-top: 5%;
	padding-left: 6%;
}
div#letter{
	color: #FFFFFF;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.minchou{
	font-size:12px;
}
div#tel{
	margin-right: 0px;
	margin-bottom: 13px;
}
.tel-text1{
	font-size: 12px;
}
.tel-text2{
	font-size:18px;
	font-family: "Georgia",sans-serif;
	margin-right: -5px;
}
.tel-text3{
	font-size: 18px;
}
hr.sen1{
	margin-right: 6%;
	margin-left: 6%;
	width: 88%;
	clear: both;
	display: block;
	height: 2.5px;
	background-color: #e9e2b6;
	border: 0;
}
ul#globalnav{
	margin-right: 6%;
	margin-left: 6%;
	width: 88%;
	padding: 0px;
	margin-top: 16px;
	margin-bottom: 0px;
	display: flex;
	font-size: 0.93vw;
}
ul#globalnav li{
	float: left;
	list-style: none;
	text-align: center;
}
ul#globalnav li a{
	display: block;
	padding: 0px 0px 16px;
	position: relative;
	text-decoration: none;
}
ul#globalnav li a::before,
ul#globalnav li a::after{
	border-bottom: solid 2.5px #e9e2b6;
 	bottom: 0;
 	content: "";
 	display: block;
 	position: absolute;
 	transition: all .3s ease;
 	-webkit-transition: all .3s ease;
 	width: 0;
}
ul#globalnav li a::before{
	left: 50%;
}
ul#globalnav li a::after{
	right: 50%;
}
ul#globalnav li a:hover::before,
ul#globalnav li a:hover::after{
	width: 50%;
}
.gn1{
	padding-left: 2.571%;
	padding-right: 2.571%; 
	width: 7.5%;
}
.gn2{
	padding-left: 4.129%;
	padding-right: 4.129%;
	width: 4%;
}
.gn3{
	padding-left: 4.379%;
	padding-right: 4.379%;
	width: 3.5%;
}
.gn4{
	padding-left: 1.821%;
	padding-right: 1.821%;
	width: 9%;
}
.gn5{
	padding-left: 2.321%;
	padding-right: 2.321%;
	width: 8%;
}
.gn6{
	padding-left: 2.571%;
	padding-right: 2.571%;
	width: 7.5%;
}
.gn7{
	padding-left: 1.321%;
	padding-right: 1.321%;
	width: 10%;
}
.gn8{
	padding-left: 4.129%;
	padding-right: 4.129%;
	width: 4%;
}
.mainvisual{
	margin-top: 0px;
	margin-bottom: 0px;
}
.mainvisual img{
	width: 100%;
	margin-top: 216px;
}
.mainvisual img{
	position: relative;
}
.maintext{
	margin-top: -28%;
	margin-left: 5%;
	width: 20%;
	background-color: #FFFFFF;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding-left: 2.6%;
	padding-right: 5%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	line-height: 250%;
	margin-bottom: 0px;
	font-size: 1vw;
}
div#content{
	width: 100%;
	overflow: auto;
	background-color: #f4f2e5;
	padding-bottom: 10%;
}
div#banner1{
	width: 88%;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 400px;
	display: inline-block;
}
.banner1-img{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.banner1-img img{
	width: 100%;
}
div#banner1-right{
	width: 100%;
	padding-top: 3%;
	text-align: center;
}
.banner1-midashi{
	font-size: 30px;
	font-weight: bold;
}
.banner1-text{
	display: inline-block;
	text-align: left;
	line-height: 190%;
}
.banner1-buttom{
	margin-top: 70px;
}

div#banner2{
	width: 88%;
	margin-top:200px;
	display: inline-block;
	margin-left: 6%;
	margin-right: 6%;
}
div#banner2-left{
	text-align: center;
	padding-top: 3%;
}
.banner2-midashi{
	font-size: 30px;
	font-weight: bold;
}
.banner2-text{
	display: inline-block;
	text-align: left;
	line-height: 190%;
}
.banner2-buttom{
	margin-top: 70px;
}
.banner2-img{
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.banner2-img img{
	width: 100%;
}
div#banner3{
	width: 88%;
	margin-top: 200px;
	display: inline-block;
	margin-left: 6%;
	margin-right: 6%;
}
.banner3-img{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.banner3-img img{
	width: 100%;
}
div#banner3-right{
	width: 100%;
	padding-top: 3%;
	text-align: center;
}
.banner3-midashi{
	font-size: 30px;
	font-weight: bold;
}
.banner3-text{
	display: inline-block;
	text-align: left;
	line-height: 190%;
}
.banner3-buttom{
	margin-top: 70px;
}
div#banner4{
	width: 88%;
	margin-top:200px;
	display: inline-block;
	margin-left: 6%;
	margin-right: 6%;
}
div#banner4-left{
	text-align: center;
	padding-top: 3%;
}
.banner4-midashi{
	font-size: 30px;
	font-weight: bold;
}
.banner4-text{
	display: inline-block;
	text-align: left;
	line-height: 190%;
}
.banner4-buttom{
	margin-top: 70px;
}
.banner4-img{
	float: right;
	margin-bottom: 0px;
}
.banner4-img img{
	width: 100%;
}
div#buttom{
	width: 88%;
	margin-left: 6%;
	margin-right: 6%;
	clear: both;
	overflow: hidden;
}
ul#buttom1{
	clear: both;
	list-style: none;
	margin-top: 200px;
	padding-left: 0%;
	width: 100%;
	text-align: center;
}
ul#buttom1 li{
	display: inline-block;
	width: 20.5%;
	padding: 0 6%;
}
ul#buttom1 li a{
	display:block;
	text-indent:-9999px;
}
li.buttom1-img{
}
li.buttom1-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom1.png");
	background-repeat: no-repeat;
}
li.buttom1-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom1over.png");
	background-repeat: no-repeat;
}
li.buttom2-img{
}
li.buttom2-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom2.png");
	background-repeat: no-repeat;
}
li.buttom2-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom2over.png");
	background-repeat: no-repeat;
}

li.buttom3-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom3.png");
	background-repeat: no-repeat;
}
li.buttom3-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom3over.png");
	background-repeat: no-repeat;
}
ul#buttom2{
	clear: both;
	list-style: none;
	margin-top: 100px;
	margin-bottom: 200px;
	padding-left: 0%;
	width: 100%;
	text-align: center;
}
ul#buttom2 li{
	display: inline-block;
	width: 20.5%;
	padding: 0 6%;
}
ul#buttom2 li a{
	display:block;
	text-indent:-9999px;
}
li.buttom4-img{
}
li.buttom4-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom4.png");
	background-repeat: no-repeat;
}
li.buttom4-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom4over.png");
	background-repeat: no-repeat;
}
li.buttom5-img{
}
li.buttom5-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom5.png");
	background-repeat: no-repeat;
}
li.buttom5-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom5over.png");
	background-repeat: no-repeat;
}
li.buttom6-img a{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom6.png");
	background-repeat: no-repeat;
}
li.buttom6-img a:hover{
	height: 250px;
	width: 250px;
	background-image: url("img/buttom6over.png");
	background-repeat: no-repeat;
}
.news-title{
	text-align: center;
	clear: both;
}
div#news-content{
	width: 90%;
	margin-left: 3%;
	margin-right: 3%;
	padding-left: 2%;
	padding-right: 2%;
}
div#news1-content{
	display: table;
	width: 30%;
	height: 200px;
	background-color: #FFFFFF;
	border-radius:20px 20px 20px 20px;
	position: relative;
	float: left;
	margin-top: 100px;
	margin-right: 5%;
}
.news1-img{
	display: table-cell;
	vertical-align: middle;
	padding-left: 8%;
}
div#news1-text{
	display: table-cell;
	padding-left: 10%;
	padding-top: 4%;
}
.news1-text{
	font-size: 14px;
}
div#news2-content{
	display: table;
	width: 30%;
	height: 200px;
	background-color: #FFFFFF;
	border-radius:20px 20px 20px 20px;
	position: relative;
	float: left;
	margin-top: 100px;
	margin-right: 5%;
}
.news2-img{
	display: table-cell;
	vertical-align: middle;
	padding-left: 8%;
}
div#news2-text{
	display: table-cell;
	padding-left: 5%;
	padding-top: 4%;
}
.news2-text{
	font-size: 14px;
}
div#news3-content{
	display: table;
	width: 30%;
	height: 200px;
	background-color: #FFFFFF;
	border-radius:20px 20px 20px 20px;
	position: relative;
	float: left;
	margin-top: 100px;
}
.news3-img{
	display: table-cell;
	vertical-align: middle;
	padding-left: 8%;
}
div#news3-text{
	display: table-cell;
	padding-left: 5%;
	padding-top: 4%;
}
.news3-text{
	font-size: 14px;
}
hr.sen2{
	clear: both;
	display: inline-block;
	width: 100%;
	height: 2.5px;
	background-color: #e9e2b6;
	border: 0;
	margin-top: 200px;
	margin-bottom: 0px;
}
div#footer{
	background-color: #FFFFFF;
	padding-bottom: 25%;
	width: 100%;
}
div#footer-left{
	float: left;
	margin-left: 6%;
	margin-top: 5%;
}
.footer-left1{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size:14px;
}
.footer-left2{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size:14px;
	line-height: 170%;
}
.footer-left3{
	font-size:14px;
	font-family: "Georgia",sans-serif;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.footer-left4{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 15px;
}
.footer-left5{
	font-size:14px;
	font-family: "Georgia",sans-serif;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.footer-left6{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.facebook{
	float: left;
	vertical-align: top;
	clear: both;
	margin-right: 25px;
}
.twitter{
	float: left;
	vertical-align: top;
	margin-right: 25px;
}
.instagram{
	float: left;
	vertical-align: top;

}
div#tatesen{
	display: block;
	float: left;
	background-color: #e9e2b6; 
	width: 2.5px;
	height: 190px;
	margin-top: 5%;
	margin-left: 10%;
}
div#footer-right1{
	float: left;
	font-size: 0.9vw;
	margin-top: 5%;
	margin-left: 10%;
	line-height: 200%;
}
.footer-gn1{
	margin-top: 0%;
}
div#footer-right2{
	float: left;
	font-size: 0.9vw;
	margin-top: 5%;
	margin-left: 10%;
	line-height: 200%;
}
.footer-gn6{
	margin-top: 0px;
}
div#footer-right3{
	float: left;
	font-size: 0.9vw;
	margin-top: 5%;
	margin-left: 10%;
	line-height: 200%;
}
.footer-gn10{
	margin-top: 0px;
}

@media only screen and (max-width: 1200px){

div#wrapper{
	max-width: 1300px;
	min-width: 701px;
	width: 100%;
}
ul#globalnav{
	font-size: 0.92vw;
}
.maintext{
	margin-top: -28%;
	margin-left: 5%;
	width: 20%;
	background-color: #FFFFFF;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	padding-left: 2.6%;
	padding-right: 5%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	line-height: 250%;
	margin-bottom: 0px;
	font-size: 1vw;
}
div#banner1-right{
	float: none;
}
.banner1-img{
	float: none;
	text-align: center;
}
div#banner2-left{
	float: none;
}
.banner2-img{
	float: none;
	text-align: center;
}
div#banner3-right{
	float: none;
}
.banner3-img{
	float: none;
	text-align: center;
}
div#banner4-left{
	float: none;
}
.banner4-img{
	float: none;
	text-align: center;
}
ul#buttom1 li{
	display: inline-block;
	width: 20.5%;
	padding: 0 5%;
}
ul#buttom2 li{
	display: inline-block;
	width: 20.5%;
	padding: 0 5%;
}

}

@media only screen and (max-width: 800px){

div#wrapper{
	max-width: 800px;
	min-width: 500px;
	width: 100%;
}
div#header{
	height: 26%;
	width: 100%;

}
div#logo{
	position:absolute;
	left: 6%;
	transform: translate(0%,0%);
	margin-top: 6%;
}
ul#globalnav li{
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-align: left;
	width: 50%;
	padding-left: 0px;
	padding-right: 6%;
	padding-top: 0px;
	padding-bottom: 0px;
	pointer-events: none;
}
.mainvisual img{
	width: 100%;
	margin-top: 36%;
}
ul#buttom1{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15%;
}
ul#buttom1 li{
	display: block;
	margin-right: 0px;
	margin-bottom: 10%;
}
ul#buttom2{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-right: 15%;
}
ul#buttom2 li{
	display: block;
	margin-top: 0px;
	margin-bottom: 10%;
	margin-right: 0px;
}
div#news1-content{
	float: none;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
div#news2-content{
	float: none;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
div#news3-content{
	float: none;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
div#footer{
	padding-bottom: 35%;
}

}

@media only screen and (max-width: 479px){
body{
	margin: 0px;
}
div#wrapper{
	max-width: 905px;
	min-width: 320px;
	width: 100%;
}
div#header{
	height: 30%;
	width: 100%;

}
div#logo{
	position:absolute;
	left: 6%;
	transform: translate(0%,0%);
	margin-top: 6%;
}
div#logo img{
	width: 50%;
}
div#otoiawase{
	margin-top: 6%;
	margin-right: 6%;
}
div#tel{
	float: right;
	margin-bottom: 1px;
}
.tel-text1{
	font-size: 5px;
}
.tel-text2{
	font-size: 5px;
}
.tel-text3{
	font-size: 5px;
}
div#letter-buttom{
	clear: both;
	width: 140px;
	height: 10px;
	margin-bottom: 10px;
	padding-right: 3%;
}
.letter-img img{
	width:15px;
	height: 10px;
	padding-bottom: 7%;
}
.minchou{
	font-size: 4px;
}
ul#globalnav{
}
ul#globalnav li{
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	text-align: left;
	width: 50%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 5%;
	padding-bottom: 0px;
}
.mainvisual img{
	width: 100%;
	margin-top: 50%;
}
.maintext{
	display: none;
}
div#banner1{
	margin-top: 40%;
}
.banner1-img{
	clear: both;
}
.banner1-img img{
	width: 100%;
	margin-bottom: 78px;
}
div#banner1-right{
	margin-left: 0px;
	padding-top: 0px;
}
.banner1-midashi{
	font-size: 26px;
}
.banner1-text br{
	display: none;
}
div#banner2{
	display: flex;
	flex-flow: row wrap;
	margin-top: 40%;
}
div#banner2-left{
	margin-right: 0px;
	order: 2;
	padding-top: 0px;
}
.banner2-img{
	clear: both;
	order:1;
}
.banner2-img img{
	width: 100%;
	margin-bottom: 50px;
}
.banner2-midashi{
	font-size: 26px;
}
.banner2-text br{
	display: none;
}
div#banner3{
	margin-top: 40%;
}
.banner3-img{
	clear: both;
}
.banner3-img img{
	width: 100%;
	margin-bottom: 50px;
}
div#banner3-right{
	margin-left: 0px;
	padding-top: 0px;
}
.banner3-midashi{
	font-size: 26px;
}
.banner3-text br{
	display: none;
}
div#banner4{
	display: flex;
	flex-flow: row wrap;
	margin-top: 40%;
}
div#banner4-left{
	margin-right: 0px;
	order: 2;
	padding-top: 0px;
}
.banner4-img{
	clear: both;
	order:1;
}
.banner4-img img{
	width: 100%;
	margin-bottom: 50px;
}
.banner4-midashi{
	font-size: 26px;
}
.banner4-text br{
	display: none;
}
ul#buttom1{
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}
ul#buttom2{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.buttom6-img{
	margin-bottom: 200px;
}
div#news-content{
	position: static;
}
div#news1-content{
	width: 100%;
	margin-right: 0px;
}
div#news2-content{
	width: 100%;
	margin-right: 0px;
	margin-top: 10%;
}
div#news3-content{
	width: 100%;
	margin-right: 0px;
	margin-top: 10%;
}
div#footer{
	padding-bottom: 500px;
}
div#footer-left{
	clear: both;
	margin-top: 10%;
	margin-left: 14.6%;
	margin-right: 14.6%;
}
div#tatesen{
	clear: both;
	width: 265px;
	height: 2.5px;
	margin-left: 14.6%;
	margin-right: 14.6%;
}
div#footer-right1{
	margin-top: 10%;
	margin-left: 14.6%;
}
div#footer-right2{
	margin-top: 10%;
	margin-right: 14.6%;
	margin-left: 7%;
}
div#footer-right3{
	margin-top: 10%;
	margin-left: -5%;
}
}