
@charset "UTF-8";
/* 共通 */
body{
	margin: 0 auto;
	padding: 0;
	background-image: url("../images/back.jpg");
	width:100%;
	height: 100%;
	font-size:15px;
	line-height: 1.8;
	color: #0e2145;
	font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}
a {
	text-decoration: none ;
	color: #0e2145;
}
a:hover {
		opacity:0.5;
}
p{
	margin: 0;
	padding: 0;
	line-height: 1.8;
}

ul{
	list-style-type:none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
li{
	display: inline;
}

h1{
	margin: 0 auto;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 0.16em
}

h2{
	font-weight: normal;
}
/* header */
.header_wrap{
		position: relative;
		max-width: 1280px;
		margin:0 auto; 
	}
	
.header_main{
		width: 20%;
		height: 56px;
		margin-left: 40%;
		padding-top: 24px;
		text-align: center;
	}
.header_main img{
		max-width: 80px;
	}

.header_left{
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		padding-left: 3%;
		margin: 0;
	}
.header_left h1 {
		display: block;
		height: 100px;
		line-height: 100px;
	}
	
.header_nav{
		position: absolute;
		top: 0;
		right: 0;
		width: 40%;
		text-align: right;
		padding-right: 3%;
	}
.header_nav div{
		margin: 0;
		height: 100px;
		line-height: 120px;
	}
.header_nav img{
		max-height: 32px;
		width: auto;
	}
.header_nav div a{
		text-decoration: none;
		text-align: right;
		margin-left: 1%;
	}

.global_nav{
		max-width: 1280px
		margin:0 auto;
		padding-top: 80px;
		padding-bottom: 50px;
	}

.global_nav ul{
		text-align: center;
		padding: 0;
	}

.global_nav li {
		margin-left: 1.5%;
		margin-right: 1.5%;
		color: #0e2145;
		letter-spacing: 0.18em;
	}
.global_nav li a{
		color: #0e2145;
	}
.global_nav li a:hover{
	  /* border-bottom : solid 1px #0e2145 ;*/
	  border-width:1.5%;
	  padding-bottom: 14px;
	}

.global_nav li a#top:hover:before {
  content: '';
  left:15.5%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(-220%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#lineup:hover:before {
  content: '';
  left:26.5%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(-150%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#gallery:hover:before {
  content: '';
  left:38%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(-40%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#plan:hover:before {
  content: '';
  left:48.3%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(-7%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#maedori:hover:before {
  content: '';
  left:55%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(40%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#step:hover:before {
  content: '';
  left:66%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(90%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#hakama:hover:before {
  content: '';
  left:74.8%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(115%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}
.global_nav li a#contact_us:hover:before {
  content: '';
  left:82.5%;
  position: absolute;
  display: inline-block;
  width: 1.5%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateY(35px) translateX(140%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
 
}

.zdo_drawer_menu{
	display: none;
}


/* top main スライドショー */
.bg-slider {
	width: 100%;
	height: 80vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	margin-bottom: 108px;
}
.bg-slider img{
	max-width: 80px;
}
.bg-slider__title{
	color: #fff;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0.18em;
	text-align:center;
	text-shadow:0px 0px 10px #000000;
}
.bg-slider__caption{
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.18em;
	padding-top: 15PX;
	padding-bottom: 25px;
	text-align:center;
	text-shadow:0px 0px 10px #000000;
}


/* 下層 main タイトル見出し */

.bg_kasou-slider {
		background:#f8f8f8 url(../images/back.jpg);
		background-blend-mode: multiply;
		color: #0e2145;
		width: 100%;
		height: 185px;
		padding-top: 60px;
		padding-bottom:80px;
		text-align:center;
		margin-bottom: 80px;
}
.bg_kasou-slider__title{
    margin-bottom: 10px;
	font-size:24px;
	letter-spacing: 0.18em;
	font-weight: 400;
    line-height: 1;
}
.kasou_main__caption{
	font-size: 9px;
   	margin-bottom: 50px;
   	letter-spacing: 0.1em;
}
.kasou_main__caption:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 140px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -moz-transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateY(68px) translateX(-33%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }


/* main  */
.main_wrap{
	position: relative;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 108px;
}
.main_kasou_wrap{
	position: relative;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
}
.main_kasou_wrap p{
	text-align: center;
	letter-spacing: 0.18em;
    line-height: 2;
    padding:0 5%;
}

.main_wrap_sp{
	display: none;
}

.left_clearfix img{
	max-width: 55%;
	width: 100%;
	margin-bottom: 30px;
	margin-right: 5%;
}

.left_clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.left_box{
  float: left;
  width: 40%;
}

.main__title{
	display:inline-block;
	color: #0e2145;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin-top: 50px;
}
.main__title:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 135px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -moz-transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateY(55px) translateX(-15%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }

.main__caption{
  	font-size: 9px;
  	margin-bottom: 50px;
  }

.right_clearfix img{
	max-width: 55%;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 5%;
}
.right_clearfix:after {
  	content: "";
  	clear: both;
  	display: block;
	}
	.right_box{
  	float: left;
  	text-align: right;
  	width: 40%;
	}

.main__title2{	
	display:inline-block;
	color: #0e2145;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin-top: 60px;
}
.main__title2:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 135px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -moz-transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateY(55px) translateX(-25%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }

.main__caption2{
  	text-align: right;
  	font-size: 9px;
  	margin-bottom: 60px;
  }
.main__honbon2{
  	text-align: left;
  }


.main_kasou_wrap_col3{
	position: relative;
	width: 100%;
	margin-top: 80px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.col3 {
	width: 100%;
	display: flex;
	display: -ms-flexbox; /* IE10 */
	flex-wrap: wrap;
	-ms-flex-wrap: wrap; /* IE10 */
	margin-bottom: 40px;
}

.col3 img{
  width: 100%;
  display: block;
  border: solid 10px #f0f0f0;
}
.col3 > div{
	width: 33.3333%;
	padding: 20px;
}

.main_kasou_wrap_col2{
	position: relative;
	width: 100%;
	margin-top: 80px;
	padding:0 5%;
}

.voice_clearfix{
	  margin-bottom: 40px;
}

.voice_clearfix img{
	max-width: 350px;
	width: 100%;
	margin-bottom: 30px;
	margin-right: 5%;
}

.voice_clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.voice_box{
  float: left;
  text-align: center; 
  margin: 0;
  width: 60%;
}
.voice__title{
	display:inline-block;
	color: #0e2145;
	font-size: 28px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 10px;
}

.voice_box_name{
	color: #a19564;
	margin-top: 15px; 
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.voice_box img{
	width: 55px;
	margin: 0;
}

.voice_box p{
	margin-bottom: 20px;
	line-height: 2;
	letter-spacing: 0.1em;
	padding: 0;
}

/* pager */

.pager{
  /* For IE */
  -js-display: flex;
  display: flex;
  width: 210px;
  margin: 0 auto;
  margin-top: 70px;
}
.pager li{
  list-style-type: none;
  flex: 1;
}
.pager li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.pager li {
 
 /* For IE */
 display: flex;
 justify-content: center;
 margin: 0 1%;
}
 
.pager a {
  /* For IE */
  flex: 1;
  height:40px;
  text-decoration:none;
  color: #0e2145;
  background-color: #fff;
 border: solid 1px #0e2145;
}
 
/* Active 以外のhover */
.pager li:not([class*="active"]) a:hover { 
  background-color: rgba(255,255,255,2);
}
 
/* Activeのスタイル */
.pager li.active a { 
  background-color: #0e2145;
  color: #fff;
}

/*nextのスタイル */
 
.pager li.next a { 
border: none;
background-color: rgba(255,255,255,0);
font-weight: bold;
}

.pager ul {
   -webkit-padding-start: 0px;
}



/* gray　content */
.gray_wrap{
		background:#f8f8f8 url(../images/back.jpg);
		background-blend-mode: multiply;
		color: #0e2145;
		width: 100%;
		padding: 125px 0;
	}
.gray_content{
		max-width: 1280px;
		margin: 0 auto;
	}
.gray_content:after {
    	content: "";      
   		clear: both;
		display: block;
}
figure {
    display: block;
	margin: 0 auto;
	text-align: center; 
}

figure img {
	max-width: 300px;
	width: 100%;
    display: block; 
    margin-bottom: 25px; 
}
figure a:hover img{
	opacity: 0.7;
}
figure#ph-4left {
	width: 23%;
    float: left;
    margin-right: 2.5%;
}
figure#ph-4left img {
    display: block; 
}
figure#ph-4right {
	width: 23%;
    float: left;
    margin: 0;
}
figure#ph-4right img {
	width: 100%;
    display: block; 
}
figure#ph-4center {
	width: 23%;
    float: left;
    margin:0 2.5%; 
}
figure#ph-4center img {
    display: block; 
}

figcaption {
    line-height: 1;
    margin: 0 auto;
	font-size:20px;
	font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    border-bottom : solid 2px #0e2145;
    padding : 1em 0 ;
    display:inline-block
}

/* page top */
#page-top {
    position: fixed;
    bottom: 220px;
    right: 30px;
    font-size: 80%;
}
 
#page-top a {
    display: block;
    background: #999;
    opacity: 0.7;
    color: #fff;
    width: 80px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
 
#page-top a:hover {
    opacity: 0.5;
    text-decoration: none;
}

/* footer */
	footer{
		line-height: 40px;
		background-color: #0e2145;
	}
	footer p{
		font-size: 18px;
	}
	small{
		margin-left: 6%;
		font-size: 12px;
	}
	.footer_main{
		max-width: 1280px;
		height: 200px;
		margin: 0 auto;
		display: flex;
	}
	.footer_left{
		width: 70%;
		text-align: left;
		color: #fff;
		margin-top: 80px;
		padding-left: 3%;
	}
	.footer_left a {
		color: #fff;
	}
	.footer_right{
		width: 30%;
		color: #fff;
		margin-top: 80px;
		padding-right: 3%;
		text-align: right;
	}
	.footer_right img{
		max-height: 32px;
		width: auto;
	}
	.footer_right a{
		text-decoration: none;
		text-align: right;
		margin-left: 1%;
	}

	.footer_bottom{
		position: fixed;
		bottom: 0;
		clear : both;
		width: 100%;
		padding-top: 20px;
		right: 30px;
		height: 80px;
		color: #fff;
		font-family: sans-serif;
	}
	.footer_line{
		float: right;
		background-color: #2bbe12;
		width: 350px;
		height: 60px;
		border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		padding-top: 15px;
		padding-bottom:  15px;
		padding-left: 45px;
	}
	.footer_line a{
       color: #fff;
	}
	.footer_line img{
		max-width: 64px;
		margin-right: 8px;
	}
	.footer_line ul{
		margin: 0;
		padding: 0;
	}
	.footer_line li{
		padding-bottom: 15px;
	}

@media only screen and (max-width:1279px) and (min-width:481px){

.global_nav li a:hover{
		border-bottom : solid 1px #0e2145 ;
	  border-width:1.5%;
	  padding-bottom: 14px;
	}

.global_nav li a#top:hover:before {
  display: none;
}
.global_nav li a#lineup:hover:before {
  display: none;
}
.global_nav li a#gallery:hover:before {
  display: none;
}
.global_nav li a#plan:hover:before {
  display: none;
}
.global_nav li a#maedori:hover:before {
  display: none;
}
.global_nav li a#step:hover:before {
  display: none;
}
.global_nav li a#hakama:hover:before {
  display: none;
}
.global_nav li a#contact_us:hover:before {
   display: none;
}
}




@media only screen and (max-width:1000px) and (min-width:481px){
body{
	margin: 0 auto;
	padding: 0;
	background-image: url("../images/back.jpg");
	width:100%;
	height: 100%;
	font-size:13px;
	line-height: 1.8;
	color: #0e2145;
	font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

/* header */

.header_wrap{
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
.fixed {
    display: none;
}
.header_nav{
	display: none;
	}
.global_nav{
	display: none;
	}
.header_left{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 70px;

	}
.header_main img{
	max-width: 100px;
	}

/* globalナビ　sp */
.zdo_drawer_menu {
  display: block;}

.zdo_drawer_menu * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_menu li{
    display: block;
}
.zdo_drawer_menu a {
  color: inherit;
  text-decoration: none;
}

.zdo_drawer_menu a:visited {
  color: inherit;
}

.zdo_drawer_menu .zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.zdo_drawer_menu .zdo_drawer_button {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0 15px;
  width: 65px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1001;
  text-align: center;
  outline: none;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar {
  width: 49px;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(30deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-30deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_menu .zdo_drawer_bar {
  display: block;
  height: 2px;
  margin: 10px 0;
  transition: all 0.2s;
  transform-origin: 0 0;
}

.zdo_drawer_menu .zdo_drawer_text {
  text-align: center;
  font-size: 10px;
}

.zdo_drawer_menu .zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}

.zdo_drawer_menu .zdo_drawer_menu_text {
  display: block;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper {
  width: 312px;
  height: 100%;
  transition: all 0.2s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

.zdo_drawer_menu.left .zdo_drawer_button {
  right: auto;
  left: 32px;
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
  transform: translate(-312px);
  right: auto;
  left: 0;
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav {
  padding: 112px 24px;
}

.zdo_drawer_menu .zdo_drawer_nav li {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom : solid 1px #0e2145;

}

/*+++ Default Button Color +++*/
.zdo_drawer_menu .zdo_drawer_button {
  color: #0e2145;
}

.zdo_drawer_menu .zdo_drawer_button .zdo_drawer_bar {
  background-color: #0e2145;
}


/* top main スライドショー */
.bg-slider {
	width: 100%;
	height: 40vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	margin-top: 80px;
	margin-bottom: 80px;
}
.bg_kasou-slider {
	margin-top: 80px;
}

/* main  */
.main_wrap{
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

.left_clearfix img{
	max-width: 55%;
	width: 100%;
	margin-bottom: 50px;
	margin-right: 5%;
}
.right_clearfix img{
	max-width: 55%;
	width: 100%;
	margin-bottom: 50px;
	margin-left: 5%;
}
.main__title{
	display:inline-block;
	color: #0e2145;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin-top: 0;
}
.main__caption{
  	font-size: 9px;
  	margin-bottom: 20px;
  }
.main__title2{
	display:inline-block;
	color: #0e2145;
	font-size: 24px;
	letter-spacing: 0.1em;
	margin-top: 0;
}
.main__caption2{
  	font-size: 9px;
  	margin-bottom: 20px;
  }


.voice_clearfix img{
	max-width:30%;
	width: 100%;
	margin-bottom: 30px;
	margin-right: 5%;
}

.voice_clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.voice_box{
  float: left;
  text-align: center; 
  margin: 0;
  width: 65%;
}
.voice__title{
	display:inline-block;
	color: #0e2145;
	font-size: 28px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 10px;
}

.voice_box_name{
	color: #a19564;
	margin-top: 15px; 
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.voice_box img{
	width: 55px;
	margin: 0;
}

.voice_box p{
	text-align: left; 
}

/* gray　content */
.gray_wrap{
	background:#f8f8f8 url(../images/back.jpg);
	background-blend-mode: multiply;
	color: #0e2145;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 50px;
}
.gray_content{
	width: 90%;
	margin: 0 auto;
}

figure img {
	max-width: 500px;
	width: 100%;
    display: block; 
    margin-bottom: px; 
}
figure a:hover img{
	opacity: 0.7;
}
figure#ph-4left {
	width: 47%;
    float: left;
    margin: 0 1.5%;
}
figure#ph-4left img {
    display: block; 
}
figure#ph-4right {
	width: 47%;
    float: left;
    margin: 0 1.5%;}
figure#ph-4right img {
	width: 100%;
    display: block; 
}
figure#ph-4center {
	width: 47%;
    float: left;
    margin: 0 1.5%;
}
figure#ph-4center img {
    display: block; 
}

figcaption {
    line-height: 1;
    margin-bottom: 50px;
	font-size:20px;
	font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    border-bottom : solid 2px #0e2145;
    padding : 1em 0 ;
    display:inline-block
}



/* page top */
#page-top {
    position: fixed;
    bottom: 190px;
    right: 20px;
    font-size: 80%;
} 

/* footer */
	footer{
		line-height: 40px;
		background-color: #0e2145;
	}
	footer p{
		font-size: 18px;
	}
	small{
		font-size: 12px;
		margin-left: 3%;
	}
	.footer_main{
		width: 90%;
		height: 170px;
		margin: 0 auto;
		display: flex;
	}
		.footer_left{
		width: 70%;
		text-align: left;
		color: #fff;
		margin-top: 50px;
	}
	.footer_right{
		width: 30%;
		color: #fff;
		margin-top: 50px;
		text-align: right;
	}

	}


/* スマホレイアウト */
@media only screen and (max-width:480px) {
body{
	margin: 0 auto;
	padding: 0;
	background-image: url("../images/back.jpg");
	width:100%;
	height: 100%;
	font-size:13px;
	line-height: 1.8;
	color: #0e2145;
	font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}

.header_wrap{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.fixed {
    display: none;
}
.header_main{
		width: 20%;
		height: 76px;
		margin-left: 40%;
		padding-top: 35px;
		text-align: center;
	}
.header_nav{
	display: none;
	}
.global_nav{
	display: none;
	}
.header_left{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0;

	}
.header_main img{
	width: 90px;
	}	
.header_left h1 {
		display: block;
		height: 100px;
		line-height: 100px;
		font-size: 3vw;
	}

.header_wrap{
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
.fixed {
    display: none;
}
.header_nav{
	display: none;
	}
.global_nav{
	display: none;
	}
.header_left{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 70px;

	}
.header_main img{
	max-width: 100px;
	}

/* globalナビ　sp */
.zdo_drawer_menu {
  display: block;}

.zdo_drawer_menu * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.zdo_drawer_menu li{
    display: block;
}
.zdo_drawer_menu a {
  color: inherit;
  text-decoration: none;
}

.zdo_drawer_menu a:visited {
  color: inherit;
}

.zdo_drawer_menu .zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.zdo_drawer_menu .zdo_drawer_button {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 0 15px;
  width: 65px;
  letter-spacing: 0.1em;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1001;
  text-align: center;
  outline: none;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar {
  width: 49px;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar1 {
  transform: rotate(30deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar2 {
  opacity: 0;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_bar3 {
  transform: rotate(-30deg);
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_menu_text {
  display: none;
}

.zdo_drawer_menu .zdo_drawer_button.active .zdo_drawer_close {
  display: block;
}

.zdo_drawer_menu .zdo_drawer_bar {
  display: block;
  height: 2px;
  margin: 10px 0;
  transition: all 0.2s;
  transform-origin: 0 0;
}

.zdo_drawer_menu .zdo_drawer_text {
  text-align: center;
  font-size: 10px;
}

.zdo_drawer_menu .zdo_drawer_close {
  letter-spacing: 0.08em;
  display: none;
}

.zdo_drawer_menu .zdo_drawer_menu_text {
  display: block;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}

.zdo_drawer_menu .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

.zdo_drawer_menu.left .zdo_drawer_button {
  right: auto;
  left: 32px;
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper {
  transform: translate(-100%);
  right: auto;
  left: 0;
}

.zdo_drawer_menu.left .zdo_drawer_nav_wrapper.open {
  transform: translate(0);
}

/*+++ Default Navigation CSS +++*/
.zdo_drawer_menu .zdo_drawer_nav {
  padding: 80px 24px;
}

.zdo_drawer_menu .zdo_drawer_nav li {
  font-size: 15px;
  margin-bottom: 15px;
  border-bottom : solid 1px #0e2145;

}

/*+++ Default Button Color +++*/
.zdo_drawer_menu .zdo_drawer_button {
  color: #0e2145;
}

.zdo_drawer_menu .zdo_drawer_button .zdo_drawer_bar {
  background-color: #0e2145;
}


/* top main スライドショー */
.bg-slider {
	width: 100%;
	height: 35vh;
	margin-top: 60px;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	margin-bottom: 30px;
}
.bg-slider__title{
	color: #fff;
	font-size: 5vw;
	line-height: 1.5;
	letter-spacing: 0.18em;
	text-align:center;
	text-shadow:0px 0px 10px #000000;
}
.bg-slider__caption{
	color: #fff;
	font-size: 13px;
	line-height: 1.5;
	letter-spacing: 0.18em;
	padding-top: 3vw;
	padding-bottom: 25px;
	text-align:center;
	text-shadow:0px 0px 10px #000000;
}
.bg-slider img{
	max-width: 60px;
}

/* 下層 main タイトル見出し */

.bg_kasou-slider {
		background:#f8f8f8 url(../images/back.jpg);
		background-blend-mode: multiply;
		color: #0e2145;
		width: 100%;
		height: 145px;
		padding-top: 40px;
		padding-bottom:60px;
		text-align:center;
		margin-bottom: 60px;
		margin-top: 60px;
}
.bg_kasou-slider__title{
    margin-bottom: 10px;
	font-size:22px;
	letter-spacing: 0.18em;
	font-weight: 400;
    line-height: 1;
}
.kasou_main__caption{
	font-size: 9px;
   	margin-bottom: 50px;
   	letter-spacing: 0.1em;
}
.kasou_main__caption:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 140px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -moz-transform: translateX(-10%);
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateY(48px) translateX(-33%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }

/* main  */
.main_wrap{
	display: none;
}

.main_wrap_sp{
	display: inline;
	position: relative;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 50px;
	text-align:center;
}

.main_kasou_wrap{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}
.main_kasou_wrap p{
	text-align: left;
	letter-spacing: 0.18em;
    line-height: 2;
    padding:0 5%;
}


.sp_clearfix img{
	max-width: 360px;
	width: 100%;
	margin-right:0;
	margin-left: 0;
}

.sp_clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.sp_box{
	float: center;
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 20px;
	text-align:center;

}
.sp_box p{
	text-align:left;

}
.sp_main__title{
	display:inline-block;
	color: #0e2145;
	font-size: 6vw;
	letter-spacing: 0.1em;
	margin-top: 0;
}
.sp_main__title:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 135px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -moz-transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateY(50px) translateX(25%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }

 .sp_main__title2{
	display:inline-block;
	color: #0e2145;
	font-size: 6vw;
	letter-spacing: 0.1em;
	margin-top: 0;
}
.sp_main__title2:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 90px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -moz-transform: translateX(-20%);
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateY(50px) translateX(-9%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }
 .sp_main__title3{
	display:inline-block;
	color: #0e2145;
	font-size: 6vw;
	letter-spacing: 0.1em;
	margin-top: 0;
}
.sp_main__title3:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 90px;/*線の長さ*/
  height: 2px;/*線の太さ*/
  -moz-transform: translateX(-22%);
  -webkit-transform: translateX(-22%);
  -ms-transform: translateX(-22%);
  transform: translateY(50px) translateX(-9%);/*位置調整*/
  background-color: #0e2145;/*線の色*/
  }

.sp_main__caption{
  	font-size: 9px;
  	margin-bottom: 20px;
  }


.main_kasou_wrap_col3{
	position: relative;
	width: 100%;
	margin-top: 60px;
}

.col3 > div{
		width: 100%;
		padding: 20px 30px;
		margin-bottom: 0;
	}
.col3 img{
  max-width: 350px;
  width: 100%;
  display: block;
}


.main_kasou_wrap_col2{
	position: relative;
	width: 100%;
	margin-top: 60px;
	padding:0 5%;
}

.voice_clearfix{
	  margin-bottom: 20px;
}

.voice_clearfix img{
	width: 100%;
	margin-bottom: 30px;
	margin-right: 0;
}

.voice_clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.voice_box{
  float: left;
  text-align: center; 
  margin: 0;
  width: 100%;
}
.voice__title{
	display:inline-block;
	color: #0e2145;
	font-size: 24px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 10px;
}

.voice_box_name{
	color: #a19564;
	margin-top: 15px; 
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}

.voice_box img{
	width: 55px;
	margin: 0;
}

.voice_box p{
	margin-bottom: 20px;
	line-height: 2;
	letter-spacing: 0.1em;
	padding: 0;
}



/* gray　content */
.gray_wrap{
		background:#f8f8f8 url(../images/back.jpg);
		background-blend-mode: multiply;
		color: #0e2145;
		width: 100%;
		padding: 50px 3% 0 3%;
	}
.gray_content{
		width: 100%;
		margin: 0 auto;
		text-align: center; 
	}
.gray_content:after {
    	content: "";      
   		clear: both;
		display: block;
}
figure {
    display: block;
	margin: 0 auto;
}

figure img {
	max-width: 365px;
	width: 80%;
    display: block; 
    margin:0 auto;
    padding-bottom: 5px; 
}
figure a:hover img{
	opacity: 0.7;
}
figure#ph-4left {
	width: 100%;
    float: left;
    margin-bottom: 50px;
}
figure#ph-4left img {
    padding: 0;
}
figure#ph-4right {
	width: 100%;
    float: left;
    margin-bottom: 50px;
}
figure#ph-4right img {
	width: 80%;
	padding: 0;
}
figure#ph-4center {
	width: 100%;
    float: left;
    margin: 0 ;
    margin-bottom: 50px;
}
figure#ph-4center img {
	padding: 0;
}

figcaption {
    line-height: 1;
    margin: 0 auto;
	font-size:20px;
	font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    border-bottom : solid 2px #0e2145;
    padding : 1em 0 ;
    display:inline-block
}

/* pager */

.pager{
  /* For IE */
  -js-display: flex;
  display: flex;
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
}
.pager li{
  list-style-type: none;
  flex: 1;
}
.pager li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.pager li {
 
 /* For IE */
 display: flex;
 justify-content: center;
 margin: 0 1%;
}
 
.pager a {
  /* For IE */
  flex: 1;
  height:40px;
  text-decoration:none;
  color: #0e2145;
  background-color: #fff;
 border: solid 1px #0e2145;
}
 
/* Active 以外のhover */
.pager li:not([class*="active"]) a:hover { 
  background-color: rgba(255,255,255,2);
}
 
/* Activeのスタイル */
.pager li.active a { 
  background-color: #0e2145;
  color: #fff;
}

/*nextのスタイル */
 
.pager li.next a { 
border: none;
background-color: rgba(255,255,255,0);
font-weight: bold;
}

.pager ul {
   -webkit-padding-start: 0px;
}


/* page top */
#page-top {
    position: fixed;
    bottom: 75px;
    right: 15px;
    font-size: 80%;
}
 
#page-top a {
    display: block;
    background: #999;
    opacity: 0.7;
    color: #fff;
    width: 60px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
 
#page-top a:hover {
    opacity: 0.5;
    text-decoration: none;
}


/* footer */
	footer{
		line-height: 40px;
		background-color: #0e2145;
		text-align:center;
	}
	footer p{
		font-size: 18px;
	}
	small{
		margin-left: 0;
		font-size: 12px;
	}
	small::before {
	content: "\A" ;
	white-space: pre ;
}
	.footer_main{
		width: 100%;
		height: 220px;
		margin: 0 auto;
		padding: 0;
		flex-direction: column;
	}
	.footer_left{
		width: 100%;
		text-align: center;
		color: #fff;
		margin-top: 20px;
		padding: 0;
		float: none;
	}
	.footer_right{
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
	}

	.footer_bottom{
		position: fixed;
		bottom: 0;
		clear : both;
		width: 100%;
		margin: 0 auto;
		right: 0;
		padding:0 5%;
		height: 60px;
		color: #fff;
		font-family: sans-serif;
	}
	.footer_line{
		float: none;
		background-color: #2bbe12;
		width: 100%;
		height: 60px;
		border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0 / 10px 10px 0 0;
		padding-top: 15px;
		padding-left: 60px;
	}
	.footer_line a{
       color: #fff;
       font-size: 14px;
	}
	.footer_line img{
		max-width: 60px;
		margin-right: 8px;
	}
	.footer_line ul{
		margin: 0;
		padding: 0;
	}
	.footer_line li{
		padding-bottom: 15px;
	}


}
