#wrapper{
	width: 670px;
	margin: 0 auto;
	letter-spacing: 0.2em;
}
body{
	color: #4a4a4a;
}
.pc_header{
	width: 100%;
}
.sp_header{
	display: none;
}
.pc_h1{
	margin-bottom: 0px;
	margin-top: 0px;
}
.setumei{
	text-align: center;
	font-size: 0.8em;
}
p{
	display: inline-block;
	line-height: 2em;
	margin-top: 26px;
	margin-bottom: 40px;
}
.plan_title{
	position: relative;
	height: 50px;
}
.title_img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.plan_1{
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
}
.plan_2{
	width: 100%;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.plan_3{
	width: 100%;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.set_komono{
	width: 100%;
	height: 270px;
	margin-top: 20px;
}
.after{
	width: 100%;
	height: 270;
	margin-top: 70px;
}
h2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-size: 1em;
}
.plan_content{
	position: relative;
	z-index: 1;
	width: 664px;
	height: 220px;
	border: solid 3px #F5F5F5;
	margin-top: 10px;
}
.plan_content2{
	position: relative;
	z-index: 1;
	width: 664px;
	height: 200px;
	border: solid 3px #F5F5F5;
	margin-top: 10px;
}
.plan_content3{
	position: relative;
	z-index: 1;
	}
.plan_waku{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}
.gokounyu{
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 3;
}
h3{
	position: absolute;
	top: 10px;
	left: 210px;
	z-index: 3;
	font-size: 1em;
	letter-spacing: 0.25em;
}
.after_h3{
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 3;
}
.kakaku{
	position: absolute;
	top: 70px;
	left: 210px;
	z-index: 3;
	letter-spacing: 0.1em;
}
.small{
	font-size: 50%;
}
.big{
	font-size: 150%;
}
.plan_naiyou{
	position: absolute;
	width: 400px;
	height: 100px;
	z-index: 3;
	top:150px;
	left: 210px;
}
.plan_naiyou img{
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.order-rental{
	position: absolute;
	top: 7px;
	left: 20px;
	z-index: 3;
}
.oshitate-rental{
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 3;
}
.komono_ph{
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 3;
}
.komono-waku{
	position: absolute;
	top: 80px;
	left: 210px;
	z-index: 3;
}
.komono_list1{
	position: absolute;
	top: 70px;
	left: 220px;
	z-index: 3;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}
.komono_list2{
	position: absolute;
	top: 100px;
	left: 220px;
	z-index: 3;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}
.komono_space{
	margin-right:1.3em;
}
.note{
	position: absolute;
	top: 110px;
	left: 0px;
	z-index: 3;
	font-size: 0.75em;
	letter-spacing: 0.1em;
}
.maintenance_img{
	position: absolute;
	top: 10px;
	right: 0px;
	z-index: 3;
}
.button_p{
	text-align: center;
	margin-top: 230px;
}
#footer{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 50px;
}
.footer_box{
	background-image: url(../../img/footer/C3_footer_bg.jpg);
	border-image-repeat: repeat;
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.inquiry{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.img_box{
	position: relative;
	width: 65%;
	margin-left: 17.5%;
	margin-right: 17.5%;
}
.tel2{
	vertical-align: middle;
}
.time{
	font-size: 75%;
	margin-top: 0;
	margin-bottom: 0;
}
.otoiawase{
	position: absolute;
	right: 0px;
	top: 0px;
}
.footer_link{
	width: 65%;
	margin-left: 17.5%;
	margin-right: 17.5%;
	height: 30px;
}
.footer_link ul{
	list-style: none;
	float: right;
	margin-top: 8px;
	margin-bottom: 8px;
}
.footer_link ul li{
	float: left;
	font-size: 75%;
	margin-left: 30px;
}
.none_line{
	text-decoration: none;
	color: #4a4a4a; 
}
.footer_bottom{
	width: 65%;
	margin-left: 17.5%;
	margin-right: 17.5%;
	position: relative;
}
.twi{
	position: absolute;
	top: 15px;
	right: 0px;
}
.insta{
	position: absolute;
	top: 15px;
	right: 50px;
}
.fb{
	position: absolute;
	top: 15px;
	right: 100px;
}
.sp_naiyou{
	display: none;
}


@media only screen and (max-width: 1149px){

.otoiawase{
	position: static;
	display: inline-block;
	margin-top: 10px;
	vertical-align: middle;
}
}



@media only screen and (max-width: 670px){


body{
	margin: 0;
}
div#wrapper{
	margin-left: 8px;
	margin-right: 8px;
	width: auto;
}
.pc_header{
	display: none;
}
.sp_header{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100px;
	text-align: center;
	background: url(../../img/footer/C3_footer_bg.jpg);
	z-index: 1;
}
.sp_headerimg{
	width: 90%;
	display: inline-block;
	vertical-align: middle;
	z-index: 2;
}
.sp_h1{
	margin-top: 20px;
	z-index: 2;
}
.sp_whiteback{
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: white;
	top: 80px;
}
.setumei_br{
	display: none;
}
.plan_1{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.plan_title{
	width: 100%;
	height: 50px;
}
.title_img{
	width: 100%;
	height: 50px;
}
.plan_content{
	width: 99%;
	height: 500px;
}
.plan_content2{
	width: 99%;
	height: 370px;
}
h3{
	left: 5px;
	font-size: 0.9em;
}
.gokounyu{
	top: 80px;
	left:0;
	right: 0;
	margin: auto;
}
.kakaku{
	width: 180px;
	left: 0;
	right: 0;
	margin: auto;
	top: 300px;
}
.sp_naiyou{
	width: 100%;
	height: 100px;
	color: pink;
	z-index: 3;
}
.plan_naiyou{
	width: 100%;
	height: auto;
	top:370px;
	left: 0;
	text-align: center;
}
.plan_naiyou img{
	display: inline-block;
	float: none;
	margin-left: 5px;
}
.gedan{
	width: 375px;
	text-align: center;
}
.plan_2{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.order-rental{
	top: 80px;
	left:0;
	right: 0;
	margin: auto;
}
.plan_3{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.oshitate-rental{
	top: 80px;
	left:0;
	right: 0;
	margin: auto;
}
.set_komono{
	height: 420px;
}
.komono_ph{
	top: 80px;
	left:0;
	right: 0;
	margin: auto;
}
.komono-waku{
	display: none;
}
.komono_list1{
	top: 270px;
	left: 5px;
	font-size: 0.7em;
}
.komono_list2{
	top: 300px;
	left: 5px;
	font-size: 0.7em;
}
.komono_space{
	margin-right: 0.1em;
}
.after_h3{
	top:10px;
}
.maintenance_img{
	top: 50px;
	left:0;
	right: 0;
	margin: auto;
}
.note{
	top:230px;
}
.after{
	height: 475px;
}
.button_p{
	margin-top: 0px;
}
.note_br{
	display: none;
}
div#footer{
	width: 100%;
	margin-top: 50px;
}
.img_box{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
.tel2{
	width: 85%;
}
.footer_link{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	height: 50px;
}
.footer_link ul{
	width: 100%;
	padding-left: 0px;
}
.footer_bottom{
	width: 100%;
	margin: 0;
}
}

