div#wrapper{
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}
body{
	background-color: #cccccc;
}
div.top{
	border-bottom: 3px solid #000000;
}
h3{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-top: 50px;
	margin-bottom: 0px;
	background-color: #000033;
	color: #ffffff;
	clear: both;
}
span.small{
	padding-left: 10px;
	font-size: 12px;
	color: #ffffff;
}
div#banner_15{
	width: 310px;
	height: 172px;
	margin: 0px;
	float: left;
}
div#banner_15 img{
	width: 310px;
	height: 172px;
}
h1{
	margin:0;
	padding-top: 62px;
	padding-bottom: 62px;
	width: 100%;
	text-align: center;
}
p.kind{
	width: 100px;
	float: left;
	margin-top: 20px;
	margin-left: 40px;
	font-weight: bold;
}
div.box{
	margin-bottom: 20px;
	float: left;
	width: 220px;
	height: 210px;
	border: solid 1px #000000;
}
p.comment{
	margin-top:20px;
	margin-left: 20px;
	width: 700px;
	float: left;
}
div.img{
	margin-top: 20px;
	margin-bottom: 20px;
	width:230px;
	float: left;
}
div#color{
	padding-top: 100px;
	clear: both;
}

@media only screen and (max-width: 479px){
body{
	margin: 0;
}
h3{
	padding-right: 20px;
}
div#banner_15 {
	width: 100%;
	height: auto;
}
div#banner_15 img{
	width: 100%;
	height: auto;
}
h1{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 20px;
}
div.box{
	margin-left: 76px;
	margin-right: 76px;
	margin-top: 20px;
}
p.kind{
	width: 100%;
	margin: 0;
	text-align: center;
}
p.comment{
	width: 335px;
	margin: 20px; 
}
div.img{
	width: 100%;
	text-align: center;
}
}

}	

}