* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}
body{
	background-color: #d3d3d3;
}
a{
	text-decoration: none;
}
div#wrapper{
	width: 100%;
	margin: 0 auto;
}
div#header{
	width: 100%;
	height: 150px;
	background-color: #000033;
	border-bottom: 5px solid #c5a05a;
}
div#nav-drawer{
	width: 25px;
	height: 25px;
	float: left;
	position: relative;
	margin-top: 3%;
	margin-left: 3%;
}
.nav-unshown{
	display:none;
}
label#nav-open{
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}
label#nav-open span, label#nav-open span:before, label#nav-open span:after{
	position: absolute;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #FFFFFF;
	display: block;
	content: '';
	cursor: pointer;
}
label#nav-open span:before{
	bottom: -8px;
}
label#nav-open span:after{
	bottom: -16px;
}
label#nav-close{
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: .3s ease-in-out;
}
div#nav-content{
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 90%;
	max-width: 280px;
	height: 100%;
	background: #FFFFFF;
	transition: .3s ease-in-out;
	-webkit-transform: translateX(-105%);
	transform: translateX(-105%);
}
#nav-input:checked ~ #nav-close{
	display: block;
	opacity: .5;
}
#nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
div#nav-content li{
	width: 100%;
	height: 60px;
	float: left;
	border-bottom: 1.0px solid gray;
	text-align: center;
	list-style-type: none;
	padding-top: 20px;
}
div#nav-content li a{
	color: #000033;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
img#logo{
	height: 75px;
	margin-top: 30px;
	margin-left: 60px;
}
ul#glovalnav{
	height: 60px;
	background-color: #FFFFFF;
	padding-left: 100px;
}
ul#glovalnav li{
	height: 40px;
	float: left;
	border-right: 1.5px solid gray;
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul#glovalnav li#question{
	border-right: none;
}
ul#glovalnav li a{
	color: #000033;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
div#container{
	width: 100%;
}
img#top{
	width: 100%;
}
div#contents{
	width: 100%;
	max-width: 1160px;
	text-align: center;
	margin: 0 auto;
}
div#category{
	width: 100%;
	margin-top: 3%;
}
div#hajimete{
	width: 380px;
	float: left;
}
div#hajimete h2{
	background-image: url("../common/img/ipn_01.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 380px;
	float: left;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	padding-top: 275px;
}
div#hajimete h2:hover{
	opacity: 0.5;
}
h2 span{
	color: #c5a05a;
	font-size: 17px;
}
div#schedule{
	width: 380px;
	float: left;
}
div#schedule h2{
	background-image: url("../common/img/ipn_02.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 380px;
	float: left;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	padding-top: 275px;
}
div#schedule h2:hover{
	opacity: 0.5;
}
div#kensaku{
	width: 380px;
	float: left;
}
div#kensaku h2{
	background-image: url("../common/img/ipn_03.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 380px;
	float: left;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	padding-top: 275px;
}
div#kensaku h2:hover{
	opacity: 0.5;
}
div#infomation{
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
}
div#knowledge{
	width: 530px;
	height: 350px;
	float: left;
	margin-top: 5%;
}
h3{
	border-bottom: 1px solid gray;
	font-size: 25px;
	font-weight: bold;
	width: 530px;
}
img#knowledge01{
	width: 35%;
	float: left;
	margin-top: 20px;
}
div#knowledge p{
	float: left;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 0;	
}
div#knowledge p.more{
	width: 28%;
	background-color: #c5a05a;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.7%;
	padding-bottom: 0.7%;
	margin-top: 11px;
}
div#introduction{
	width: 530px;
	height: 350px;
	float: left;
	margin-top: 5%;
	margin-left: 40px;
}
img#introduction01{
	width: 35%;
	float: left;
	margin-top: 20px;
}
div#introduction p{
	float: left;
	font-size: 18px;
	line-height: 1.2;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 0;	
}
div#introduction p.more{
	width: 28%;
	background-color: #c5a05a;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.7%;
	padding-bottom: 0.7%;
	margin-top: 11px;
}
div#footer{
	width: 100%;
	float: left;
	background-color: #000033;
	color: #FFFFFF;
	text-align: center;
}
ul#footer_menu{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}
ul#footer_menu li{
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	padding-right: 2%;
}
div#footer_info{
	height: 200px;
	padding-top: 40px;
}
p#copyright{
	padding-top: 20px;
}


@media only screen and (max-width: 1300px) {

img#logo{
	margin-left: 40px;
}
ul#glovalnav{
	padding-left: 70px;
}
ul#glovalnav li{
	padding-left: 8px;
	padding-right: 8px;
}
div#contents{
	max-width: 850px;
}
div#hajimete{
	width: 280px;
}
div#hajimete h2 {
	height: 280px;
	font-size: 21px;
	padding-top: 205px;
}
h2 span{
	font-size: 13px;
}
div#schedule{
	width: 280px;
}
div#schedule h2 {
	height: 280px;
	font-size: 21px;
	padding-top: 205px;
}
div#kensaku{
	width: 280px;
}
div#kensaku h2 {
	height: 280px;
	font-size: 21px;
	padding-top: 205px;
}
div#infomation{
	max-width: 880px;
}
div#knowledge{
	width: 370px;
	height: 260px;
}
h3{
	font-size: 17px;
	width: 370px;
}
img#knowledge01{
	width: 35%;
}
div#knowledge p{
	font-size: 12px;
	margin-left: 18px;
}
div#introduction{
	width: 370px;
	height: 260px;
}
img#introduction{
	width: 35%;
}
div#introduction p{
	font-size: 12px;
	margin-left: 18px;
}
}


@media only screen and (max-width: 900px) {

div#header{
	height: 90px
}
img#logo{
	float: left;
	height: 65px;
	margin-top: 10px;
	margin-left: 30px;
}
ul#glovalnav{
	border-right: 1.5px solid #6B70A1;
	padding-left: 0;
}
ul#glovalnav li{
	width: 33.33%;
	height: 30px;
	border-bottom: 0.5px solid #6B70A1;
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
}
ul#glovalnav li#question{
	border-right: 1.5px solid #6B70A1;
}
li#kensaku.border{
	border-right: none;
}
div#contents{
	max-width: 660px;
}
div#hajimete{
	width: 220px;
}
div#hajimete h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 157px;
}
h2 span{
	font-size: 9px;
}
div#schedule{
	width: 220px;
}
div#schedule h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 157px;
}
div#kensaku{
	width: 220px;
}
div#kensaku h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 157px;
}
div#infomation{
	max-width: 670px;
}
div#knowledge{
	width: 310px;
	height: 220px;
}
h3{
	font-size: 17px;
	width: 310px;
}
div#knowledge p{
	font-size: 10px;
	margin-left: 18px;
}
div#introduction{
	width: 310px;
	height: 220px;
}
div#introduction p{
	font-size: 10px;
	margin-left: 18px;
}
}


@media only screen and (max-width: 479px) {

body{
	margin: 0;
}
div#wrapper{
	margin-left: 8px;
	margin-right: 8px;
	width: auto;
}
div#header{
	height: 65px;
}
img#logo{
	height: 45px;
	margin-top: 7px;
	margin-left: 20px;
}
ul#glovalnav{
	display: none;
}
div#contents{
	max-width: 220px;
}
div#category{
	margin-top: 14%;
}
div#infomation{
	max-width: 310px;
}
div#knowledge{
	height: 180px;
	margin-top: 15%;
}
div#introduction{
	height: 240px;
	margin-top: 0;
	margin-left: 0;
}
div#footer{
	padding-bottom: 18%;
}
ul#footer_menu li{
	float: none;
	padding-right: 0;
}
}


@media screen and (min-width:479px) {

label#nav-open{
	display: none;
}
}