* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
}
body{
	background-color: #d3d3d3;
}
a{
	text-decoration: none;
}
div#wrapper{
	width: 100%;
	margin: 0 auto;
}
div#header{
	width: 100%;
	height: 150px;
	background-color: #000033;
	border-bottom: 5px solid #c5a05a;
}
img#logo{
	height: 75px;
	margin-top: 30px;
	margin-left: 100px;
}
ul#glovalnav{
	height: 60px;
	background-color: #FFFFFF;
	padding-left: 70px;
}
ul#glovalnav li{
	height: 40px;
	float: left;
	border-right: 1.5px solid gray;
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul#glovalnav li#question{
	border-right: none;
}
ul#glovalnav li a{
	color: #000033;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
div#container{
	width: 100%;
}
img#top{
	width: 100%;
}
div#contents{
	width: 100%;
	max-width: 1000px;
	text-align: center;
	margin: 0 auto;
}
div#category{
	width: 100%;
	margin-top: 3%;
}
div#hajimete{
	width: 300px;
	float: left;
	margin-left: 5%;
}
div#hajimete h2{
	background-image: url("../common/img/ipn_01.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 300px;
	float: left;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	line-height: 1.3;
	margin: 0;
	padding-top: 220px;
}
div#hajimete h2:hover{
	opacity: 0.5;
}
h2 span{
	color: #c5a05a;
	font-size: 14px;
}
div#schedule{
	width: 300px;
	float: left;
}
div#schedule h2{
	background-image: url("../common/img/ipn_02.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 300px;
	float: left;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	line-height: 1.3;
	margin: 0;
	padding-top: 220px;
}
div#kensaku{
	width: 300px;
	float: left;
}
div#kensaku h2{
	background-image: url("../common/img/ipn_03.png");
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: 15px 15px;
	display: block;
	width: 100%;
	height: 300px;
	float: left;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	line-height: 1.3;
	margin: 0;
	padding-top: 220px;
}
div#infomation{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
div#knowledge{
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 5%;
	margin-left: 3%;
}
h3{
	border-bottom: 1px solid gray;
	font-size: 22px;
	font-weight: bold;
	width: 415px;
}
img#knowledge01{
	width: 37%;
	float: left;
	margin-top: 15px;
}
div#knowledge p{
	float: left;
	font-size: 13px;
	line-height: 1.3;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 0;	
}
p.more{
	width: 30%;
	background-color: #c5a05a;
	color: #FFFFFF;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 10px;
}
div#introduction{
	width: 400px;
	height: 300px;
	float: left;
	margin-top: 5%;
	margin-left: 7%;
}
img#introduction01{
	width: 37%;
	float: left;
	margin-top: 15px;
}
div#introduction p{
	float: left;
	font-size: 13px;
	line-height: 1.3;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 0;	
}
div#footer{
	width: 100%;
	float: left;
	background-color: #000033;
	color: #FFFFFF;
	text-align: center;
}
ul#footer_menu{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}
ul#footer_menu li{
	list-style-type: none;
	font-size: 15px;
	display: inline-block;
	text-align: center;
	padding-right: 2%;
}
div#footer_info{
	height: 200px;
	padding-top: 40px;
}
p#copyright{
	padding-top: 20px;
}


@media only screen and (max-width: 1000px) {

div#header{
	height: 90px
}
img#logo{
	height: 65px;
	margin-top: 10px;
	margin-left: 30px;
}
ul#glovalnav{
	padding-left: 0;
}
ul#glovalnav li{
	width: 33.33%;
	height: 30px;
	border-bottom: 0.5px solid #6B70A1;
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
}
ul#glovalnav li#question{
	border-right: 1.5px solid #6B70A1;
}
div#contents{
	max-width: 660px;
}
div#hajimete{
	width: 220px;
	margin-left: 0;
}
div#hajimete h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 155px;
}
h2 span{
	color: #c5a05a;
	font-size: 8px;
}
div#schedule{
	width: 220px;
}
div#schedule h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 155px;
}
div#kensaku{
	width: 220px;
}
div#kensaku h2{
	background-size: auto 85%;
	height: 220px;
	font-size: 15px;
	padding-top: 155px;
}
}


@media only screen and (max-width: 479px) {

body{
	margin: 0;
}
div#wrapper{
	margin-left: 8px;
	margin-right: 8px;
	width: auto;
}
div#header{
	height: 60px;
}
img#logo{
	height: 45px;
	margin-top:5px;
	margin-left: 15px;
}
ul#glovalnav{
	height: 150px;
}
ul#glovalnav li{
	width: 100%;
	border-left: 0.5px solid #6B70A1;
}
div#container{
}
div#contents{
}
div#footer{
	padding-bottom: 10%;
}
ul#footer_menu li{
	float: none;
	padding-right: 0;
}
}
